<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>员工列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			.mui-table-view:after {
				height: 0 !important;
			}
			
			.mui-table-view:before {
				height: 0 !important;
			}
			/*开始list*/
			
			* {
				margin: 0px;
				padding: 0px;
			}
			
			body {
				font-size: 16px;
			}
			
			ul#contList {
				width: 100%;
				background: #efeff4;
			}
			
			ul#contList li {
				margin-bottom: 10px;
			}
			
			
			/*结束list*/
		</style>
	</head>

	<body>
		<div id="vrac203_list01" class="mui-content mui-scroll-wrapper" style="background:;">
			<div class="mui-scroll">
				<div id="showHint" class="mui-h5" style="padding:100px;height:300px;text-align: center;display:block;">
					<span class="icon iconfont icon-wushuju" style="color:;font-size:100px;"></span>
					<p style="color:#000000;margin-top:10px;margin-bottom:0;padding-bottom:0;">未查询到相关的数据</p>
					<p style="font-size:10px;">可以尝试其他查询</p>
				</div>
				<div id="searching" class="mui-h5" style="padding:100px;height:300px;text-align: center;display:none;">
					<p class="mui-icon mui-icon-search" id="" style=";color:#0062cc;height:100px;line-height: 100px;font-size: 100px;"></p>
					<p style="font-size:12px;">正在搜索中......</p>
				</div>
				<ul id="contList" class="mui-table-view mui-table-view-striped mui-table-view-condensed" style="margin-bottom:50px;">
				</ul>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		mui.init({
			pullRefresh: {
				container: '#vrac203_list01',
				down: {
					contentrefresh: "正在刷新...",
					callback: pulldownRefresh
				},
				up: {
					contentrefresh: '正在加载...',
					callback: pullupRefresh
				}
			}
		});
		var startIndex = 1;
		var pageSize = 10;
		var search = '';
		var detailInfo = [];
		var queryparmas = {}; //查询参数
		var openlock = false; // 用于区分是首次进入页面还是搜索页面
		var pager = {};
		var teamBillCom = "";
		var teamBillComName = "";
		var userbillNo = "";
		var fiscalperiod = "";
		var billtask = "";
		var searchUser;
		// TODO
		mui.plusReady(function() {
			//接收传过来的参数
			var self = plus.webview.currentWebview().parent();
			teamBillCom = self.teamBillCom;
			teamBillComName = self.teamBillComName;
			userbillNo = self.userbillNo;
			loginCom = self.loginCom;
			loginComName = self.loginComName;
			fromPage = self.fromPage;
			privileges = vlUtils.getStorage("newPrivileges");
			commonParams = self.commonParams;
			billtask = commonParams;

			// 默认查询
			if(privileges == "ROOT"){
				searchUser = "%";
			}else{
				searchUser = userbillNo;
			}
			//默认查询11月份 
			var dates = new Date();
			var currentMonth = dates.getMonth()+1; // 获取当前月份
			if(currentMonth.length == 1) {
				currentMonth = "0" + currentMonth;
			}
			var currentYear = dates.getFullYear(); // 获取当前年份
			fiscalperiod = currentYear * 100 + currentMonth;
			queryparmas = {
				name: 'msvr',
				bill_task:billtask,			// 默认查询的指令// q_sa001_sa214 //q_vrsa001
				bill_com: teamBillCom,		// 当前单位
				bill_user:searchUser,		// 当前登陆人
				//	fbill_no: "ROOT",		// 查询主表
				fiscal_period:fiscalperiod,
				currentPage: 1,
				pageSize: pageSize,
				paramText: ""
			};
			plus.nativeUI.showWaiting("正在查询数据..."); 
			rqsDataAjax(queryparmas,'/Find/Ddata/activity',reportData,'../login.html',true);

			// 选择报表名称后进行查询
			window.addEventListener('changeReport', function(event) {
				billtask = event.detail.billtask;
				fiscalperiod = event.detail.fiscalperiod;
				document.getElementById("contList").innerHTML = '';
				document.getElementById("searching").style.display = "block";
				document.getElementById("showHint").style.display = "none";
				queryparmas = {
					name: 'msvr',
					bill_task: billtask, // 查询的指令
					bill_com: teamBillCom, // 当前单位
					bill_user: searchUser, // 当前登陆人
					//fbill_no: "ROOT",			// 查询主表
					fiscal_period: fiscalperiod,
					currentPage: 1,
					pageSize: pageSize,
					paramText: ""
				};
				plus.nativeUI.showWaiting("正在查询数据..."); 
				rqsDataAjax(queryparmas, '/Find/Ddata/activity', reportData, '../login.html',true);
				//return;
			});

		}); // plusReady

		//下拉刷新
		function pulldownRefresh() {
			document.getElementById("contList").innerHTML = "";
			document.getElementById("showHint").style.display = "none";
			document.getElementById("searching").style.display = "block";
			//
			queryparmas.currentPage = 1;
			queryparmas.pageSize = pageSize;
			plus.nativeUI.showWaiting("正在查询数据..."); 
			rqsDataAjax(queryparmas, '/Find/Ddata/activity', reportData, '../login.html',true);
			mui('#vrac203_list01').pullRefresh().endPulldownToRefresh(); //下拉完成后可以再次执行下拉刷新

		}

		/*上拉加载具体业务实现 */
		function pullupRefresh() {
			if(queryparmas.currentPage < pager.totalPage) {
				queryparmas.currentPage = queryparmas.currentPage + 1;
				queryparmas.pageSize = pageSize;
				plus.nativeUI.showWaiting("正在查询数据..."); 
				rqsDataAjax(queryparmas, '/Find/Ddata/activity', reportData, '../login.html',false);
				mui('#vrac203_list01').pullRefresh().endPullupToRefresh();
			} else {
				plus.nativeUI.toast("~没有更多啦~", {
					'verticalAlign': "middle"
				});
				mui('#vrac203_list01').pullRefresh().endPullupToRefresh();
				return;
			}
		}

		//发送ajax
		function reportData(data, type) {
			pager=data.page;
			//将数据传给Plist进行表头更换
			mui.fire(plus.webview.getWebviewById('vrac203_plist01.html'), 'changeReportPlist', {
				data: data
			});
			document.getElementById("showHint").style.display = "none";
			if(data.data.length != 0) {
				document.getElementById("searching").style.display = "none";
				
				for(var i = 0; i < data.data.length; i++) {
					var newdataArr = {};
					for(var k in data.data[i]) {
						newdataArr[k.slice(0, 2)] = data.data[i][k];
					}
					var contList = document.getElementById("contList");
					if(type&&i==0){
						contList.innerHTML="";
					}
					var li = document.createElement("li");
					li.setAttribute("data-row",JSON.stringify(newdataArr));
					li.setAttribute("class", "mui-table-view-cell");
					li.style.padding = "0px";
					li.style.borderBottom = "1px solid #20B2AA";
					var text = '';
					text += '<div class="mui-row" style="padding:0;font-size: 12px;text-align: center;">';
					text += '<div  class="mui-col-xs-4" style="padding-left:10px;">';
					text += '<h4 id="" style="margin:0;text-align:left;font-size:14px;padding-top:1px;font-weight:normal;">' + newdataArr["图片"] + '</h4>';
					text += '<p style="margin:0;text-align:left;font-size:12px;">核算期：' + newdataArr["日期"] + '</p>';
					text += '</div>';
//					text += '<span class="mui-col-xs-2" style="background:">' + newdataArr["标题"] + '</span>';
					text += '<span class="mui-col-xs-2" style="background:">' + newdataArr["标题"] + '</span>';
					text += '<span class="mui-col-xs-2" style="background:">' + newdataArr["内容"] + '</span>';
					text += '<span class="mui-col-xs-2" style="background:">' + newdataArr["数量"] + '</span>';
					text += '<span class="mui-col-xs-2" style="background:">' + newdataArr["金额"] + '</span>';
//					text += '<span class="mui-col-xs-2" style="background:">' + newdataArr["日期"] + '</span>';
					text += '</div>';
					if(type&&i==0){
						document.getElementById("searching").style.display = "none";
					}
					li.innerHTML = text;
					contList.appendChild(li);
				}
			} else { // 如果没有长度说明没有数据，提示没有数据
				document.getElementById("contList").innerHTML = '';
				document.getElementById("showHint").style.display = "block";
				document.getElementById("searching").style.display = "none"; 
			}
			plus.nativeUI.closeWaiting();
		}
	</script>

</html>