<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.css">
		<link rel="stylesheet" href="../../css/index.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			body {
				font-size: 12px;
			}
			
			
			
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			.mui-bar .mui-icon:active {
				background: #0062cc!important;
			}
			
			.mui-bar-nav~.mui-content .mui-pull-top-pocket {
				top: 100px;
			}
			
			#searchName {
				font-size: 12px;
				margin: 2px 5px;
				padding: 0;
				height: 30px;
				line-height: 30px;
				border: 1px solid #007aff;
				/*dedee2*/
				border-radius: 3px;
				text-align: center;
				color: #007aff;
			}
			.mui-input-group:before,
			.mui-input-group:after{
				height:0px;
			}
			label{
				font-size: 12px;
				color: #6C6C6C;
			}
			input{
				font-size: 10px;
			}
			input[placeholder] {
				padding-left:10px !important;
				font-size: 10px;
				line-height: 10px;
				color: #000;
			}
			.mui-icon.mui-icon-search {
				position: absolute;
				top: 3px;
				right: 0;
				
				width: 36px;
				height: 26px;
				
				text-align: center;
				color: #FFFFFF;
				
				margin:0 !important;
				padding:0 !important;
				
				border-radius: 0 10px 10px 0;
				background: #5da8fa;
			}
			.mui-icon.mui-icon-search:hover{
				background: #C8C7CC;
			}
		</style>
	</head>
		<header class="mui-bar mui-bar-nav headerMain plistHeader" id='head' style="height: 170px;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="goBack"></a>
			<div class="mui-title plistTitle" id="selectionDepartment">
				<p id="TO"></p>
				<h1 id="header"></h1>
				<span style="position: relative;left:58px;top:-35px;color:white;font-size:12px;display:none;margin-left:20px;display:none;" id="moredept">▼</span>
			</div>
			<div class="mui-row" style="position:fixed;top:70px;left:0px;width:100%;height:auto;background:#fff; color: #000;">
				<div class="mui-col-xs-9 mui-row" style="margin-bottom:6px;">
					<div class="mui-input-row mui-col-xs-12" style="margin-top:3px;position: relative;">
						<label>选择部门:</label>
						<input id="bill_name" type="text" class="change requiredInput" placeholder="录入关键词搜索" style="border:1px solid #5da8fa;border-radius:10px;height:26px;margin-top:3px;">
						<span id="searchBname" class="mui-icon mui-icon-search"></span>
					</div>
					<div class="mui-col-xs-12 mui-row">
						<div class="mui-col-xs-6">
							<div class="mui-input-row" style="margin:0;padding:0;">
								<label style="margin:0;padding:0;text-align: center;">开始<br/>时间</label>
								<input id="bill_date" type="date" class="change requiredInput" style="border:1px solid #5da8fa;border-radius:10px;height:26px;margin:0;padding:0;">
							</div>
						</div>
						<div class="mui-col-xs-6">
							<div class="mui-input-row" style="margin:0;padding:0;">
								<label style="margin:0;padding:0;text-align: center;">结束<br/>时间</label>
								<input id="bill_ndate" type="date" class="change requiredInput" style="border:1px solid #5da8fa;border-radius:10px;height:26px;margin:0;padding:0;">
							</div>
						</div>
					</div>
				</div>
				<span class="mui-col-xs-2" id="search" style="margin:15px;">
					<button class="mui-btn-primary mui-btn-outlined">查询</button>
				</span>
			</div>
			<div id="report03" class="mui-row" style="position:fixed;top:140px;width:100%;background:#20B2AA;padding:0;text-align: center;height: 30px;line-height: 30px;margin-left:0px;color:#fff;">
				<span class="mui-col-xs-6" id="title0" style="text-align: left;padding-left: 10px;">片区名称</span>
				<span class="mui-col-xs-2" id="title1" style="text-align: center;">拜访次数</span>
				<span class="mui-col-xs-4" id="title2" style="text-align: center;">最后一次拜访时间</span>
			</div>
			<div id="report02" class="mui-row" style="position:fixed;top:140px;width:100%;background:#20B2AA;padding:0;text-align: center;height: 30px;line-height: 30px;margin-left:0px;color:#fff;">
				<span class="mui-col-xs-4" id="title3" style="text-align: left;padding-left: 10px;">片区信息</span>
				<span class="mui-col-xs-4" id="title4" style="text-align: center;">终端名称</span>
				<span class="mui-col-xs-2" id="title5" style="text-align: center;">营业状态</span>
				<span class="mui-col-xs-2" id="title6" style="text-align: center;">拜访时间</span>
			</div>
		</header>
		<div class="mui-content" style="border: transparent;">

		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		//启用双击监听
		mui.init({
			gestureConfig: {
				doubletap: true
			},
			subpages: [{
				url: 'vrsa402_list.html',
				id: 'vrsa402_list.html',
				styles: {
					top: '175px',
					bottom: '0px',
				}
			}]
		});
		var searchName = '';
		var searchCode = '';
		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap', function() {
			if(contentWebview == null) {
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#vrsa402_list').pullRefresh().scrollTo(0,0,100)");
		});
		mui.plusReady(function() {
			//接收传过来的参数
			var self = plus.webview.currentWebview();
			teamBillCom 	= self.teamBillCom;
			teamBillComName = self.teamBillComName;
			userbillNo 		= self.userbillNo;
			userName 		= self.userName;
			loginCom 		= self.loginCom;
			loginComName 	= self.loginComName;
			privileges 		= vlUtils.getStorage("newPrivileges");
			commonParams 	= self.commonParams;
			fbill_no		= self.fbill_no;
			var fromPage 	= self.fromPage;
			var pageTitle   = self.pageTitle;
			var fbillnoName = self.fbillnoName;
			var dataInfo = self.dataInfo; //
			//
			var dates = new Date();
			var year = dates.getFullYear();
			var curtMonth = dates.getMonth() + 1;
			var curtDay = dates.getDate();
			if(String(curtMonth).length == 1){
				curtMonth = "0" + curtMonth;
			}
			if(String(curtDay).length == 1){
				curtDay = "0" + curtDay;
			}
			var curtYM = year +"-"+ curtMonth+"-01";
			var curtYMD = year +"-"+ curtMonth+"-"+curtDay;
			jQuery("#bill_date").val(curtYM);
			jQuery("#bill_ndate").val(curtYMD);
			// 更改header的显示信息
			document.getElementById("TO").innerHTML = pageTitle; //头部显示发货单位名
			document.getElementById("header").innerHTML = fbillnoName; //头部显示发货单位名
			
			// 点击查询按钮
			document.getElementById("search").addEventListener("tap", function() {
				var bdate = jQuery("#bill_date").val();
				var edate = jQuery("#bill_ndate").val();
				var bname = jQuery("#bill_name").val();
				if(vlUtils.isnull(bdate) || vlUtils.isnull(edate) || vlUtils.isnull(bname)){
					mui.toast("请先选择查询条件~");
					return;
				}
				searchReport(bname,bdate,edate);
				// 传值给子表
				mui.fire(plus.webview.getWebviewById('vrsa402_list.html'), 'changeReport', {
					bname: bname,
					bdate: bdate,
					edate: edate,
					commonParams:commonParams
				});
			});
			//
			// 4-4 时间变化，重新计算天数
			jQuery(".change").bind("input propertychange",function(event){
				var bdate = jQuery("#bill_date").val();
				var edate = jQuery("#bill_ndate").val();
				var bname = jQuery("#bill_name").val();
				if(!vlUtils.isnull(bdate) && !vlUtils.isnull(edate) && !vlUtils.isnull(bname)){
					searchReport(bname,bdate,edate);
					// 传值给子表
					mui.fire(plus.webview.getWebviewById('vrsa402_list.html'), 'changeReport', {
						bname: bname,
						bdate: bdate,
						edate: edate,
						commonParams:commonParams
					});
				}
			});
			//
			if(fromPage == "work") {
				if(dataInfo.length != 0) {
					document.getElementById("header").innerHTML = dataInfo[0].title;
					// 查询部门
				} else {
					document.getElementById("header").innerHTML = "";
				}

			} else {
				document.getElementById("header").innerHTML = teamBillComName; //头部显示发货单位名
			}
			// 按部门查询
			document.getElementById("searchBname").addEventListener("tap",function(){
				var prvlgs = vlUtils.getStorage("newPrivileges");
				var nowsys = (JSON.parse(vlUtils.getStorage("user"))).com_linkvd_userCom;
				var bflow = '';
				if(prvlgs == "ROOT" && nowsys == '企业'){
					bflow = "管理员";
				}
				var btitle = document.getElementById("bill_name").value;
				var deptparmas = {
					name: 'msvr',
					bill_task: "VR_find_vdvc103_02", // 查询的指令
					bill_com: teamBillCom, 				// 当前单位
					bill_user: userbillNo, // 当前登陆人
					bill_dept: fbill_no,	// 查询
					bill_bflow:bflow,
					bill_title:btitle,
					bill_name: document.getElementById("header").innerHTML,	// 查询
					currentPage: 1,
					pageSize: 100,
					paramText: ""
				};

				rqsDataAjax(deptparmas, '/Find/Ddata/activity', deptData, '../login.html');
			},false)
			// 更换 表头
			function deptData(data, type) {

				//
				if(data.data.length != 0) {
					var reportArr = [];
					// 获取数组
					for(var i = 0; i < data.data.length; i++) {
						reportArr[i] = {
							"title": data.data[i]["标题名称"]
						};
					}
//					reportArr[reportArr.length] = {"title": "其他"}
					// 弹框
					plus.nativeUI.actionSheet({
						title: "切换部门",
						cancel: "取消",
						buttons: reportArr
					}, function(e) {
						//商品类型find赋值
						if((e.index - 1) != -1){
							document.getElementById("bill_name").value = reportArr[(e.index - 1)].title;
						}
					});
				
				} else { // 如果没有长度说明没有数据，提示没有数据
					mui.toast("没有查到相应的部门哟~")
				}
			} // deptData
			function searchReport(bname,bdate,edate){
				var reportparmas = {
					name: 'msvr',
					bill_task: commonParams, 	// 查询的指令
					bill_com: teamBillCom, 		// 当前单位
					bill_user: userbillNo, 		// 当前登陆人
					bill_name: bname,			// 查询
					bill_date: bdate+" 00:00:00",			// 查询
					bill_ndate: edate+" 23:59:59",			// 查询
					currentPage: 1,
					pageSize: 1,
					paramText: ""
				};
				if(commonParams == "VR_query_vdsa402_03"){
					rqsDataAjax(reportparmas, '/Find/Ddata/activity', report03Data, '../login.html');
				}else if(commonParams == "VR_query_vdsa402_02"){
					rqsDataAjax(reportparmas, '/Find/Ddata/activity', report02Data, '../login.html');
				}
			}
			// 更换 表头
			function report03Data(data, type) {
				document.getElementById("report02").style.display = "none";
				document.getElementById("report03").style.display = "block";
				var newdataArr = {};
				if(data.data.length != 0){
					for(var k in data.data[0]) {
						newdataArr[k.slice(0, 2)] = k.slice(2);
					}
					document.getElementById("title0").innerHTML = vlUtils.isnull(newdataArr["标题"])?document.getElementById("title0").innerHTML:newdataArr["标题"];
					document.getElementById("title1").innerHTML = vlUtils.isnull(newdataArr["数量"])?document.getElementById("title0").innerHTML:newdataArr["数量"];
					document.getElementById("title2").innerHTML = vlUtils.isnull(newdataArr["日期"])?document.getElementById("title0").innerHTML:newdataArr["日期"];
				}else{
					mui.toast("未查询到数据!")
				}
			} // reportData
			function report02Data(data, type) {
				document.getElementById("report02").style.display = "block";
				document.getElementById("report03").style.display = "none";
				var newdataArr = {};
				if(data.data.length != 0){
					for(var k in data.data[0]) {
						newdataArr[k.slice(0, 2)] = k.slice(2);
					}
					document.getElementById("title3").innerHTML = vlUtils.isnull(newdataArr["标题"])?document.getElementById("title3").innerHTML:newdataArr["标题"];
					document.getElementById("title4").innerHTML = vlUtils.isnull(newdataArr["数量"])?document.getElementById("title4").innerHTML:newdataArr["数量"];
					document.getElementById("title5").innerHTML = vlUtils.isnull(newdataArr["金额"])?document.getElementById("title5").innerHTML:newdataArr["金额"];
					document.getElementById("title6").innerHTML = vlUtils.isnull(newdataArr["日期"])?document.getElementById("title6").innerHTML:newdataArr["日期"];
				}else{
					mui.toast("未查询到数据!")
				}
			} // reportData
		}); //plusReady
	</script>

</html>