<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>员工列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			
			.list_font {
				font-size: 10px;
				line-height: 12px;
				height: 24px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}
			
			.list_fonts {
				font-size: 12px;
				line-height: 14px;
			}
			
			.list_h5 {
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.list_sts {
				font-size: 12px;
				line-height: 14px;
				color: #f0ad4e;
				border: 1px solid #f0ad4e;
				border-radius: 2px;
				text-align: center;
			}
			.mui-table-view:after,.mui-table-view-cell:after,.mui-table-view:before {
				height: 0 !important;
			}
			.mui-scroll-wrapper{
				z-index:1;
			}
			#contList{
				position: relative;
				z-index:2;
			}
			.vlel-hide{display: none;}
		</style>
	</head>

	<body>
		<div id="vdvc105hn_list" class="mui-content mui-scroll-wrapper">
			<div id="showHint" class="mui-h5" style="padding:100px;height:300px;display:;text-align: center;background: ;display:none;border: transparent;background: ;">
				<span class="icon iconfont icon-wushuju" style="color:;font-size:100px;"></span>
				<p style="color:#000000;margin-top:10px;margin-bottom:0;border-bottom: transparent;padding-bottom:0;">未查询到相关的数据</p>
				<p style="font-size:10px;border-bottom: transparent;">可以尝试其他查询</p>
			</div>
			<div id="searching" class="mui-h5" style="padding:100px;height:300px;text-align: center;display:block;">
				<p class="mui-icon mui-icon-search" id="" style=";color:#0062cc;height:100px;line-height: 100px;font-size: 100px;"></p>
				<p style="font-size:12px;">正在搜索中......</p>
			</div>
			<div class="mui-scroll" style="border: transparent;">
				<ul id="contList" class="mui-table-view mui-table-view-striped mui-table-view-condensed" style="margin-bottom:50px;background:none;">
				</ul>
			</div>
		</div>
		<script type="text/template" id="listTmpl">
			<li class="mui-table-view-cell" style="padding:10px;height:70px;margin-bottom:3px;background:#fff;">
			     <div class="data-row vlel-hide"><%=rowdata%></div>
				 <% if(canSlider){ %>
				 	<div class="mui-slider-right mui-disabled"><a class="mui-btn mui-btn-<%=liclass%>"><%=liLeftT%></a></div>
				 <% } %>
			     <div class="mui-slider-cell  mui-slider-handle">
			          <div class="mui-row">
						  <div class="mui-col-xs-2 mui-row" style="padding:5px;width:55px;">
						  	<img class="vdfa332 mui-col-xs-12" src="<%=liImgSrc%>" onerror="this.src='../../images/defult/vdvc001.png'" />
						  </div>
			               <div class="mui-col-xs-7 mui-row" style="background:;height:50px;">
			                    <h5 class="list_h5 mui-col-xs-12" style="color:#242424;padding-top:1px;"><%=liTitle%><span class=""><%=liLeftM%></span></h5>
			                    <p class="list_font mui-col-xs-12"><%=liLeftB%></p>
			               </div>
			               <div class="mui-col-xs-3 mui-row list_three" style="background:;text-align: right;">
			                    <p class="list_fonts mui-col-xs-12" style="float:right;"><%=liRightT%></p>
			                    <p class="list_fonts mui-col-xs-12" style="float:right;margin-top:3px;"><%=liDate%></p>
			                    <p class="list_sts mui-col-xs-8" style="float:right;margin-top:3px;height: 16px;width:60px;"><%=liStatus%></p>
			               </div>
			          </div>
			     </div>
			</li>
		</script>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/arttmpl.js"></script>
	<script src="../../js/vlindex.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		mui.init({
			pullRefresh: {
				container: '#vdvc105hn_list',
				down: {
					callback: pulldownRefresh
				},
				up: {
					contentrefresh: '正在加载...',
					callback: pullupRefresh
				}
			}
		});
		var pageSize = 10; // 每页显示几条信息
		var search = ''; // 要查询的内容，paramText的value
		var fbill_no = ""; // 查询的fbill_no
		var detailInfo = {}; // 把查询到的东西放到数组里面
		var openlock = false; // 用于区分是首次进入页面还是搜索页面
		var queryparmas = {}; //查询参数
		var pager = {}; //分页
		// 定义变量
		var teamBillCom; 	// 1.管理单位代码
		var teamBillComName;// 2.管理单位名称
		var loginCom;		// 4.登录单位代码
		var loginComName;	// 5.登录单位名称
		var userbillNo;		// 6.登录人的代码
		var userName;		// 7.登录人的姓名
		var privileges;		// 8.当前的权限是
		var fromPage;		// 9.从哪个页面来
		var business,
			activeTask = "Y",
			activeType = "004",
			activeSearch = "";
		mui.plusReady(function() {
			mui.currentWebview.show();
			var self = plus.webview.currentWebview().parent();
			teamBillCom 	= self.teamBillCom; 	// 1.管理单位代码
			teamBillComName = self.teamBillComName;	// 2.管理单位名称
			fbill_no 		= self.fbill_no;		// 3.fbill_no是
			loginCom 		= self.loginCom;		// 4.登录单位代码
			loginComName 	= self.loginComName;	// 5.登录单位名称
			userbillNo 		= self.userbillNo;		// 6.登录人的代码
			userName 		= self.userName;		// 7.登录人的姓名
			privileges 		= self.privileges;		// 8.当前的权限是
			fromPage 		= self.fromPage;		// 9.从哪个页面来
			// 其他
			business 		= self.business;
			detailInfo 		= self.detailInfo;
			//在103业务下
			if(business == "部门"){
				teamBillCom = loginCom;
			}
			
			queryparmas = getQueryParmas(activeTask);
			plus.nativeUI.showWaiting("正在查询数据..."); 
			VlAjax.post({"port":"all","isFirst":true}, queryparmas, sCBFind);
			//
			document.addEventListener('changetabbar', ecChangeTab, false);
			mui("#contList").on('tap', 'li', function(e) { eaTapLi(e, this); });
			mui("#contList").on('tap', '.mui-btn-royal', function(e) { eaSliderRoyal(e, this); }); // 收回
			mui("#contList").on('tap', '.mui-btn-red', function(e) { eaSliderRed(e, this); }); // 删除
		}); // plusready
		//下拉刷新
		function pulldownRefresh() {
			document.getElementById("contList").innerHTML = "";
			document.getElementById("showHint").style.display = "none";
			document.getElementById("searching").style.display = "block";
			// queryparmas = getQueryParmas(activeTask);
			queryparmas.currentPage = 1;
			plus.nativeUI.showWaiting("正在查询数据..."); 
			VlAjax.post({"port":"all","isFirst":true}, queryparmas, sCBFind);
			mui('#vdvc105hn_list').pullRefresh().endPulldownToRefresh(); //下拉完成后可以再次执行下拉刷新
		}

		/*上拉加载具体业务实现 */
		function pullupRefresh() {
			if(queryparmas.currentPage < pager.totalPage) {
				queryparmas.currentPage = queryparmas.currentPage + 1;
				plus.nativeUI.showWaiting("正在查询数据..."); 
				VlAjax.post({"port":"all","isFirst":false}, queryparmas, sCBFind);
				mui('#vdvc105hn_list').pullRefresh().endPullupToRefresh();
			} else {
				plus.nativeUI.toast("~没有更多啦~", {'verticalAlign': "middle"});
				mui('#vdvc105hn_list').pullRefresh().endPullupToRefresh();
				return;
			}
		}
		function dataAdapter(data){
//			console.log(JSON.stringify(data))
			var btask = data["bill_task"],
				oSliderClass = {
					"Y" : {"classname" : "royal","txt" : "收回"},
					"L" : {"classname" : "red","txt" : "删除"},
					"YF" : {"classname" : "green", "txt" : "冻结"}
				},
				silderClass = oSliderClass[btask];
			return {
				"liclass" 	: silderClass["classname"],
				"rowdata" 	: JSON.stringify(data),
				"liTitle" 	: data['bill_name'],
				"liDate" 	: (data["bill_date"]).slice(5, 16),
				"liStatus" 	: BILL_STATUS[btask],
				"liImgSrc"  : VlAjax.getImgPath(data["bill_no"]),
				
				"liLeftT" 	: silderClass["txt"],
				"liLeftM" 	: ("[" + data["bill_bflow"] + "]"),
				"liLeftB" 	: data["bill_context"],
				
				"liRightT" 	: data["bill_id"] ? data["bill_id"] : data["bill_text"][0]["linkbd_clerkid"],
				"liRightM" 	: "",
				"liRightB" 	: "",
				"canSlider"	: (typeof silderClass !== "undefined")
			}
		}
		function sCBFind(data,type) {
			pager = data.page[0];
			var totalRecord = data.page[0]["totalRecord"];
			mui.fire(plus.webview.currentWebview().parent(), 'sizetoplist', { 
					totalRecord :totalRecord
			});
			document.getElementById("showHint").style.display = "none";
			if(data.data.length != 0) {
				var text = '';
				var html = '';
				for(var i = 0; i < data.data.length; i++) {
					var _rowd = dataAdapter(data.data[i])
					var source = document.getElementById('listTmpl').innerHTML;
					var render = template.compile(source);
					html += render(_rowd);
					if(type&&i==0){
						contList.innerHTML = "";
						document.getElementById("searching").style.display = "none";
					}
				}
				jQuery("#contList").append(html);
			} else { // 如果没有长度说明没有数据，提示没有数据
				document.getElementById("contList").innerHTML = '';
				document.getElementById("searching").style.display = "none";
				document.getElementById("showHint").style.display = "block";
			}
			plus.nativeUI.closeWaiting();
		}
		function delSuccess(){}
		function getQueryParmas(task){
			var p = {
				name: 'vdvc105',
				bill_com: teamBillCom,		
				bill_task: task,
				currentPage: 1,
				pageSize: pageSize,
				paramText: activeSearch,
				fbill_no: fbill_no
			}
			if(task !== "Y" && task !== "YF"){
				p.bill_user = userbillNo;
			}
			// console.log(JSON.stringify(p))
			return p;
		}
		function ecChangeTab(event) {
			var _detail = event.detail;
			activeType = _detail.activeType;
			activeTask = _detail.activeTask;
			queryparmas = getQueryParmas(activeTask);
			
			plus.nativeUI.showWaiting("正在查询数据..."); 
			
			document.getElementById("contList").innerHTML = '';
			document.getElementById("searching").style.display = "block";
			document.getElementById("showHint").style.display = "none";
			
			VlAjax.post({"port":"all","isFirst":true}, queryparmas, sCBFind);
		}
		function eaTapLi(e, self){
			var li = self,
				dataRow = JSON.parse(jQuery(self).find(".data-row").html()),
				teamBillCom = dataRow.bill_com,
				_extras = {
					teamBillCom: teamBillCom,
					teamBillComName: teamBillComName,
					userbillNo: userbillNo,
					loginCom: loginCom,
					loginComName: loginComName,
					detailInfo: dataRow
				};
				
				var fromPages = {
					"311edit" : {
						"page" : "vdvc311_edit.html",
						"event"	:"vdvc105ToVdvc311"
					},
					"133edit" : {
						"page" : "vdsa133_edit.html",
						"event"	:"vdsa133"
					}
				},
				curPage = fromPages[fromPage];
				
			if(typeof curPage !== "undefined") {
				ec(curPage["page"], curPage["event"], _extras);
			} else {
				mui.openWindow({
					id: 'vdvc105hn_node.html',
					url: 'vdvc105hn_node.html',
					createNew: true,
					extras: {
						teamBillCom: teamBillCom,
						teamBillComName: teamBillComName,
						userbillNo: userbillNo,
						loginCom: loginCom,
						loginComName: loginComName,
						detailInfo: dataRow,
						business : business,
						fromPage: "105list",
						workname : detailInfo.bill_name,
					}
				});
			}
			function ec(page, name, obj){
				var _view = plus.webview.getWebviewById(page);
				mui.fire(_view, name, obj);
				//打开详情页面          
				mui.openWindow({
					id: page
				});
			}
		}
		function eaSliderRoyal(e, self){
			oprUser(self, "b_back");
		}
		function eaSliderRed(e, self){
			oprUser(self, "d_delete");
		}
		function oprUser(self, task){
			var obj = {"d_delete" : "删除","b_back" : "收回"};
			var li = self.parentNode.parentNode,
				dataRow = jQuery(li).find(".data-row").html(),
				rowObj = JSON.parse(dataRow);
				askTxt = "确认“"+obj[task]+"”该用户？",
				askTitle = obj[task]+ "确认";
			
			mui.confirm(askTxt, askTitle, ["确认","取消"], callback);
			
			function callback(e) {
//				console.log(JSON.stringify(e))
				if (e.index == 0) {
					var date = new Date();
					var delparams = {
						bill_no	: rowObj.bill_no,
						bill_task : task,
						fbill_no : "ROOT",
						bill_user : userbillNo,
						bill_com : rowObj.bill_com,
						bill_date : VlDate.get(date, "_ymdhms")
					};
					li.parentNode.removeChild(li);
					VlAjax.post({"port":"sendTask"}, delparams, delSuccess);
				} else {
					setTimeout(function() {
						mui.swipeoutClose(li);
					}, 0);
				}
			}
		}
	</script>

</html>