<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>二级出库编辑</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<link rel="stylesheet" href="../../css/common/mui.picker.css" />
		<link rel="stylesheet" href="../../css/common/mui.poppicker.css" />
		<style>
			.topNav {
				padding: 0;
			}
			
			.topNav p {
				height: 35px;
				line-height: 35px;
			}
			/*删除*/
			
			#sheet1 ul li:after {
				height: 0;
			}
			
			p.topitem {
				padding: 0;
			}
			#basicTxt p{
				color:#ACACB4;
				margin:0;
				padding:0;
				font-size: 12px;
			}
			#basicTxt p span{
				color: #000000;
				width:60%;
				float:right;
			}
			.money{
				color:crimson;
			}
			/*TODO*/
			.mui-table-view-cell:after,
			.mui-table-view-cell:before,
			.mui-table-view:after,
			.mui-table-view:before{
				height: 0 !important;
			}
			.order-main-li{padding:8px 10px 8px 5px !important;margin-bottom:8px;border-top:1px solid #E0E0E0; box-shadow: 0px 3px 3px #ccc;border-radius: 10px;}
			/*.order-main-label{padding:0px !important;}*/
			.main-info{line-height:5px;}
			.order-main-imgbox{padding:3px;width:auto;margin:0px !important;}
			ul.order-detail-ul {margin: 0;padding:0;background:#f6f6f6;overflow: hidden;}
			.order-detail-li{margin:3px;border:1px dashed #ACACB4;border-radius:10px;box-sizing:border-box;overflow:hidden;}
			.order-detail-imgbox{width:35px;padding:5px;}
			.order-imgbox{padding:5px;padding-left:0px;box-sizing:border-box;}
			img{border-radius: 5px;}
			.order-info-title {padding-top:1px;font-size: 14px;color:#242424;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
			.order-info-leftbox{}
			.order-info-left {display: -webkit-box;height: 14px;margin-bottom:3px;font-size: 12px;line-height: 12px;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
			.order-info-rightbox{text-align: right;}
			.order-info-right {float: right;height: 26px;margin:2px auto;padding:0;font-size: 12px;line-height: 14px;}
			.order-price{color:#FF5053;font-size: 14px;}
			.order-qty{font-size: 12px;color: #000000;}
			.order-statusbox{text-align:right;padding-right:10px;}
			.order-status {margin-left:10px;font-size: 10px;line-height: 14px;color: #f0ad4e;border: 1px solid #f0ad4e;border-radius: 2px;text-align: center;}
			.detail-label{padding:0px 5px 0px 50px !important;}
			.mui-row:before,
			.mui-row:after,
			.mui-table-view-cell:after,
			.mui-table-view-cell:before{
				height:0px;
			}
			.order-main-li label{padding-left:30px !important;}
			.order-detail-li label{padding-left:25px !important;}
			input{
				top:  15px !important;
				left: 5px !important;
			}
			input:before{font-size: 24px !important;}
			input.changenum[type='number']{padding: 0;margin:0;height:30px;}
			input.changenum[placeholder]{padding-left:15px !important;font-size: 12px;}
			.num-outbox{border-radius: 5px;}
			.num-innerbox{padding:10px;height:60px;border:1px dashed #C0C0C0;border-radius:5px;}
			.changenumtitle{margin-bottom: 5px;}
			.detail-input:before{font-size: 20px !important;}
			.hide{display: none;}
			#selectDlv:hover{background: #C0C0C0;}
			.changegray{border: 1px dashed #E0E0E0;border-radius: 5px;}
			.changegray:hover{background: #C7C7CC;border-radius:5px;color:#fff;}
			.changefinish{height:60px;border-radius:5px;background:#F0AD4E;font-size:14px;line-height:60px;text-align:center;color:#fff;}
			/*.info-outbox{position: relative;top:1;}*/
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav headerMain editHeader" id="head" style="height: 70px;">
			<a class="mui-action-back mui-pull-left" id="">返回</a>
			<div class="mui-title plistTitle">
				<p id="title">新增配送单</p>
				<h1 id="header"></h1>
			</div>
		</header>
		<nav class="mui-bar mui-bar-tab" id="footer" style="display:;">
			<a class="mui-tab-item" id="Select" style="background:;color:#262930;margin-top:5px;"></a>
			<a class="mui-tab-item" id="" style="background:;color:#262930;">
				<span class="mui-tab-label" style="display:;">合计：<span style="color:red" id="node_amt">0</span></span>
			</a>
			<a class="mui-tab-item" id="J_btn_save" style="background:#FB6F18;color:#ffffff;">
				<span class="mui-tab-label">去结算（<span id="node_nqty">0</span>）</span>
			</a>
		</nav>
		<div class="mui-content" style="padding-top:75px;margin-top:0px;margin-bottom:30px;">
			<div class="mui-input-group hide"style="padding:5px 18px 5px 18px;margin:5px auto;">
				<div id="basicTxt">
					<div style="border-bottom:1px solid #20B2AA;">
						<p>单据标识(bill_no):		<span id="bill_no"></span></p>
						<p>fbill_no:			<span id="fbill_no">ROOT</span></p>
						<p>订单号(bill_bno):		<span id="bill_bno"></span></p>
						<p>出库单号(bill_doppo):	<span id="bill_doppo"></span></p>
						<p>制单人(bill_user):		<span id="bill_user"></span></p>
						<p>制单单位(bill_com):		<span id="bill_com"></span></p>
						<p>制单时间(bill_date):	<span id="bill_date"></span></p>
						<p>配送类型(bill_bflow):	<span id="bill_bflow">协议配送</span></p>
					</div>
					<div id="">
						<p>购方代码(bill_oppo):	<span id="bill_oppo"></span></p>
						<p>供应商(bill_coppo):	<span id="bill_coppo"></span></p>
						<p>配送员(bill_nuser):	<span id="bill_nuser"></span></p>
					</div>
				</div>
			</div>
			<div id="selectCustomer" class="mui-row" style="background: #fff;overflow: hidden;padding:10px 5px 10px 10px;min-height:80px;margin-bottom: 5px;">
				<p style="border-bottom: 1px solid #007AFF;font-size:12px;">收货方信息：<span id="tip"></span></p>
				<div style="overflow: hidden;font-size:12px;color:gray;" class="mui-col-xs-12">
					<div class="" style="overflow: hidden;">
						<a class="mui-icon mui-icon-home" style="font-size:22px;margin:0;padding:0;"></a>
						<span class="" id="bill_name" style="font-size:14px;color:#000000;"></span>
					</div>
					<div id="" style="overflow: hidden;">
						<a class="mui-icon mui-icon-phone" style="font-size:16px;margin:0;padding:0;"></a>
						<span class="" id="linkvd_termcontact"></span>
					</div>
					<div class="" style="overflow: hidden;">
						<a class="mui-icon mui-icon-location" style="font-size:16px;margin:0;padding:0;"></a>
						<span class="" id="linkvd_termaddr"></span>
					</div>
				</div>
			</div>
			<div class="mui-input-group" id="selectDlv" style="padding:5px 18px 5px 10px;margin-bottom:5px;height: 40px;line-height: 30px;">
				<div class="mui-row">
					<span class="mui-col-xs-3 spn">
						<a class="mui-icon mui-icon-person" style="font-size:22px;margin:0;padding:0;"></a>
						<span>配送员：</span>
					</span>
 					<span class="mui-col-xs-8 spn" id="bill_nuserName"></span>
 					<span class="mui-icon mui-icon-arrowright mui-col-xs-1" id="" style="float:right;color:#0062CC;"></span>
				</div>
			</div>
			
			<div id="" style="overflow: hidden;background:#fff;padding:5px 10px;">
				<div class="mui-row" style="display:;margin-top:5px;overflow: hidden;background:#fff;font-size:14px;">
					<p class="mui-col-xs-10" style="font-size:12px;margin-bottom:5px;border-bottom: 1px dashed #E0E0E0;">
						物品选择
					</p>
					<div class="mui-col-xs-2 mui-pull-right" id="J_btn_sGoods">
						<button type="button" class="mui-btn mui-btn-primary mui-btn-outlined" id="changeFlow" style="padding:3px;font-size:12px;width:80%"> + </button>
					</div>
				</div>
				<ul id="contList" class="mui-table-view mui-table-view-striped mui-table-view-condensed" style="border-radius:10px;">
				<div class="mui-row gift-goods" id="J_list_goods"></div>
				<script id="J_temp_goods" type="text/template">
					<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" style="border-radius:10px;">
						<% for(var i in data){ var item=data[i]; %>
							<li class="mui-table-view-cell order-main-li <%=item.liImgId%>" data-load=false data-show=false data-no=<%=item.liImgId%>>
								<div class="data-row hide">
									<%=item.rowdata%>
								</div>
								<div class="main-info mui-row">
									<div class="mui-col-xs-3 mui-input-row mui-left mui-checkbox" >
										<label class="order-main-label" style="padding:0px;">
											<div class="mui-row order-main-imgbox">
												<img class="mui-col-xs-12" src="../../images/icon/default.png" id=<%=item.liImgId%> />
											</div>
										</label>
										<input name="main" class="main-input" type="checkbox" />
									</div>
									<div class="mui-col-xs-9 info-outbox">
										<div class="mui-row info-box ">
											<div class="mui-col-xs-8 mui-row order-info-leftbox">
												<h5 class="order-info-title mui-col-xs-12"><%=item.liTitle%></h5>
												<p class="order-info-left mui-col-xs-12"><%=item.liLeftM%></p>
												<p class="order-info-left mui-col-xs-12">
													<%=item.liLeftB%>
													<span data-oldamt=0 class="money order-amt">0</span>元
												</p>
											</div>
											<div class="mui-col-xs-4 mui-row order-info-rightbox">
												<p class="order-info-right mui-col-xs-12 changegray saletype"><span class="order-type">销售</span><a class="mui-icon mui-icon-compose"></a></p>
												<p class="order-info-right mui-col-xs-12 changegray salenum"><span data-oldqty=0 data-hasChange=false class="order-qty">0</span><a class="mui-icon mui-icon-compose"></a></p>
											</div>
										</div>
										<div class="mui-row num-outbox hide">
											<div class="mui-col-xs-9 num-innerbox">
												<div class="changenumtitle"> 修改数量:</div>
												<input type="number" class="changenum" name="" id="" value="0" placeholder="录入数量" />
											</div>
											<div class="mui-col-xs-3 changefinish">完成</div>
										</div>
									</div>
								</div>
								<ul class="order-detail-ul mui-table-view mui-table-view-striped mui-table-view-condensed hide"></ul>
							</li>
						<% } %>
					</ul>
				</script>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	
	<script src="../../js/md5.js"></script>
	<script src="../../js/vlindex.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/arttmpl.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js"></script>
	<script type="text/javascript">
		var teamBillCom,teamBillComName,userbillNo,loginCom,loginComName,parentPage,
			detailInfo;
			_onlyCode = VlTools.getBno("vdst315"),
			oldBack = mui.back,
			aSelected = {}, // [{"正no1":["赠no1","赠no2"]},{"正no1":["赠no1","赠no2"]}]
			oSelected = {}, // [{"正no1":["正obj1",["赠obj1","赠obj2"]]}]
			_oTrueFalse ={"true": true, "false": false},
			aAllFindGoods=[],
			aAllFindType = [];
		mui.plusReady(plsReady);
		var oNormal = {
			h : {
				bill_no 	:"",	
				bill_bno 	:"",	
				fbill_no	:"",
				bill_name 	:"",	
				bill_oppo 	:"",	
				bill_coppo 	:"",	
				bill_doppo  :"",
				bill_bflow 	:"",	
				node_amt 	:"",	
				node_nqty 	:"",	
				bill_user 	:"",	
				bill_com 	:"",	
				bill_date 	:"",
				bill_nuser  :"",
			},
			v : {},
			c : {}
		}
		var oText = {
			h : {"bill_nuserName":""},v : {},c : {}
		}
		function plsReady(){
			var self = plus.webview.currentWebview();
			teamBillCom 	= self.teamBillCom;
			teamBillComName = self.teamBillComName;
			userbillNo 		= self.userbillNo;
			userName 		= self.userName;
			loginCom 		= self.loginCom;
			loginComName 	= self.loginComName;
			parentPage 		= self.parentPage;
			fromPage 		= self.fromPage;
			privileges 		= self.privileges;
			detailInfo 		= self.detailInfo;

			fillData();
			bindEvent();
			findGoods(sCBfindData);
			findType();
		}
		
		
		function fillData() {
			document.getElementById("header").innerHTML 		= teamBillComName;
			document.getElementById("bill_nuser").innerHTML 	= userbillNo;
			document.getElementById("bill_nuserName").innerHTML = userName;
			document.getElementById("bill_com").innerHTML 		= teamBillCom;
			document.getElementById("bill_user").innerHTML 		= userbillNo;
			document.getElementById("bill_date").innerHTML 		= VlDate.get(new Date(), "_ymdhms");
			document.getElementById("bill_no").innerHTML 		= _onlyCode;
			// 地址
			var _data = detailInfo;
			document.getElementById("bill_oppo").innerHTML = _data['图片'];
			document.getElementById("bill_name").innerHTML = _data['标题'];
			document.getElementById("linkvd_termaddr").innerHTML = _data.addr;
			document.getElementById("linkvd_termcontact").innerHTML = _data["内容"]["负责人"]+"("+_data["内容"]["电话"]+")";
			document.getElementById("bill_coppo").innerHTML = _data["内容"]["供应商代码"];
			// 
			mui.back = function() {
				mui.confirm("请确保页面上的信息保存后再返回，以免数据丢失！", "返回确认", ["确认要返回", "不返回"], function(e) {
					if(e.index == 0) {
						// 是
						plus.webview.currentWebview().close();
						if(fromPage === "work"){
							plus.webview.getWebviewById('tab-webview-subpage-work').show();
						}else if(fromPage === "vdst315hn_node.html"){
							mui.fire(plus.webview.getWebviewById('vdst315hn_node.html'),'refresh',{
								bno : document.getElementById('bill_no').innerHTML
							});
						  	mui.openWindow({
						    	id:'vdst315hn_node.html',
						  	});
							oldBack();
						}else{
							oldBack();
						}
					}
				});
				
			}
		}
		function bindEvent(){
			document.getElementById("J_btn_sGoods").addEventListener("tap", eSelectGoods, false);
			document.getElementById("J_btn_save").addEventListener("tap", eBtnSave, false);
			document.getElementById("selectDlv").addEventListener("tap", eSelectUser, false); 
			
			mui("#contList").on('tap', '.saletype', function(e) { eaShowType(e, this)});
			mui("#contList").on('tap', '.salenum', function(e) { eaShowNumBox(this)});
			mui("#contList").on('tap', '.changefinish', function(e) { eaFinishChange(this); });
			mui('#contList').on('change', 'input.main-input', function(e) {eaMchange(this)});
			mui('#contList').on('change', 'input.detail-input', function(e) {eaDchange(this)});
			
			window.addEventListener('vdst315findGoods', function(event) { ecFindGoods(event); });
			window.addEventListener('vdvc105selecteduser', function(event) { ecSelectUser(event)});
		}
		function eSelectUser(){
			VlPage.beforeOpen('vdvc105_VRfind.html');
			mui.openWindow({
				url: '../vlvdvc/vdvc105_VRfind.html',
				id: 'vdvc105_VRfind.html',
				createNew: true,
				extras: {
					teamBillCom		: teamBillCom,
					teamBillComName	: teamBillComName,
					userbillNo		: userbillNo,
					loginCom		: loginCom,
					loginComName	: loginComName,
					tradeName		: "",
					tradeCode		: "",
					choice			: "single",
					toPage			: "vdvc105_VRfind.html",
					fromPage		: "vdst315hn_edit.html"
				}
			});
		}
		function ecSelectUser(event){
			var linkName = event.detail.linkName;
			var linkCom = event.detail.linkCom;
			var dataRow = event.detail.dataRow;
			var name 	= event.detail.other;
			console.log(dataRow)
			dataRow = JSON.parse(dataRow);
			document.getElementById("bill_nuser").innerHTML = linkCom;
			document.getElementById("bill_nuserName").innerHTML = linkName;
		}
		// 选择商品
		function eSelectGoods() {
			VlPage.beforeOpen('vdst315hn_findGoods.html');
			mui.openWindow({
				url: '../vlfind/vdst315hn_findGoods.html',
				id: 'vdst315hn_findGoods.html',
				createNew: true,
				extras: {
					teamBillCom		: teamBillCom,
					teamBillComName	: teamBillComName,
					userbillNo		: userbillNo,
					loginCom		: loginCom,
					loginComName	: loginComName,
					choice			: "multiple",
					toPage			: "vdst315hn_findGoods.html",
					fromPage		: "vdst315hn_edit.html",
					other			: "VR_vdsa210_query_03",
				}
			});
		}
		function ecFindGoods(event){
			var oData = event.detail.oSelected;
			var canRenderNew = goodsAdapter(oData);
			canRenderNew && renderGoodsList(oData);
		}
		function eBtnSave(){
			var oMain = getMainData();
			VlPage.beforeOpen("vdst315hn_confirm.html");
			mui.openWindow({
				url: 'vdst315hn_confirm.html',
				id: 'vdst315hn_confirm.html',
				createNew: true,
				extras: {
					aSelected : aSelected,
					oSelected : oSelected,
					oMain	: oMain
				}
			});
		}
		
		function getMainData(){
			var res = VlEdit.getValue(oNormal,oText); 
				res.bill_context = document.getElementById("linkvd_termaddr").innerHTML +","+document.getElementById("linkvd_termcontact").innerHTML;
				res.bill_task = "d_new";
			return res;
		}
		// 事件委托
		function eaMchange(self){
			var li = jQuery(self).parents(".order-main-li"),
				_num = li.index(),
				dataRow = JSON.parse(li.find(".data-row").eq(0).html()),
				isshow = li.attr("data-show"),
				hasload = li.attr("data-load"),
				detailUl = li.find(".order-detail-ul");
			li.attr("data-show",!_oTrueFalse[isshow]);
			isshow = !_oTrueFalse[isshow];
			if(!_oTrueFalse[hasload]){
				findGifts(_num, dataRow, li);
				li.attr("data-load",true);
			}
			var temp = typeof aSelected[dataRow.bill_no] !== "undefined" 
					 ? JSON.parse(JSON.stringify(aSelected[dataRow.bill_no]))
					 : [];
			// 把数据推到数组中去
			selectedOrCancel(isshow,dataRow,"正品");
			if(isshow){
				detailUl.removeClass('hide');
				var hasChange = _oTrueFalse[li.find(".order-qty").eq(0).attr("data-hasChange")];
				var num = hasChange ? li.find(".order-qty").eq(0).html() : 1; 
				changeLineNum(li, num, isshow, "正品");
				li.find(".order-qty").eq(0).attr("data-hasChange",true);
			}else{
				detailUl.addClass('hide');
				li.find('.order-detail-li input').attr('checked', false);
				changeAllGiftNum(temp, dataRow.node_qty);
				console.log("点-main"+JSON.stringify(aSelected))
			}
			changeAllNum(isshow, li);
			changeOldNumAttr(isshow,li)
		}
		function eaDchange(self){
			var li = jQuery(self).parents(".order-detail-li"),
				num = li.index(),
				dataRow = JSON.parse(li.find(".data-row").eq(0).html()),
				isChecked = li.attr("data-check");
				li.attr("data-check",!_oTrueFalse[isChecked]);
				isChecked = !_oTrueFalse[isChecked],
				sbilings = li.siblings().find('input');
				
				li.siblings().find('input').attr('checked', false);
				selectedOrCancel(isChecked,dataRow,"赠品");
				var _buyNum = li.parents(".order-main-li").find(".order-qty").eq(0).html() *1;
				changeGiftNum(dataRow.bill_no, _buyNum, isChecked);
				changeAllNum(isChecked, li);
				changeOldNumAttr(isChecked, li);
		}
		function eaShowNumBox(self){
			jQuery(self).parents(".info-box").css({"display":"none"});
			jQuery(self).parents(".info-box").siblings().css({"display":"block"});
		}
		function eaFinishChange(self){
			jQuery(self).parents(".num-outbox").css({"display":"none"});
			jQuery(self).parents(".num-outbox").siblings().css({"display":"block"});
			var li = jQuery(self).parents(".order-main-li"),
				num = jQuery(self).parents(".num-outbox").find('input').val();
				isshow = _oTrueFalse[li.attr("data-show")];
				if(num !== 0){li.find(".order-qty").eq(0).attr("data-hasChange",true)}
			changeLineNum(li, num,isshow,"正品");
			changeAllNum(isshow, li);
			changeOldNumAttr(isshow,li)
			// 计算赠品数量 TODO
			
		}
		function changeLineNum(li, num,isshow, type) {
			var oDatarow = li.find(".data-row").eq(0),
				data = JSON.parse(oDatarow.html());
			data.node_qty = num * 1;
			data.node_amt = (num * data.node_price).toFixed(2);
			oDatarow.html(JSON.stringify(data));
			li.find(".order-qty").eq(0).html(data.node_qty);
			li.find(".changenum").val(data.node_qty);
			li.find(".order-amt").eq(0).html(data.node_amt);
			if(isshow && type==="正品"){
				oSelected[data.bill_no][0] = data;
			}else if(isshow && type==="赠品"){
				var _aIdx = aSelected[data.bill_title].indexOf(data.bill_no);
				oSelected[data.bill_title][1][_aIdx] = data;
			}
			console.log(JSON.stringify(oSelected))
		}
		function changeAllNum(isSelected, li){
			var oAllQty = mui("#node_nqty")[0],
				oAllAmt = mui("#node_amt")[0],
				nAllQty = Number(oAllQty.innerHTML), 
				nAllAmt = Number(oAllAmt.innerHTML),
				
				nOldQty = li.find(".order-qty").eq(0).attr("data-oldqty") * 1,
				nOldAmt = li.find(".order-amt").eq(0).attr("data-oldamt") * 1,
				
				nNewQty = (isSelected ? li.find(".order-qty").eq(0).html() * 1 : 0),
				nNewAmt = (isSelected ? li.find(".order-amt").eq(0).html() * 1 : 0);
				oAllQty.innerHTML = nAllQty + nNewQty - nOldQty;
				oAllAmt.innerHTML = (nAllAmt + nNewAmt - nOldAmt).toFixed(2);
		}
		function changeOldNumAttr(isSelected,li){
			var _nQty = (isSelected ? li.find(".order-qty").eq(0).html() : 0),
				_nAmt = (isSelected ? li.find(".order-amt").eq(0).html() : 0);
			li.find(".order-qty").eq(0).attr("data-oldqty", _nQty);
			li.find(".order-amt").eq(0).attr("data-oldamt", _nAmt);
		}
		function changeAllGiftNum(arr, buyNum){
			var len = arr.length,
				item;
			for(var i = 0; i < len; i++){
				changeGiftNum(arr[i], buyNum, false);
			}
		}
		function changeGiftNum(bNo, buyNum, isChecked){
			var _li = jQuery(('.' + bNo)),
				_idx = _li.index(),
				_calc = _li.find(".clac").html();
				console.log(_li.find(".clac").html());
				var _get = Number(_calc.split('赠')[1]),
				_buy = Number(_calc.split('赠')[0].slice(1)),
				_newGiftQty = parseInt(parseInt(buyNum / _buy) * _get);
				_li.find(".order-qty").html(_newGiftQty);
				changeLineNum(_li, _newGiftQty,isChecked, "赠品");
				changeAllNum(isChecked, _li)
				changeOldNumAttr(isChecked,_li)
		}
		
		function eaShowType(e,self){
			var picker = VlTools.pickData({
				data : aAllFindType,
				level : 1
			})
			picker.show(function(items) {
				var txt = items[0].text,
					oDatarow = jQuery(self).parents(".order-main-li").find(".data-row").eq(0),
					data = JSON.parse(oDatarow.html());
				data.bill_bflow = txt;
				oDatarow.html(JSON.stringify(data));
				oSelected[data.bill_no][0] = data;
				jQuery(self).find(".order-type").html(txt);
			});
		}
		function findType(){
			var user = JSON.parse(VlStore.pGet("user"));
				var _p = {
					bill_task : "VR_mapp101_query_01",
					bill_com : user.bill_coppo,
					bill_user : userbillNo,
					bill_bflow : "销售类型",
					bill_oppo : "vdst315",
					currentPage: 1,
					pageSize: 1,
					paramText: ""
				}
				VlAjax.post({
					port : "active",
					headers : "json",
				},_p,sCBfind)
			}
		function sCBfind(data) {
			if(data.data.length !== 0){
				aAllFindType = JSON.parse(data.data[0]['内容选项']);
			}
		}
		//
		
		function findGifts(n,dataRow){
			var parmas = {
				name: 'msvr',
				bill_task	: "VR_vdsa212_query_01",
				bill_no 	: dataRow.bill_bno,
				bill_oppo	: teamBillCom,
				bill_com	: teamBillCom,
				bill_user	: userbillNo,
				currentPage	: 1,
				pageSize	: 30,
				paramText	: "",
			}
			VlAjax.post({"port" : "active","headers" : "json"}, parmas, sCBfindGifts);
			function sCBfindGifts(data,type){
				detaillist(n, data, dataRow);
			}
		}
		//
		function findGoods(sCB){
			var _p = { // 默认我的客户001
				name: 'msvr',
				bill_com	: teamBillCom,
				bill_user	: userbillNo,
				bill_task	: "VR_vdsa210_query_03", 
				bill_title  : "",
				bill_bflow  : "商品",
				currentPage	: 1,
				pageSize	: 10,
				paramText	: ''
			}
			VlAjax.post({
				"port" : "active",
				"headers" : "json",
			}, _p, sCB);
		}
		var aImg = [];
		function sCBfindData(data, type) {
			var contList = document.getElementById("contList");
			if(data.data.length != 0) {
				var txt = '';
				for(var i = 0; i < data.data.length; i++) {
					var _rowd = st315findAdapter(data.data[i]);
					aAllFindGoods.push(JSON.parse(JSON.stringify(_rowd)));
					txt += salableES6Temp(_rowd);
//					txt += salableTemp(_rowd);
					VlAjax.dlIcon(_rowd.liImgId, _rowd.liImgId, VlTools.setImg, VlTools.setImgs);
				}
				contList.innerHTML = txt
//				mui('#J_list_goods')[0].innerHTML = template('J_temp_goods', {"data":aAllFindGoods});
			} else {
				mui('#contList')[0].innerHTML = '<p style="padding-left:15px;">无物品数据</p>';
				// mui('#J_list_goods')[0].innerHTML = '<p style="padding-left:15px;">无物品数据</p>';
			}
		}
		
		var _oContent = {
			"规格型号": "",
			"条码": "",
			"供应商名称": "",
			"供应商代码": "",
			"政策标识": "",
			"生产厂商名称": "",
			"生产厂商代码": "",
			"单位": "",
			"开始日期": "",
			"截止日期": "",
			"商品名称": "",
		}
		function st315findAdapter(self,buyData){
			var date = new Date();
			var obj,leftM,leftB;
			for(var k in self) {
				self[k.slice(0, 2)] = self[k];
			}
			if(arguments[1]){ // 赠品
				var _c = self['内容'].indexOf('{') > -1 ? JSON.parse(self['内容']) : _oContent;
				var _b = buyData;
				obj = {
					bill_task	: "d_new",
					bill_no		: VlTools.getBno("vdst315"),
					bill_bid	: _b.bill_id,	// 正品对应的sa210政策码sa210.bill_id(即sa212.bill_nunit)// [20190531]物品物品编码
					bill_id		: self['标题'],		// 赠品对应的sa210政策码sa210.bill_id(即sa212.bill_id)
					bill_bno	: self['图片'], 		// 自己的销售vdsa210政策标识sa212.bill_oppo// [20190419]政策号vdsa210
					bill_doppo	: _b.bill_bno, 	// 正品的销售vdsa210政策标识:bill_bno
					bill_name	: _c['商品名称'],		// 产品名称
					bill_spec	: '',				// 产品规格
					bill_oppo	: '',				// 产品条形码
					bill_unit	: "件",
					bill_coppo	: _b.bill_coppo,	// 正品的生产厂商
					bill_nunit	: self['参数'],		// 赠品本身政策的编码sa212.bill_bid
					bill_nspec	: self['指令'],		// 赠品本身政策的编码sa212.bill_nspec
//					bill_title  : _b.bill_no,
					fbill_no	: document.getElementById("bill_no").innerHTML,
					bill_bflow	: "配送",
					bill_context: ("买"+parseInt(self['金额'])+"赠"+parseInt(self['数量'])),
					bill_text	: _b.bill_text,	// 正品的生产厂商中文名
					node_qty	: 0,	// 
					node_price	: 0,
					node_amt	: 0,
					bill_user	: userbillNo, 
					bill_com	: teamBillCom, 	// 正品的供应商
					bill_date	: VlDate.get(date, "_ymdhms"),
					bill_bdate	: _c['开始日期'],// 开始日期
					bill_edate	: _c['截止日期'],// 截止日期
					bill_nuser	: _c['政策标识'],// vdsa212.bill_no
					bill_title  : _b.bill_no, // 正品的vdst315.bill_no 
				}
				leftM = "";
				leftB = obj.bill_context;
			}else{
				var _content = self['内容'].indexOf('{') > -1 ? JSON.parse(self['内容']) : _oContent;
				var billtext = [{"bill_coppoName":_content["生产厂商名称"],"bill_oppoName":_content["供应商名称"]}];// 生产厂商,供货商	
				var bno = VlTools.getBno("vdst315");
				obj = {
					bill_task	: "d_new",
					bill_no		: bno,
					bill_bid	: self['参数'], 	// 物品政策码  // [20190531]物品物品编码
					bill_id		: self['参数'],	// 物品政策码
					bill_nspec	: self['金额'], 	// 物品编码
					bill_bno	: _content['政策标识'], 	//销售政策标识// [20190419]政策号vdsa210
					bill_doppo	: _content['政策标识'], 	//销售政策标识
					bill_name	: self["标题"],	//产品名称
					bill_spec	: _content['规格型号'],	//产品规格
					bill_oppo	: _content['条码'],	// 产品条形码
					bill_unit	: _content['单位'],	
					bill_coppo	: _content['生产厂商代码'],	// 生产厂商
					fbill_no	: document.getElementById("bill_no").innerHTML,
					bill_bflow	: "销售",
					bill_text	: JSON.stringify(billtext),
					node_qty	: 0,
					node_price	: Number(self["数量"]),
					node_amt	: 0,
					bill_user	: userbillNo, 
					bill_com	: teamBillCom, //供应商
					bill_date	: VlDate.get(date, "_ymdhms"),
					bill_bdate	: _content['开始日期'],// 开始日期
					bill_edate	: _content['截止日期'],// 截止日期
					bill_nuser	: "",//?
					bill_title  : bno,
				}
				leftM = obj.bill_spec + "；" + obj.node_price + "元/件";
				leftB = "总价：";
			}
			return {
				"rowdata" : JSON.stringify(obj),
				"liImgId" : obj.bill_no,
				"liImgName" : obj.bill_nspec,
				"liTitle" : obj.bill_name,
				"liDate"  : "",
				"liLeftT" : obj.node_amt,
				"liLeftM" : leftM,
				"liLeftB" : leftB,
				"liRightT" : "",
				"liRightM" : "",
				"liRightB" : "",
			}
		}
		function detaillist(liclass,data,buydata){
			var detailList = jQuery(".order-detail-ul").eq(liclass);
			if(data.data.length != 0) {
				mui.toast("搜索完成，正在加载...");
				var text = '';
				for(var i = 0; i < data.data.length; i++) {
					var item = st315findAdapter(data.data[i],buydata);
					text += giftTemp(item);
					detailList.html(text);
					VlAjax.dlIcon(item.liImgName, item.liImgId, VlTools.setImg, VlTools.setImgs);
				}
			} else { // 如果没有长度说明没有数据，提示没有数据
				mui.toast("未查询到数据~");
				detailList.html("");
			}
		}
		function selectedOrCancel(isSelected,data,type){
			if(isSelected) { 
				if(type === '正品') {
					aSelected[data.bill_no] = [];
					oSelected[data.bill_no] = [data,[]];
				}else {
					console.log("+detail")
					aSelected[data.bill_title] = typeof aSelected[data.bill_title] === 'undefined' ? [] : aSelected[data.bill_title];
					oSelected[data.bill_title] = typeof oSelected[data.bill_title] === 'undefined' ? ["",[]] : oSelected[data.bill_title];
					aSelected[data.bill_title][0] = data.bill_no;
					oSelected[data.bill_title][1][0] = data;
				}
			} else {
				if(type == "正品"){
					delete aSelected[data.bill_no];
					delete oSelected[data.bill_no];
				}else{
					console.log("-detail")
					var _aIdx = aSelected[data.bill_title].indexOf(data.bill_no);
					aSelected[data.bill_title].splice(_aIdx,1) ;
					oSelected[data.bill_title][1].splice(_aIdx,1);
				}
			}
		}
		function salableES6Temp(item) {
			var li = `<li class="mui-table-view-cell order-main-li item.liImgId" data-load=false data-show=false data-no=`+item.liImgId+`>
				<div class="data-row hide">`+item.rowdata+`</div>
				<div class="main-info mui-row">
					<div class="mui-col-xs-3 mui-input-row mui-left mui-checkbox" >
						<label class="order-main-label" style="padding:0px;">
							<div class="mui-row order-main-imgbox">
								<img class="mui-col-xs-12" src="../../images/icon/default.png" id=`+item.liImgId+` />
							</div>
						</label>
						<input name="main" class="main-input" type="checkbox" />
					</div>
					<div class="mui-col-xs-9 info-outbox">
						<div class="mui-row info-box ">
							<div class="mui-col-xs-8 mui-row order-info-leftbox">
								<h5 class="order-info-title mui-col-xs-12">`+item.liTitle+`</h5>
								<p class="order-info-left mui-col-xs-12">`+item.liLeftM+`</p>
								<p class="order-info-left mui-col-xs-12">
									`+item.liLeftB+`
									<span data-oldamt=0 class="money order-amt">0</span>元
								</p>
							</div>
							<div class="mui-col-xs-4 mui-row order-info-rightbox">
								<p class="order-info-right mui-col-xs-12 changegray saletype"><span class="order-type">销售</span><a class="mui-icon mui-icon-compose"></a></p>
								<p class="order-info-right mui-col-xs-12 changegray salenum"><span data-oldqty=0 data-hasChange=false class="order-qty">0</span><a class="mui-icon mui-icon-compose"></a></p>
							</div>
						</div>
						<div class="mui-row num-outbox hide">
							<div class="mui-col-xs-9 num-innerbox">
								<div class="changenumtitle"> 修改数量:</div>
								<input type="number" class="changenum" name="" id="" value="0" placeholder="录入数量" />
							</div>
							<div class="mui-col-xs-3 changefinish">完成</div>
						</div>
					</div>
				</div>
				<ul class="order-detail-ul mui-table-view mui-table-view-striped mui-table-view-condensed hide"></ul>
			</li>`
			return li;
		}
		function salableTemp (item) {
			var li = '';
			li +='<li class="mui-table-view-cell order-main-li item.liImgId" data-load=false data-show=false data-no='+item.liImgId+'>';
                li +='<div class="data-row hide">'+item.rowdata+'</div>';
                li +='<div class="main-info mui-row">';
                    li +='<div class="mui-col-xs-3 mui-input-row mui-left mui-checkbox" >';
                        li +='<label class="order-main-label" style="padding:0px;">';
                            li +='<div class="mui-row order-main-imgbox">';
                                li +='<img class="mui-col-xs-12" src="../../images/icon/default.png" id='+item.liImgId+' />';
                            li +='</div>';
                        li +='</label>';
                        li +='<input name="main" class="main-input" type="checkbox" />';
                    li +='</div>';
                    li +='<div class="mui-col-xs-9 info-outbox">';
                        li +='<div class="mui-row info-box ">';
                            li +='<div class="mui-col-xs-8 mui-row order-info-leftbox">';
                                li +='<h5 class="order-info-title mui-col-xs-12">'+item.liTitle+'</h5>';
                                li +='<p class="order-info-left mui-col-xs-12">'+item.liLeftM+'</p>';
                                li +='<p class="order-info-left mui-col-xs-12">'+item.liLeftB+'';
                                    li +='<span data-oldamt=0 class="money order-amt">0</span>元';
                                li +='</p>';
                            li +='</div>';
                            li +='<div class="mui-col-xs-4 mui-row order-info-rightbox">';
                                li +='<p class="order-info-right mui-col-xs-12 changegray saletype"><span class="order-type">销售</span><a class="mui-icon mui-icon-compose"></a></p>';
                                li +='<p class="order-info-right mui-col-xs-12 changegray salenum"><span data-oldqty=0 data-hasChange=false class="order-qty">0</span><a class="mui-icon mui-icon-compose"></a></p>';
                            li +='</div>';
                        li +='</div>';
                        li +='<div class="mui-row num-outbox hide">';
                            li +='<div class="mui-col-xs-9 num-innerbox">';
                                li +='<div class="changenumtitle"> 修改数量:</div>';
                                li +='<input type="number" class="changenum" name="" id="" value="0" placeholder="录入数量" />';
                            li +='</div>';
                            li +='<div class="mui-col-xs-3 changefinish">完成</div>';
                        li +='</div>';
                    li +='</div>';
                li +='</div>';
                li +='<ul class="order-detail-ul mui-table-view mui-table-view-striped mui-table-view-condensed hide"></ul>';
            li +='</li>';
            return li;
		}
		function giftTemp(item){
			var li = '';
			li += '<li class="order-detail-li mui-input-row mui-checkbox mui-left '+item.liImgId+'" data-check=false data-no='+item.liImgId+'>';
			li += '<label class="detail-label">';
			li += '<div class="mui-row">';
			li += '<div class="mui-col-xs-2 order-detail-imgbox">';
			li += '<img class="vdfa332 mui-col-xs-12" src="../../images/icon/default.png" id="'+item.liImgId+'" />';
			li += '</div>';
			li += '<div class="mui-col-xs-8 mui-row">';
			li += '<h5 class="order-info-title mui-col-xs-12">'+item.liTitle+'</h5>';
			li += '<p class="order-info-left mui-col-xs-12 clac">'+item.liLeftB+'</p>';
			li += '</div>';
			li += '<div class="mui-col-xs-2 mui-row order-info-rightbox">';
			li += '<p class="order-info-right mui-col-xs-12"><span data-oldqty=0 data-hasChange=false class="order-qty">0</span></p>';
			li += '<p class="order-info-right mui-col-xs-12 hide"><span data-oldamt=0 class="order-amt">0</span></p>';
			li += '</div>';
			li += '</div>';
			li += '</label>';
			li += '<input name="detail" class="detail-input" type="checkbox" />';
			li += '<div class="data-row hide">'+item.rowdata+'</div>';
			li += '</li>';
			return li;
		}
	</script>

</html>