<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>二级出库（父页面）</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.css">
		<link rel="stylesheet" href="../../css/index.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.topNavOut {
				text-align: center;
				position: relative;
				margin-bottom: 0px;
				height: 35px;
				color: #353b42;
			}
			
			.active {
				color: #ea6d10;
				border-bottom: 2px solid #ea6d10;
				/*background:pink;*/
			}
			
			.mui-bar .mui-icon:active {
				background: #0062cc!important;
			}
			
			.mui-bar-nav~.mui-content .mui-pull-top-pocket {
				top: 100px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerMain plistHeader" id="head" style="position:relative;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="goBack" ></a>
			<div class="mui-title plistTitle">
				<p id="">出库单列表</p>
				<h1 id="header" ></h1>	
			</div>
			<a class="mui-icon mui-icon-plusempty mui-pull-right" id="toEdit" style=""></a>
			<a class="icon iconfont icon-baobiao" id="toReport" style="display:none;position:absolute;top:0px;right:50px;font-size:28px;width:45px;height:70px;line-height:100px;text-align:center;"></a>
			<div class="mui-row navBar topNavRow" id="topNavOut">
				<p class="mui-col-xs-4 topNavOut active" data-type="001">待出库</p>
				<p class="mui-col-xs-4 topNavOut" data-type="002">未确认</p>
				<p class="mui-col-xs-4 topNavOut" data-type="003">已出库</p>
			</div>
		</header>
		<div class="mui-content" >
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js"></script>
	<script type="text/javascript">
		//启用双击监听
		mui.init({
			gestureConfig: {
				doubletap: true
			},
			subpages: [{
				url: 'vdst215_list.html',
				id: 'vdst215_list.html',
				styles: {
					top: '105px',
					bottom: '0px',
				}
			}]
		});

		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap', function() {
			if(contentWebview == null) {
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#vdst215_list').pullRefresh().scrollTo(0,0,100)");
		});
		// 进入页面插件加载完成拉去数据
		mui.plusReady(function() {
			//接收传过来的参数
			var self = plus.webview.currentWebview();
			var teamBillCom = self.teamBillCom;
			var teamBillComName = self.teamBillComName;
			var userbillNo = self.userbillNo;
			var userName = self.userName;
			var loginCom = self.loginCom;
			var loginComName = self.loginComName;
			var fbill_no = self.fbill_no;
			var privileges = self.privileges;
			var fromPage = self.fromPage;
			var userNew = JSON.parse(vlUtils.getStorage("user")); 
		    // 返回
		    var oldBack = mui.back;
		    mui.back = function(){
		    	if(fromPage != "vdst215_edit.html"){
		    		oldBack();
		    		return;
		    	}
		    	var webview = plus.webview.getWebviewById("index-ps.html");
		    	var childView = plus.webview.getWebviewById("tab-webview-subpage-work");
		    	webview.show();
		    	childView.show();
		    }
			// 更改header的显示信息
			document.getElementById("header").innerHTML = teamBillComName; //头部显示发货单位名

			//跳转到编辑页面
			document.getElementById("toEdit").addEventListener("tap", function() {
				orderType();
			})
			//
			//查看库存账
			document.getElementById("toReport").addEventListener("tap",function(){
				var privileges = vlUtils.getStorage("newPrivileges");
 				var num="";
				if(privileges == "ROOT"){
					mui.openWindow({
						url: '../vlvdac/vdac301_plist.html',
				    	id: "vdac301_plist.html",
					    createNew:true,
					    extras:{
							teamBillCom 	: teamBillCom ,
							teamBillComName : teamBillComName,
							userbillNo 		: userbillNo,
							loginCom 		: loginCom,
							loginComName 	: loginComName,
							num				: ""
						} 
					})
				}else{
					mui.alert("仅制单人或管理员有此权限！");
				}
			})
			// nav
			mui("#topNavOut").on("tap", "p", function() {
				var self = this;
				jQuery(this).addClass("active").siblings().removeClass("active");
				//触发详情页面的newsId事件
				mui.fire(plus.webview.getWebviewById('vdst215_list.html'), 'subpage133list', {
					active: self.getAttribute("data-type")
				});
			});
			//
			// 选择
			function orderType(){
//				var potionArr = [
//					{"title":"订单出库","code":0},
//					{"title":"协议出库","code":1}
//				];
//				// 弹框
//				plus.nativeUI.actionSheet({
//					title: "选择出库的类型",
//					cancel: "取消",
//					buttons: potionArr
//				}, function(e) {
//					//商品类型find赋值
//					if((e.index - 1) != -1){
//						var billbflow = potionArr[(e.index - 1)].title;
////						if(potionArr[(e.index - 1)].code == 0){
////						}else if(potionArr[(e.index - 1)].code == 1){
////						}
//						mui.openWindow({
//							url: 'vdst215_edit.html',
//							id: "vdst215_edit.html",
//							createNew: true,
//							extras: {
//								teamBillCom: teamBillCom,
//								teamBillComName: teamBillComName,
//								userbillNo: userbillNo,
//								loginCom: loginCom,
//								loginComName: loginComName,
//								userName : userName,
//								privileges : privileges,
//								fbill_no:"ROOT",
//								fromPage : "vdst215_plist.html",
//								flagNew: "Y",
//								bill_bflow: billbflow
//							}
//						})
//					}
//				});
				mui.openWindow({
					url: 'vdst215_edit.html',
					id: "vdst215_edit.html",
					createNew: true,
					extras: {
						teamBillCom: teamBillCom,
						teamBillComName: teamBillComName,
						userbillNo: userbillNo,
						loginCom: loginCom,
						loginComName: loginComName,
						userName : userName,
						privileges : privileges,
						fbill_no:"ROOT",
						fromPage : "vdst215_plist.html",
						flagNew: "Y",
						bill_bflow: "协议出库"
					}
				})
			}
		});	// plusReady
	</script>

</html>