<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.min.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			ul li {
				list-style: none;
			}
			
			.list_font {
				font-size: 10px;
				line-height: 12px;
				height: 12px;
				display: -webkit-box;
				margin-bottom: 5px;
				padding: 0px;
				/*-webkit-box-orient: vertical;*/
				-webkit-line-clamp: 2;
				overflow: hidden;
			}
			
			.list_fonts {
				font-size: 12px;
				line-height: 14px;
			}
			
			.list_h5 {
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.list_sts {
				font-size: 12px;
				line-height: 14px;
				color: #f0ad4e;
				/*border:1px solid #dd524d;*/
				border: 1px solid #f0ad4e;
				border-radius: 2px;
				text-align: center;
				/*background-color: pink;*/
			}
			
			.mui-pull-top-pocket {
				border: transparent;
			}
			
			.mui-table-view:after {
				height: 0 !important;
			}
			
			.mui-table-view:before {
				height: 0 !important;
			}
			* {
				margin: 0px;
				padding: 0px;
			}
			
			body {
				font-size: 16px;
			}
			
			ul#contList {
				width: 100%;
				background: #efeff4;
			}
			
			ul#contList li {
				margin-bottom: 10px;
			}
			
		</style>
	</head>

	<body>
		<div id="vdst313_list_01" class="mui-content mui-scroll-wrapper">
			<div id="showHint" class="mui-h5" style="padding:100px;height:300px;display:;text-align: center;background: ;display:none;border: transparent;background: ;">
				<span class="icon iconfont icon-wushuju" style="color:;font-size:100px;"></span>
				<p style="color:#000000;margin-top:10px;margin-bottom:0;border-bottom: transparent;padding-bottom:0;">未查询到相关的数据</p>
				<p style="font-size:10px;border-bottom: transparent;">可以尝试其他查询</p>
			</div>
			<div id="searching" class="mui-h5" style="padding:100px;height:300px;text-align: center;display:block;">
				<p class="mui-icon mui-icon-search" id="" style=";color:#0062cc;height:100px;line-height: 100px;font-size: 100px;"></p>
				<p style="font-size:12px;">正在搜索中......</p>
			</div>
			
			<div id="showError" class="mui-h5" style="padding:100px;height:300px;display:;text-align: center;background: ;display:none;border: transparent;background: ;">
				<span class="icon iconfont icon-kulian" style="color:;font-size:100px;"></span>
				<p style="color:#000000;margin-top:10px;margin-bottom:0;border-bottom: transparent;padding-bottom:0;">出错啦~</p>
				<p style="font-size:10px;border-bottom: transparent;">请稍后再试</p>
			</div>
			<div class="mui-scroll">
				<ul id="contList" class="mui-table-view mui-table-view-striped mui-table-view-condensed">
				</ul>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		mui.init({
			pullRefresh: {
				container: '#vdst313_list_01',
				down: {
					callback: pulldownRefresh
				},
				up: {
					height: 200,
					contentnomore: '没有更多数据了',
					offset: '10px',
					contentrefresh: '正在加载...',
					callback: pullupRefresh
				}
			}
		});

		var startIndex = 1; // 
		var pageSize = 10;
		var search = '';
		var detailInfo = {}; // 用于存储查询到的信息
		var openlock = false; // 用于区分是首次进入页面还是搜索页面
		var fbill_no = "ROOT";
		var queryparmas = {}; //查询参数
		var pager = {};
		var bill_task = " ";
		var bill_user = " ";
		var teamBillCom = "";
		var teamBillComName = "";
		var userbillNo = "";
		var loginCom = "";
		var loginComName = "";
		var guid = "";
		var port = '/Find/Ddata/activity';
		mui.plusReady(function() {
			//	返回上级
			window.addEventListener('backAndRefreshList', function(event) {
				document.getElementById("showHint").style.display = "none";
				document.getElementById("searching").style.display = "block";
				teamBillCom = event.detail.teamBillCom; // 管理单位代码
				fbill_no 	= event.detail.fbill_no; // fbill_no是
				teamBillComName = event.detail.teamBillComName; // 管理单位名称
				loginCom 	= event.detail.loginCom; // 登录单位代码
				loginComName = event.detail.loginComName; // 登录单位名称
				userbillNo 	= event.detail.userbillNo; // 登录人的代码
				userName 	= event.detail.userName, // 登录人的姓名
				privileges 	= event.detail.privileges, // 当前的权限是
				fromPage 	= event.detail.fromPage, // 从哪个页面来 
				queryparmas = getParams('L',port);
				plus.nativeUI.showWaiting("正在查询数据..."); 
				
				rqsDataAjax(queryparmas, port, reportData, '../login.html',true);
			})
			//监听plist页面点击导航拉取不同状态的数据
			document.addEventListener('differentStatesRefresh210list', function(event) {
				guid = event.detail.active;
				search = event.detail.search;
				port = event.detail.port;
				document.getElementById("showHint").style.display = "none";
				document.getElementById("searching").style.display = "block";
				document.getElementById("contList").innerHTML = '';
				var f = document.getElementById("contList");
				var childs = f.childNodes;
				for(var i = 0; i < childs.length; i++) {　　
					f.removeChild(childs[i]);
				}
				queryparmas = getParams('L',port);
				plus.nativeUI.showWaiting("正在查询数据..."); 
				rqsDataAjax(queryparmas, port, reportData, '../login.html',true);
			}); // 切换结束
			// 接收传过来的参数
			var self = plus.webview.currentWebview().parent();
			// 基本参数(必要)
			teamBillCom = self.teamBillCom; 
			teamBillComName = self.teamBillComName; 
			fbill_no = self.fbill_no; 
			loginCom = self.loginCom; 
			loginComName = self.loginComName; 
			userbillNo = self.userbillNo; 
			userName = self.userName; 
			privileges = self.privileges; 
			fromPage = self.fromPage; 

			// 第一次发ajax拉取数据
			queryparmas = getParams('L',port);

			plus.nativeUI.showWaiting("正在查询数据..."); 
			rqsDataAjax(queryparmas, port , reportData, '../login.html',true);

			//点击查看详情/修改信息
			mui("#contList").on('tap', 'li', function(e) {
				return;
				var e = this;
				var li = e;
				var dataRow = li.getAttribute("data-row");
				var rowObj = JSON.parse(dataRow);
				mui.openWindow({
					id: 'vdst313_node_01.html',
					url: 'vdst313_node_01.html',
					createNew: true,
					extras: {
						teamBillCom: teamBillCom, 	
						teamBillComName: teamBillComName, 	
						fbill_no: fbill_no, 		
						loginCom: loginCom, 
						loginComName: loginComName, 
						userbillNo: userbillNo, 
						userName: userName, 
						privileges: privileges, 
						fromPage: "vdst313_list_01.html", 
						detailInfo: rowObj
					}
				});
			});
			mui("#contList").on('tap', '.mui-btn-yellow', function(e) {
				var e 				= this;
				var li 				= e.parentNode.parentNode;
				var num 			= li.getAttribute("num");
				var dataRow 		= li.getAttribute("data-row");
				var rowObj 			= JSON.parse(dataRow);
				var _opt = {
					bno : rowObj['图片'],
					btask : 'b_back',
					cb	  : callback
				}
				confirm("收回", sendAjax, _opt);
			});
			mui("#contList").on('tap', '.mui-btn-danger', function(e) {
				var e 				= this;
				var li 				= e.parentNode.parentNode;
				var num 			= li.getAttribute("num");
				var dataRow 		= li.getAttribute("data-row");
				var rowObj 			= JSON.parse(dataRow);
				var _opt = {
					bno : rowObj['图片'],
					btask : 'VE_vdst313_delete_01',
					cb	  : callback
				}
				confirm("删除", sendAjax, _opt);
			});
			mui("#contList").on('tap', '.mui-btn-royal', function(e) {
				var e 				= this;
				var li 				= e.parentNode.parentNode;
				var num 			= li.getAttribute("num");
				var dataRow 		= li.getAttribute("data-row");
				var rowObj 			= JSON.parse(dataRow);
				var ws = plus.webview.getWebviewById("vdst313_edit_01.html");
				if(!vlUtils.isnull(ws)){
					plus.webview.close(ws);
				}
				mui.openWindow({
					url: 'vdst313_edit_01.html',
					id: "vdst313_edit_01.html",
					createNew: true,
					extras: {
						teamBillCom		: teamBillCom, 
						teamBillComName	: teamBillComName, 
						fbill_no		: fbill_no,
						loginCom		: loginCom,
						loginComName	: loginComName,
						userbillNo		: userbillNo,
						userName		: userName,
						privileges		: privileges, 
						fromPage		: "vdst313_list_01.html", 
						detailInfo		: rowObj,
						hadSave 		: false, 
						flagNew 		: "Y",
						fbno			: rowObj['图片'],
						fbname			: rowObj['标题']
					},
				    waiting:{
						autoShow:true,//自动显示等待框，默认为true
						title:'正在打开页面...',//等待对话框上显示的提示内容
					}
				})});
			function callback(){
				plus.webview.currentWebview().reload();
				mui.fire(plus.webview.getWebviewById('vdst313_plist_01.html'), "reload", {});
				mui.openWindow({id:'vdst313_plist_01.html'});
			}
			function confirm(txt,fn,opt){
				mui.confirm("确认要"+txt+"此单据吗？", "操作确认", [txt, "取消"], function(e) {
					if(e.index == 0) { // 是
						fn(opt);
					} 
				});
			}
			function sendAjax(opt){
				var _date = new Date();
				var _param = {
					bill_task :	opt.btask,
					bill_no   : opt.bno,
					bill_com  : teamBillCom,
					bill_user : userbillNo,
					bill_date : vlUtils.dateToString(_date),
				}
				CRUDajax(_param,'../login.html',opt.cb);
			}
		}); // plusReady

		//下拉刷新
		function pulldownRefresh() {
			
			mui.toast("加载中...");
			document.getElementById("contList").innerHTML = "";
			document.getElementById("showHint").style.display = "none";
			document.getElementById("searching").style.display = "block";
			//
			queryparmas.currentPage = 1;
			queryparmas.pageSize = pageSize;
			plus.nativeUI.showWaiting("正在查询数据..."); 
			rqsDataAjax(queryparmas, port, reportData, '../login.html',true);
			mui('#vdst313_list_01').pullRefresh().endPulldownToRefresh(); //下拉完成后可以再次执行下拉刷新

		}

		/*上拉加载具体业务实现 */
		function pullupRefresh() {
			if(queryparmas.currentPage < pager.totalPage) {
				queryparmas.currentPage = queryparmas.currentPage + 1;
				queryparmas.pageSize = pageSize;
			} else {
				plus.nativeUI.toast("~没有更多啦~", {
					'verticalAlign': "middle"
				});
				mui('#vdst313_list_01').pullRefresh().endPullupToRefresh();
				return;
			}
			plus.nativeUI.showWaiting("正在查询数据..."); 
			rqsDataAjax(queryparmas, port, reportData, '../login.html',false);
			mui('#vdst313_list_01').pullRefresh().endPullupToRefresh();
		}
		function reportData(data,type) {
			if(data.code == 0) {
				var datas = data.data;
				page = data.page[0];
				if(datas.length != 0) {
					var text = " ";
					var contList = document.getElementById("contList");
					for(var i = 0; i < datas.length; i++) {
						var _maindata = datas[i];
						var newdataArr = {};
						for(var k in datas[i]) {
							newdataArr[k.slice(0, 2)] = datas[i][k];
						}
						var oStatus = {"L":"待送审","S":'待审核',"Y":"已审核"};
						if(type&&i==0){
							contList.innerHTML = "";
						}
						var li = document.createElement("li");
						li.setAttribute("data-row",JSON.stringify(newdataArr));
						li.setAttribute("class", "mui-table-view-cell");
						li.style.background = "#fff";
						li.style.padding = "10px";
						li.style.height = "70px";
						li.style.marginBottom = "3px";
						var text = "";
						text += '<div class="mui-slider-right mui-disabled"><a class="mui-btn mui-btn-royal">计算</a></div>';
						text += '<div class="mui-slider-cell  mui-slider-handle">';
						text += '<div class="mui-row">';
						text += '<div class="mui-col-xs-2 mui-row" style="background:;padding:5px;width:55px;">';
						text += '<img class="vdst315 mui-col-xs-12" src="../../images/icon/default.png"  id="' + newdataArr['图片'] + '"/>';
						text += '</div>';
						text += '<div class="mui-col-xs-7 mui-row" style="background:;height:50px;">';
						text += '<h5 class="list_h5 mui-col-xs-12" style="color:#242424;">' + newdataArr['标题'] + '</h5>';
						text += '<p class="list_font mui-col-xs-12">已算月份：<span style="color:#F0AD4E;font-size:14px;">' + newdataArr['参数'] + '</span></p>';
						text += '</div>';
						text += '<div class="mui-col-xs-3 mui-row list_three" style="background:;text-align: right;">';
						text += '<p class="list_fonts mui-col-xs-12" style="float:right;">' + newdataArr['内容'] + '</p>';
						text += '<p class="list_fonts mui-col-xs-12" style="float:right;"></p>';
						text += '<p class="list_fonts mui-col-xs-12" style="float:right;margin-top:3px;">' + (newdataArr['日期']).slice(5, 16) + '</p>';
						text += '</div>';
						text += '</div>';
						text += '</div>';
						if(type&&i==0){
							document.getElementById("searching").style.display = "none";
						}
						li.innerHTML = text;
						contList.appendChild(li);
						vlUtils.downloadicon(newdataArr['图片'], newdataArr['图片']);
					}
				} else {
					document.getElementById("contList").innerHTML = "";
					document.getElementById("searching").style.display = "none";
					document.getElementById("showHint").style.display = "block";
				}
			}	
			plus.nativeUI.closeWaiting();
		}
		
		function getParams(qtask){
			var res = {
				bill_task	: 'VR_find_dept001',
				bill_qtask	: qtask,
				bill_title 	: search,
				
				bill_com	: loginCom, 
				bill_user 	: userbillNo,
				
				currentPage	: startIndex,
				pageSize	: pageSize,
				paramText 	: '',
			};
			return res;
		}
	</script>

</html>