<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.css">
		<link rel="stylesheet" href="../../css/index.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			.mui-bar-nav~.mui-content .mui-pull-top-pocket {
				top: 100px;
			}
		</style>
	</head>
	<body>
		<!--ios-136px; andorid-140px TODO-->
		<header class="mui-bar mui-bar-nav headerMain plistHeader" id="head" style="height: 136px;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="goBack" ></a>
			<div class="mui-title plistTitle">
				<p id="TO">客户关系</p>
				<h1 id="header" ></h1>	
			</div>
			<a class="mui-icon mui-icon-plusempty mui-pull-right" id="toEdit" style="display:;"></a>
			<div class="mui-row navBar topNavRow" id="topNav">
				<p class="mui-col-xs-6 topNav active" data-active = "active" data-task="Y"  data-type = "004">全部<span></span></p>
				<p class="mui-col-xs-6 topNav"  data-type = "002" data-task="L">待送审<span></span></p>
				<p class="mui-col-xs-4 topNav"  data-type = "001" data-task="Y" style="display: none;">我的客户<span></span></p>
				<p class="mui-col-xs-4 topNav"  data-type = "003" data-task="VR_find_vdvc312_01" style="display: none;">待处理<span></span></p>
			</div>
			<div class="mui-row searchBar" >
				<div class="mui-col-sm-10 mui-col-xs-10">
					<div class="mui-input-row mui-search">
						<input type="search" id="searchBox" class="mui-input-clear" onkeyup="enterSearch(event)" placeholder="">
					</div>
				</div>
				<div class="mui-col-sm-2 mui-col-xs-2">
					<button type="button" id="searchBtn" class="mui-btn" >搜索</button>
				</div> 
			</div>
		</header>
		<div class="mui-content" id="aaa" style="border: transparent;">

		</div>

	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js" type="text/javascript"></script>
	<script type="text/javascript">
		var teamBillCom = "";
		var teamBillComName = "";
		var userbillNo = "";
		var loginCom = "";
		var loginComName = "";
		var BreadcrumbNav = [];
		var BreadcrumbNavName = [];
		var BreadcrumbNavArr = [];
		var ROOTteamBillCom = "";
		var search = "";
		// 左滑刷新
		window.addEventListener('lowerDeptRefresh311plist', function(event) {

			teamBillCom 	= event.detail.teamBillCom;		// 管理单位代码
			fbill_no 		= event.detail.fbill_no;		// fbill_no是
			teamBillComName = event.detail.teamBillComName; // 管理单位名称
			loginCom 		= event.detail.loginCom;	 	// 登录单位代码
			loginComName 	= event.detail.loginComName;	// 登录单位名称
			userbillNo 		= event.detail.userbillNo;		// 登录人的代码
			userName 		= event.detail.userName,		// 登录人的姓名
			privileges 		= event.detail.privileges,		// 当前的权限是
			fromPage 		= event.detail.fromPage,		// 从哪个页面来
			
			detailInfo 		= event.detail.detailInfo;
			
			// 把当前fbill_no和部门名字传入数组中
			BreadcrumbNav.push(teamBillCom);
			BreadcrumbNavName.push(detailInfo.bill_name);
			//
			var searchData = {};
			searchData.teamBillCom 	 	= teamBillCom;		
			searchData.teamBillComName	= teamBillComName; 	
			searchData.fbill_no		 	= fbill_no;		
			searchData.loginCom		 	= loginCom;		
			searchData.loginComName	 	= loginComName;		
			searchData.userbillNo		= userbillNo;		
			searchData.userName		 	= userName;		
			searchData.privileges		= privileges;		
			searchData.fromPage		 	= fromPage;	
			if(fromPage == "vdvc311node"){
//				searchData.fromPage = "vdvc311list";
				// 深拷贝一份数组中的最后一项
				var nodequery = JSON.parse(JSON.stringify(BreadcrumbNavArr[BreadcrumbNavArr.length-1]))
					nodequery.bill_no			= detailInfo.bill_no;	
				BreadcrumbNavArr.push(nodequery);
				// 
			}
			
			BreadcrumbNavArr.push(searchData);
			//
			document.getElementById("header").innerHTML = event.detail.teamBillComName;
			var list = document.getElementById('topNav').getElementsByTagName('p');
			jQuery(".topNav:first").addClass("active").siblings().removeClass("active");

		});
		//=================================

		//启用双击监听
		mui.init({
			gestureConfig: {
				doubletap: true
			},
			subpages: [{
				url: 'vdvc311_list.html',
				id: 'vdvc311_list.html',
				styles: {
					top: '140px',
					bottom: '0',
				}
			}]
		});

		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap', function() {
			if(contentWebview == null) {
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#vdvc311_list').pullRefresh().scrollTo(0,0,100)");
		});
		// 进入页面插件加载完成拉去数据
		mui.plusReady(function() {
			//接收传过来的参数
			var self = plus.webview.currentWebview();
			// 基本参数(必要)
			teamBillCom 	= self.teamBillCom; 	// 1.管理单位代码
			teamBillComName = self.teamBillComName;	// 2.管理单位名称
			fbill_no 		= self.fbill_no;		// 3.fbill_no是
			loginCom 		= self.loginCom;		// 4.登录单位代码
			loginComName 	= self.loginComName;	// 5.登录单位名称
			userbillNo 		= self.userbillNo;		// 6.登录人的代码
			userName 		= self.userName;		// 7.登录人的姓名
			privileges 		= self.privileges;		// 8.当前的权限是
			fromPage 		= self.fromPage;		// 9.从哪个页面来
			// 其他
			ROOTteamBillCom = self.teamBillCom;
			//
			var searchData = {};
			searchData.teamBillCom 	 	= teamBillCom;		
			searchData.teamBillComName	= teamBillComName; 	
			searchData.fbill_no		 	= fbill_no;		
			searchData.loginCom		 	= loginCom;		
			searchData.loginComName	 	= loginComName;		
			searchData.userbillNo		= userbillNo;		
			searchData.userName		 	= userName;		
			searchData.privileges		= privileges;		
			searchData.fromPage		 	= fromPage;		
			
			BreadcrumbNavArr.push(searchData);
			// 
			BreadcrumbNav.push(teamBillCom);
			BreadcrumbNavName.push(teamBillComName);
			if(fromPage == "vdvc312node"){
				document.getElementById("toEdit").style.display = "none";
			}
			// 重写mui.back, 手机上的返回键默认跟随mui.back
			// 备份mui.back，mui.back已将窗口关闭逻辑封装的比较完善（预加载及父子窗口），因此最好复用mui.back
			var oldBack = mui.back;
			mui.back = function(){
				// 重写
				if(BreadcrumbNav.length>1){
					// 读数组，删掉最后一项，用导数第二项刷新当前页面
					
					// 删除数组最后一项
					BreadcrumbNav.splice(BreadcrumbNav.length-1,1);
					BreadcrumbNavName.splice(BreadcrumbNavName.length-1,1);
					BreadcrumbNavArr.splice(BreadcrumbNavArr.length-1,1);
					// 当前的最后一项赋值给fbill_no,刷新当前页、刷新子页
					teamBillCom = BreadcrumbNav[BreadcrumbNav.length-1];
					teamBillComName = BreadcrumbNavName[BreadcrumbNavName.length-1];
					//
					if(BreadcrumbNavArr[BreadcrumbNavArr.length-1].bill_no){
						mui.fire(plus.webview.getWebviewById('vdvc311_node.html'),"backAndRefreshList",{
							teamBillCom 	: BreadcrumbNavArr[BreadcrumbNavArr.length-1].teamBillCom, 		// 1.管理单位代码	// 每点一次就变为数组中的上一项
							teamBillComName : BreadcrumbNavArr[BreadcrumbNavArr.length-1].teamBillComName,	// 2.管理单位名称	// 每点一次就变为数组中的上一项
							fbill_no 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].fbill_no,			// 3.fbill_no是		// 每点一次就变为数组中的上一项
							loginCom 		: loginCom,			// 4.登录单位代码
							loginComName 	: loginComName,		// 5.登录单位名称
							userbillNo 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].userbillNo,		// 6.登录人的代码
							userName 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].userName,			// 7.登录人的姓名
							privileges 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].privileges,		// 8.当前的权限是
							fromPage 		: "vdvc311plist",	// 9.从哪个页面来
							bill_no 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].bill_no
						})
						mui.openWindow({
							id:"vdvc311_node.html"
						})
						BreadcrumbNavArr.splice(BreadcrumbNavArr.length-1,1);
//						return;
					}
					document.getElementById("header").innerHTML = teamBillComName;
					
					jQuery(".topNav:first").addClass("active").siblings().removeClass("active");
					// plus.webview.getWebviewById("vdvc311_list.html").close();
					var childList = plus.webview.getWebviewById('vdvc311_list.html');
					
					mui.fire(plus.webview.getWebviewById('vdvc311_list.html'),"backAndRefreshList",{
						teamBillCom 	: teamBillCom, 		// 1.管理单位代码	// 每点一次就变为数组中的上一项
						teamBillComName : teamBillComName,	// 2.管理单位名称	// 每点一次就变为数组中的上一项
						fbill_no 		: fbill_no,			// 3.fbill_no是		// 每点一次就变为数组中的上一项
						loginCom 		: loginCom,			// 4.登录单位代码
						loginComName 	: loginComName,		// 5.登录单位名称
						userbillNo 		: userbillNo,		// 6.登录人的代码
						userName 		: userName,			// 7.登录人的姓名
						privileges 		: privileges,		// 8.当前的权限是
						fromPage 		: "vdvc311plist",	// 9.从哪个页面来
					})
					mui.openWindow({
						id:"vdvc311_list.html"
					})
				}
				if(BreadcrumbNav.length == 1){
					oldBack();
					return;
				}
			}
			// 返回
			document.getElementById("header").innerHTML = teamBillComName; //头部显示发货单位名
			window.addEventListener("sizetoplist", function(e) { ecListSize(e) });
			// 右上角点击进入211_new.html
			document.getElementById("toEdit").addEventListener("tap", function() {
				var privileges = vlUtils.getStorage("newPrivileges");
				if(privileges == "ROOT"){
					mui.openWindow({
						url: 'vdvc311_edit.html',
						id: "vdvc311_edit.html",
						createNew: true,
						extras: {
							teamBillCom 	: teamBillCom, 		// 1.管理单位代码	// 不变
							teamBillComName : teamBillComName,	// 2.管理单位名称	// 不变
							fbill_no 		: fbill_no,			// 3.fbill_no是		// 不变
							loginCom 		: loginCom,			// 4.登录单位代码
							loginComName 	: loginComName,		// 5.登录单位名称
							userbillNo 		: userbillNo,		// 6.登录人的代码
							userName 		: userName,			// 7.登录人的姓名
							privileges 		: privileges,		// 8.当前的权限是
							fromPage 		: "vdvc311plist",	// 9.从哪个页面来
							flagNew			: "Y"
						}
					})
				}else if(privileges != "ROOT"){
					mui.toast("仅管理员有此权限!")
				}
			})

			// nav
			mui("#topNav").on("tap", "p", function() {
				jQuery(this).addClass("active").siblings().removeClass("active");
				diffferentType("all");
			})
		}); 
		function ecListSize(e) {
			var txt = "("+e.detail.totalRecord+")";
			jQuery("#topNav").find('.active').children().html(txt)
		}
		function enterSearch(e) {
			if(e.keyCode == 13) {
				diffferentType("fuzzy")
			}
		}
		
		document.getElementById("searchBtn").addEventListener("tap",function(){
			diffferentType("fuzzy")
		});
		function diffferentType(port){
			var oSearchInput = document.getElementById("searchBox"),
				activeSearch = oSearchInput.value,
				activeEl = jQuery("#topNav").children(".active"),
				activeType = activeEl.attr("data-type");
			oSearchInput.blur();
			if(port == "all" && activeType == "003"  ){
				activePort = "active";
			}
			mui.fire(plus.webview.getWebviewById('vdvc311_list.html'), 'differentStatesRefresh311list', {
				activeType: activeType,
				activeSearch: activeSearch,
				activePort: port,
				activeTask: activeEl.attr("data-task")
			});
		}
	</script>

</html>