<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			body{
				font-size: 12px;
			}
			
			form {
				margin: 5px 0;
			}
			.mui-row{
				padding:8px;
			}
			.mui-row.topNav{
				padding:0px;
			}
			.mui-row.topNav p a {
				padding:3px;
			}
			.mui-row.topNav p span{
				font-size:12px;
			}
			input[placeholder] {
				font-size: 12px;
			}
			.mui-input-row.lastInput:after{
				/*display: none;*/
				height:0;
			}
			.list_sts{
				font-size: 12px;
				line-height: 14px;
				color:#f0ad4e;
				/*border:1px solid #dd524d;*/
				border:1px solid #f0ad4e;
				border-radius: 2px;
				text-align: center;
				/*background-color: pink;*/
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerMain editHeader" id="head" style="height: 70px;">
			<a class="mui-action-back mui-pull-left" id="goBack">返回</a>
			<div class="mui-title plistTitle" >
				<p id="title">修改抄送人</p>
				<h1 id="header" ></h1>	
			</div>
		</header>
		<div class="mui-content" style="padding-top:;margin-top:43px;color: #8f8f94;">
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<h5 class="mui-col-xs-8 spn">变更前：</h5>
					<!--<span class="mui-col-xs-4 spn"  id=""></span>-->
				</div>
				<div class="mui-row" style="">
					<span class="mui-col-xs-4 spn" >抄送给：</span>
					<span class="mui-col-xs-8 spn" id="formerName"></span>
				</div>
				<div class="mui-row" style="">
					<span class="mui-col-xs-4 spn" >抄送代码：</span>
					<span class="mui-col-xs-8 spn" id="formerCode"></span>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<h5 class="mui-col-xs-9 spn">变更后：</h5>
					<!--<span class="mui-col-xs-8 spn"  id=""></span>-->
					<button type="buttton" class="mui-btn mui-btn-primary mui-btn-outlined mui-col-xs-3" id="btn" style="height: 24px;padding:0;margin:0;">选择 &gt;</button>
				</div>
				<div class="mui-row" style="">
					<span class="mui-col-xs-4 spn" >抄送给：</span>
					<span class="mui-col-xs-8 spn" style="color: #000;" id="changeName"></span>
				</div>
				<div class="mui-row" style="">
					<span class="mui-col-xs-4 spn" >抄送代码：</span>
					<span class="mui-col-xs-8 spn" style="color: #000;" id="changeCode"></span>
				</div>
			</div>
			<div class="mui-row" style="background: #ffffff;"> 
				<button type="buttton" class="mui-btn mui-btn-primary mui-btn-outlined mui-col-xs-12" id="saveBtn" style="text-align: center;margin-right:;border:none;" >确&nbsp; &nbsp; &nbsp;定</button>	
			</div>
		</div>
	</body>
	<!--出库扫码-->
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js" type="text/javascript" charset="utf-8"></script>
		

	<script type="text/javascript">
		mui.init({});
		var $$ = jQuery.noConflict();
		var teamBillCom = "";
		var teamBillComName = "";
		var date = new Date();
		var userbillNo = "";
		var loginCom = "";
		var loginComName = "";
		var flagNew = "";
		var onlyCode = "";
		var fbill_no = "";
		var detailInfo = "";
		var hadSend = false;  // 用于判断是否送审
		var flagsave = false; // 用于判断是否保存过 
		var rqsData = "";
		var deptname = "";
		mui.plusReady(function() {

			// 接收传过来的参数
			var self = plus.webview.currentWebview();
			// 基本参数(必要)
			teamBillCom 	= self.teamBillCom; 	// 1.管理单位代码
			teamBillComName = self.teamBillComName;	// 2.管理单位名称
			fbill_no 		= self.fbill_no;		// 3.fbill_no是
			loginCom 		= self.loginCom;		// 4.登录人的代码
			loginComName 	= self.loginComName;	// 5.登录人的名称
			userbillNo 		= self.userbillNo;		// 6.登录单位代码
			userName 		= self.userName;		// 7.登录单位名称
			privileges 		= self.privileges;		// 8.当前的权限是
			fromPage 		= self.fromPage;		// 9.从哪个页面来
			// 其他
			deptname 		= self.deptname;
			detailInfo 		= self.detailInfo;

			// 抄送接收105传送过来的名字		
			window.addEventListener('105findselectedUser', function(event) {
				var userNameStr = event.detail.userNameStr;
				var userCodeStr = event.detail.userCodeStr;
				document.getElementById("changeCode").innerHTML = userCodeStr;
				document.getElementById("changeName").innerHTML = userNameStr;
				return;
			});
			
			// 抄送，清空名字
			window.addEventListener('105findEmptySelected', function(event) {
		 		var close = event.detail.close;
 		 		if(close){
 		 			document.getElementById("changeCode").innerHTML = "";
					document.getElementById("changeName").innerHTML = "";
					oldUserName   = "";
					oldUserCode = "";
		 		}
 		 		var ccUserJson = detailInfo.cc_user;
			if(!vlUtils.isnull(ccUserJson)){
				var ccUserNameStr = "";
				var ccUserCodeStr = "";
				// 遍历对象，取出里面的中文名放在页面上
				for(var i in ccUserJson) {
					ccUserNameStr += "," + ccUserJson[i];
					ccUserCodeStr += "," + i;
				}
				document.getElementById("formerCode").innerHTML = ccUserCodeStr.slice(1);
				document.getElementById("formerName").innerHTML = ccUserNameStr.slice(1);
			}else{
				document.getElementById("formerCode").innerHTML = "";
				document.getElementById("formerName").innerHTML = "";
			}
				return;
			}); 

			document.getElementById("header").innerHTML = detailInfo.bill_name;
			  
			//
//			document.getElementById("formerCode").innerHTML = fbill_no; 
//			document.getElementById("changeCode").innerHTML = fbill_no;  
//			// 
//			if(fbill_no == "ROOT"){ // detailInfo.bill_comName
//				document.getElementById("formerName").innerHTML = detailInfo.bill_comName; 
//				document.getElementById("changeName").innerHTML = detailInfo.bill_comName;  
//			}else {
//				document.getElementById("formerName").innerHTML = teamBillComName;
//				document.getElementById("changeName").innerHTML = teamBillComName;  
//			}
			
			var ccUserJson = detailInfo.cc_user;
			if(!vlUtils.isnull(ccUserJson)){
				var ccUserNameStr = "";
				var ccUserCodeStr = "";
				// 遍历对象，取出里面的中文名放在页面上
				for(var i in ccUserJson) {
					ccUserNameStr += "," + ccUserJson[i];
					ccUserCodeStr += "," + i;
				}
				document.getElementById("formerCode").innerHTML = ccUserCodeStr.slice(1);
				document.getElementById("formerName").innerHTML = ccUserNameStr.slice(1);
			}else{
				document.getElementById("formerCode").innerHTML = "";
				document.getElementById("formerName").innerHTML = "";
			}
			
			document.getElementById("btn").addEventListener("tap",function(){
				//触发详情页面的newsId事件
				var oldUserName = document.getElementById("formerName").innerHTML;
				var oldUserCode = document.getElementById("formerCode").innerHTML;
				mui.openWindow({
					url: 'vdvc105_find.html',
					id: 'vdvc105_find.html',
					createNew: true,
					extras: {
						teamBillCom: teamBillCom,
						teamBillComName: teamBillComName,
						userbillNo: userbillNo,
						loginCom: loginCom,
						loginComName: loginComName,
						oldUserName:oldUserName,
						oldUserCode:oldUserCode,
//						choice: "single", // 单选
					 	choice:"multiple", // 多选
					 	fromPage: "vdvc103hn_edit02.html",
					}
				})
			})
			
			//控制返回
//			document.getElementById("goBack").addEventListener("tap",function(){
//				var oldBack = mui.back;
//				mui.back = function(){
//				    var webview = plus.webview.getWebviewById('vdvc103hn_node.html'); //假设第一个Webview的id是home
//				    webview.show();
//				}; 
//			}) 
		
			//发送ajax提交变更后的数据（变的就是个 "fbill_no"）
			//保存
			document.getElementById("saveBtn").addEventListener("tap",saveBtn); 
			function saveBtn(){
				var  cc_user_code = document.getElementById("changeCode").innerHTML;
				var  cc_user_cn = document.getElementById("changeName").innerHTML;
				// 抄送转换格式、提交：
				var ccUserCodeArr = cc_user_code.split(",");
				var ccUserNameArr = cc_user_cn.split(",");
				var ccUserJson = {}; 
 				if(!vlUtils.isnull(ccUserCodeArr)){
 					for(var i = 0; i < ccUserCodeArr.length; i++) {
						ccUserJson[ccUserCodeArr[i]] = ccUserNameArr[i];
					} 
					ccUserJson= JSON.stringify(ccUserJson)
 				}else{
 					ccUserJson="";
 				}
				changeData = [
					{
						cc_user:JSON.stringify(detailInfo.cc_user)
					},
					{
						cc_user:ccUserJson
					}
				];
				//提交的数据
//				rqsData = {
//					bill_id: detailInfo.bill_id,
//					cc_user: detailInfo.cc_user,
//					bill_title: detailInfo.bill_title,
//					bill_no: detailInfo.bill_no,
//					bill_task:"d_save" ,
//	//				fbill_no: detailInfo.fbill_no,	// 修改的时候要传吗
//					bill_user: userbillNo, // 登陆人
//					bill_com: teamBillCom, //登录人单位
//					bill_dept:detailInfo.bill_dept,
//					link_next:detailInfo.link_next,
//					node_qty:detailInfo.node_qty,
//					bill_ipaddr:detailInfo.bill_ipaddr,
//					bill_gpsaddr:detailInfo.bill_gpsaddr,
//					bill_context: detailInfo.bill_context,
//					bill_name: detailInfo.bill_name,
//					bill_date:vlUtils.dateToString(date),
//					bill_text:JSON.stringify(changeData)
//				};
				detailInfo.bill_task = "d_save";
				detailInfo.cc_user = ccUserJson;
				detailInfo.bill_text = JSON.stringify(changeData); 
				saveAjax(detailInfo)
			}
			function saveAjax(params){
//				return;
				mui.ajax(systemURL + 'Api/Task/sendTask', {
					data: params,
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					beforeSend: function() {
						checkNetState(); // 检查网络链接状态
					},
					timeout: 10000, //超时时间设置为10秒
					async:false,
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						if(data.code == 0) {
							mui.toast(data.message)
							mui("#saveBtn").button('reset');
							successFun("vdvc103hn_node.html");
						}
						if(data.code == 1) {
							ajaxCode1(data.error_code,data.error_description,'../login.html');
							// 释放按钮
							mui("#saveBtn").button('reset');
						}
					},
					error: function(xhr, type, errorThrown) {
						console.log(xhr.responseText);
						mui("#saveBtn").button('reset');
						console.log(JSON.stringify(xhr));
						console.log(errorThrown);
						console.log(type);
						if(type == "timeout") {
							mui.toast("请求超时");
						}
		
					}
				});
			}
			
			
		}); // plusReady
		
	</script>

</html>