<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.min.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			ul li {
				list-style: none;
			}
			
			.list_font {
				font-size: 10px;
				line-height: 12px;
				height: 12px;
				display: -webkit-box;
				margin-bottom: 5px;
				padding: 0px;
				/*-webkit-box-orient: vertical;*/
				-webkit-line-clamp: 2;
				overflow: hidden;
			}
			
			.list_fonts {
				font-size: 12px;
				line-height: 14px;
			}
			
			.list_h5 {
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.list_sts {
				font-size: 12px;
				line-height: 14px;
				padding: 3px;
			}
			
			.mui-pull-top-pocket {
				border: transparent;
			}
			
			.mui-table-view:after {
				height: 0 !important;
			}
			
			.mui-table-view:before {
				height: 0 !important;
			}
			* {
				margin: 0px;
				padding: 0px;
			}
			
			body {
				font-size: 16px;
			}
			
			ul#contList {
				width: 100%;
				background: #efeff4;
			}
			
			ul#contList li {
				margin-bottom: 10px;
			}
			.hide{display: none;}
		</style>
	</head>

	<body>
		<div id="vdvc206hn_list" class="mui-content mui-scroll-wrapper">
			<div id="showHint" class="mui-h5" style="padding:100px;height:300px;display:;text-align: center;background: ;display:none;border: transparent;background: ;">
				<span class="icon iconfont icon-wushuju" style="color:;font-size:100px;"></span>
				<p style="color:#000000;margin-top:10px;margin-bottom:0;border-bottom: transparent;padding-bottom:0;">未查询到相关的数据</p>
				<p style="font-size:10px;border-bottom: transparent;">可以尝试其他查询</p>
			</div>
			<div id="searching" class="mui-h5" style="padding:100px;height:300px;text-align: center;display:block;">
				<p class="mui-icon mui-icon-search" id="" style=";color:#0062cc;height:100px;line-height: 100px;font-size: 100px;"></p>
				<p style="font-size:12px;">正在搜索中......</p>
			</div>
			
			<div id="showError" class="mui-h5" style="padding:100px;height:300px;display:;text-align: center;background: ;display:none;border: transparent;background: ;">
				<span class="icon iconfont icon-kulian" style="color:;font-size:100px;"></span>
				<p style="color:#000000;margin-top:10px;margin-bottom:0;border-bottom: transparent;padding-bottom:0;">出错啦~</p>
				<p style="font-size:10px;border-bottom: transparent;">请稍后再试</p>
			</div>
			<div class="mui-scroll">
				<ul id="contList" class="mui-table-view mui-table-view-striped mui-table-view-condensed">			
				</ul>
			</div>
		</div>
		<script type="text/template" id="listTmpl">
			<li class="mui-table-view-cell" data-name=<%=liLeftM%> style="height:70px;margin-bottom:3px;padding:10px;background:#fff;">
		    	<div class="data-row hide"><%=rowdata%></div>
				<div class="mui-slider-cell mui-slider-handle">
					<div class="mui-row">
						<div class="mui-col-xs-9 mui-row" style="background:;height:50px;">
							<h5 class="list_h5 mui-col-xs-12" style="color:#242424;padding-top:3px;"><%=liTitle%></h5>
							<p class="list_font mui-col-xs-12"><%=liLeftT%></p>
						</div>
						<div class="mui-col-xs-3 mui-row list_three" style="background:;text-align: right;">
							<p class="list_fonts mui-col-xs-12" style="float:right;"><%=liDate%></p>
							<p class="list_fonts mui-col-xs-12" style="float:right;margin-top:3px;"><%=liImgName%></p>
							
						</div>
					</div>
				</div>
			</li>
		</script>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/arttmpl.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/vlindex.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		mui.init({
			pullRefresh: {
				container: '#vdvc206hn_list',	
				down: {
					callback: pulldownRefresh
				},
				up: {
					height: 200,
					contentnomore: '没有更多数据了',
					offset: '10px',
					contentrefresh: '正在加载...',
					callback: pullupRefresh
				}
			}
		});
		var pager={},pageSize=20,activeTask="VR_vdsa301_query_01",search=''
		var openlock = false;
	    //页面首次加载
		mui.plusReady(function() {				
			// 接收传过来的参数
			var self = plus.webview.currentWebview().parent();
			// 基本参数(必要)
			teamBillCom = self.teamBillCom; 
			teamBillComName = self.teamBillComName; 
			fbill_no = self.fbill_no; 
			loginCom = self.loginCom; 
			loginComName = self.loginComName; 
			userbillNo = self.userbillNo; 
			userName = self.userName; 
			privileges = self.privileges; 
			fromPage = self.fromPage; 
			//console.log(JSON.stringify(self))
			p = findData(activeTask)
			//console.log(JSON.stringify(p))
			VlAjax.post({"port":"active","headers":"json","isFirst" :true},p,scB)
		
		
			
        })
		
		//监听plist页面点击导航拉取不同状态的数据
		document.addEventListener('differentStatesRefresh260list', function(event) {
			activeTask = event.detail.activeTask;
			search = event.detail.search;
			port = event.detail.port;
			document.getElementById("showHint").style.display = "none";
			document.getElementById("searching").style.display = "block";
			document.getElementById("contList").innerHTML = '';
			p = findData(activeTask);
			plus.nativeUI.showWaiting("正在查询数据..."); 
			//console.log(JSON.stringify(p))
			VlAjax.post({"port":"active","headers":"json", "isFirst" :true},p,scB)
		}); // 切换结束
		
		//成功回调
        function scB(data,type){
					 pager = mui.type(data.page) === 'array' ? data.page[0] : data.page;
					 //console.log(JSON.stringify(data.page))
        			 if(data.code==0){
        				 var datas=data.data;
        				 if(datas.length!=0){
        					 var html='';
        					 var contList=document.getElementById("contList")
        					 for(var i=0;i<datas.length;i++){
        						 var rowd=dataAdapter(datas[i])
        						 var source =document.getElementById('listTmpl').innerHTML
        						 var render=template.compile(source)
        						 html+=render(rowd)
								 if(type&&i==0){
									 contList.innerHTML=''
									 document.getElementById("searching").style.display="none"
								 }
        					 }
							 jQuery("#contList").append(html);
        				 } else {
								document.getElementById("contList").innerHTML = "";
								document.getElementById("searching").style.display = "none";
								document.getElementById("showHint").style.display = "block";
				       }
        		 }
					 plus.nativeUI.closeWaiting();
             }

			 //渲染数据格式
			 function dataAdapter(data){
				 var oData = {};
				 for(var k in data) {
				 	oData[k.slice(0, 2)] = data[k];
				 }
				 var row=JSON.stringify(oData);
				 return{
					 "rowdata" 	: row,
					 "liTitle" 	: oData["标题"],
					 "liDate" 	: (oData["日期"]).slice(5, 16),
					 "liImgName" : oData['参数'],				 
					 "liLeftT" 	: oData["指令"],
					 "liLeftM" 	: oData["图片"],
					 "liLeftB" 	: "",
					 "liRightT" : '',
					 "liRightM" : "",
					 "liRightB" : "",
			      }
           }
		   mui("#contList").on("tap",'li',function(e){
		   	var e = this;
		   	var li = e;
		   	var dataRow = jQuery(li).find(".data-row").eq(0).html();
		   	var rowObj = JSON.parse(dataRow);
			var a=this.getAttribute("data-name")
		   //	console.log(a)
		   	mui.openWindow({
		   		id: 'vdvc206hn_pnode.html',
		   		url: 'vdvc206hn_pnode.html',
		   		createNew: true,
		   		extras: {
		   			teamBillCom: teamBillCom,
		   			teamBillComName: teamBillComName, 	
		   			fbill_no: fbill_no, 		
		   			loginCom: loginCom, 
		   			loginComName: loginComName, 
		   			userbillNo: a, 
		   			userName: userName, 
		   			privileges: privileges, 
		   			fromPage: "vdvc206hn_list.html", 
		   			detailInfo: rowObj,
		   		}
		   	});
		   })
		   //下拉刷新
		   function pulldownRefresh() {
		   	
		   	mui.toast("加载中...");
		   	document.getElementById("contList").innerHTML = "";
		   	document.getElementById("showHint").style.display = "none";
		   	document.getElementById("searching").style.display = "block";
			p.currentPage = 1;
		   	plus.nativeUI.showWaiting("正在查询数据..."); 
			p = findData(activeTask)
		   	VlAjax.post({"port":"active","headers":"json", "isFirst" :true}, p, scB)
		   	mui('#vdvc206hn_list').pullRefresh().endPulldownToRefresh(); //下拉完成后可以再次执行下拉刷新
		   
		   }
		   /*上拉加载具体业务实现 */
		   function pullupRefresh() {  
			if(p.currentPage < pager.totalPage) {
				p.currentPage = p.currentPage + 1;
				p.pageSize = pageSize;
			} else {
				plus.nativeUI.toast("~没有更多啦~", {
					'verticalAlign': "middle"
				});
				mui('#vdvc206hn_list').pullRefresh().endPullupToRefresh();
				return;
			}	 
		   	plus.nativeUI.showWaiting("正在查询数据..."); 
		   	VlAjax.post({"port":"active","headers":"json", "isFirst" :false}, p, scB)
		   	mui('#vdvc206hn_list').pullRefresh().endPullupToRefresh();
		   }
		   //首次传参保存
		   function findData(task,port){
			   var p={
			   	bill_task:activeTask,
			   	bill_user:userbillNo,
			   	bill_com :loginCom,
				pageSize :pageSize,
				currentPage	: 1,
				bill_title: search,
			   }
			   return p
		   }
	</script>

</html>