<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>签收管理（父页面）</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.topNavOut {
				text-align: center;
				position: relative;
				margin-bottom: 0px;
				height: 35px;
				color: #353b42;
			}
			.active {
				color: #ea6d10;
				border-bottom: 2px solid #ea6d10;
				/*background:pink;*/
			}
			.mui-bar .mui-icon:active {
				background: #0062cc!important;
			}
			.mui-bar-nav~.mui-content .mui-pull-top-pocket {
				top: 100px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerMain nodeHeader" id="head" style="height:105px;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="goBack"></a>	
			<h1 class="mui-title headText" id="header"></h1>
			<div class="mui-row">
				<div class="mui-row" style="position:fixed;top:70px;left:0px;width:100%;height:35px;line-height: 35px;background:#f7f7f7;display:;" id="topNavOut2">
					<p class="mui-col-xs-6 topNavOut active" data-active="active" data-type="001">待签收</p>
					<p class="mui-col-xs-6 topNavOut" data-type="002">已签收</p>
				</div>
			</div>
		</header>
		<div class="mui-content" >
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js"></script>
	<script type="text/javascript">
		//启用双击监听
		mui.init({
			gestureConfig: {
				doubletap: true
			},
			subpages: [{
				url: 'vdsa412_list.html',
				id: 'vdsa412_list.html',
				styles: {
					top: '110px',
					bottom: '0px',
				}
			}]
		});

		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap', function() {
			if(contentWebview == null) {
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#vdsa412_list').pullRefresh().scrollTo(0,0,100)");
		});

		// 进入页面插件加载完成拉去数据
		mui.plusReady(function() {
			//接收传过来的参数
			var self = plus.webview.currentWebview();
			var teamBillCom = self.teamBillCom;
			var teamBillComName = self.teamBillComName;
			var userbillNo = self.userbillNo;
			var loginCom = self.loginCom;
			var loginComName = self.loginComName;
			
			var userNew = JSON.parse(vlUtils.getStorage("user")); 
			// 更改header的显示信息
			document.getElementById("header").innerHTML = teamBillComName; //头部显示发货单位名
			document.getElementById("header").setAttribute("teamBillCom", teamBillCom);
			document.getElementById("header").setAttribute("userbillNo", userbillNo);
			document.getElementById("header").setAttribute("loginCom", loginCom);
			document.getElementById("header").setAttribute("loginComName", loginComName);
			//跳转到编辑页面

			//nav
			mui("#topNavOut2").on("tap", "p", function() {
				var self = this;
				jQuery(this).addClass("active").siblings().removeClass("active");
				//触发详情页面的newsId事件
				mui.fire(plus.webview.getWebviewById('vdsa412_list.html'), 'subpage133list', {
					active: self.getAttribute("data-type")
				});
			})
		})
	</script>

</html>