<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.imageviewer.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			body {
				font-size: 12px;
			}
			
			form {
				margin: 5px 0;
			}
			
			.mui-row {
				padding: 8px;
			}
			
			input[placeholder] {
				font-size: 11px;
			}
			
			.mui-input-row.lastInput:after {
				height: 0;
			}
			
			.mui-input-row,
			.lastInput {
				/*height: 30px !important;*/
				font-size: 11px !important;
				color: #666 !important;
			}
			
			.mui-input-row,
			.lastInput label {
				/*background:cyan;*/
			}
			
			.mui-input-row label {
				/*background:cyan;*/
				margin-top: 4px;
			}
			
			.mui-input-row,
			.lastInput input {
				/*margin-top: 8px;*/
				margin-left: 0px !important;
			}
			
			.mui-input-group .mui-input-row,
			.none:after {
				background-color: #fff !important;
			}
			
			.mui-input-group .mui-input-row.none {
				height: 33px !important;
			}
			
			b{
				position: absolute;
				top:8px;
				right: 20px;
				color:#0062CC;
				font-size: 20px;
				font-weight: normal;
			}
			.list_font {
				padding:1px;
				padding-left:15px;
				color: #000000;
				font-size: 11px;
				line-height: 12px;
				height: 12px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}

			
			.mui-radio input[type='radio'] {
				top: 8px !important;
			}
			.mui-radio input[type='radio']:before{
				font-size: 22px !important;
			}
			.mui-radio label{
				padding-left: 40px !important;
			}
			.mui-radio.mui-left input[type='radio']{
				left:12px;
			}
			.list_sts {
				font-size: 12px;
				line-height: 14px;
				/*color: #f0ad4e;*/
				/*border:1px solid #dd524d;*/
				border: 1px solid #f0ad4e;
				border-radius: 2px;
				text-align: center;
				/*background-color: pink;*/
			}
			.blabel{color:#FF4400;}
			.hide{display: none;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerMain editHeader" id="head">
			<a class="mui-action-back mui-pull-left" id="goBack">返回</a>
			<div class="mui-title plistTitle">
				<p id="title"></p>
				<h1 id="header"></h1>
			</div>
			<a class=" mui-pull-right rightIcon" id="saveBtn" data-loading-text="提交中">保存</a>
			<div class="mui-row navBar buttonBars">
				<button type="button" id="deleteBtn" class="mui-col-xs-4">
					<span class="mui-icon mui-icon-trash" id="deleteIcon"></span>
					<span>删除</span>
				</button>
				<button type="button" id="bSendBtn" class="mui-col-xs-4">
					<span class="mui-icon mui-icon-upload" id="bSendIcon" ></span>
					<span>送审</span>
				</button>
				<button type="button" id="bBackBtn" class="mui-col-xs-3 hide">
					<span class="mui-icon mui-icon-paperclip" id="bBackIcon"></span>
					<span>收回</span> 
				</button>
				<span class="mui-col-xs-4 state" id="billState"></sapn>  
			</div>
		</header>
		<div class="mui-content" style="padding-top:85px;margin-top:20px;margin-bottom:30px;"> 
			<div class="mui-input-group" id="linkvdUsercom" style="display:none;padding:5px 18px 5px 18px;margin-bottom:5px;position: relative;">
				<div class="mui-row">
					<span class="mui-col-xs-3" style="color:#ACACB4;">政策标识:</span>
					<span class="mui-col-xs-8" id="bill_no"></span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">fbill_no:</span>
					<span class="mui-col-xs-8" id="fbill_no">ROOT</span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">客户:</span>
					<span class="mui-col-xs-8" id="bill_doppo"></span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">制单人:</span>
					<span class="mui-col-xs-8" id="bill_user"></span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">制单单位:</span>
					<span class="mui-col-xs-8" id="bill_com"></span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">制单时间:</span>
					<span class="mui-col-xs-8" id="bill_date"></span>
				</div>
			</div>
			 <div class="mui-input-group" id="linkvdUsercom" style="padding:5px 18px 5px 18px;margin-bottom:5px;position: relative;">
				<div class="mui-row">
					<span class="mui-col-xs-3" style="color:#ACACB4;">选择流程:</span>
					<span class="mui-col-xs-8" id="flow"></span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">流程编码:</span>
					<span class="mui-col-xs-8" id="linkvd_linkwflow"></span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">部门类型:</span>
					<span class="mui-col-xs-3" id="linkvd_deptype"></span>
					<span class="mui-col-xs-6 list_sts" id="bill_dept" style="display: none;"></span>
					<span class="mui-col-xs-6 list_sts" id="deptypeName" style="margin-top:2px;"></span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">三级流程:</span>
					<span class="mui-col-xs-8" id="bill_bflow"></span>
					<br/>
					<span class="mui-col-xs-3" style="color:#ACACB4;">四级流程:</span>
					<span class="mui-col-xs-8" id="bill_wflow"></span>
				</div>
				<button type="button" class="mui-btn mui-btn-primary" id="changeFlow" style="display:none;padding:3px;font-size:12px;margin:0 10%;width:80%;">&gt; &nbsp;点击切换流程&nbsp; &lt;</button>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row lastInput">
					<label>销售政策编码</label>
					<input id="bill_id" type="text" class="mui-input-clear  requiredInput" placeholder="请录入销售政策编码" required="required">
					<span id="bill_dept_code" style="display: none;"></span>
				</div>
			</div>
			<div class="mui-input-group" id="selectCustomer" style="display:none;padding:5px 18px 5px 25px;margin-bottom:5px;height: 40px;line-height: 30px;">
				<div class="mui-row" style="margin:0;padding:0;">
					<span class="mui-col-xs-4 spn">选择客户：</span>
					<span class="mui-icon mui-icon-arrowright" id="" style="float:right;color:#0062CC;"></span>
 					<span class="mui-col-xs-6 spn" id="linkvd_doppoName"></span>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row" style="display: none;">
					<label>产品代码</label>
					<input id="bill_nameCode" type="number" class="mui-input-clear " placeholder="录入产品代码" value="" required="required">
				</div>
				<div class="mui-input-row">
					<label>产品名称</label>
					<input id="bill_name" type="text" class="mui-input-clear requiredInput" placeholder="点击选择产品" value="" readonly="readonly" >
					<b>&gt;</b>
				</div>
				<div class="mui-row " style="padding:0;margin:10px 0 0 0;">
					<p class="list_font mui-col-xs-5" style="margin-bottom:0px;">产品编码：</p>
					<p class="list_font mui-col-xs-7" id="bill_bid"></p>
				</div>
				<div class="mui-row " style="padding:0;margin:0;">
					<p class="list_font mui-col-xs-5" style="margin-bottom:0px;">产品条码(箱码)：</p>
					<p class="list_font mui-col-xs-7" id="bill_oppo"></p>
				</div>
				<div class="mui-row " style="padding:0;margin:0;">
					<p class="list_font mui-col-xs-5" style="margin-bottom:0px;">产品条码(瓶码)：</p>
					<p class="list_font mui-col-xs-7" id="bill_coppo"></p>
				</div>
				<div class="mui-row " style="padding:0;margin:0px 0 0 0;">
					<p class="list_font mui-col-xs-5" style="margin-bottom:0px;">规格型号：</p>
					<p class="list_font mui-col-xs-7" id="bill_spec"></p>
				</div>
				<div class="mui-row " style="padding:0;margin:0;">
					<p class="list_font mui-col-xs-5" style="margin-bottom:0px;">产品说明：</p>
					<p class="list_font mui-col-xs-7" id="bill_title"></p>
				</div>
				<div class="mui-row " style="padding:0;margin:0;">
					<p class="list_font mui-col-xs-5" style="margin-bottom:0px;">物品类型：</p>
					<p class="list_font mui-col-xs-7" id="bill_nunit"></p>
				</div>
				<div class="mui-row " style="padding:0;margin:0;">
					<p class="list_font mui-col-xs-5" style="margin-bottom:0px;">物品类别：</p>
					<p class="list_font mui-col-xs-7" id="bill_nspec"></p>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
			<div class="mui-input-row" id="Bill_unit">
				<div class="mui-col-xs-3 mui-pull-left" style="padding:11px 0px 11px 15px;">销售单位</div>
				<div class=" mui-pull-left mui-radio mui-left mui-col-xs-3" id="orientSet">
					<label>件</label>
					<input name="deptSale" type="radio" class="deptSale" id="jian" value="件" checked="checked">
				</div>
				<div class=" mui-pull-left mui-radio mui-left mui-col-xs-3" id="">
					<label>类</label>
					<input name="deptSale" type="radio" class="deptSale" id="lei" value="类" disabled="disabled">
				</div>
			</div>
			<div class="mui-input-row">
				<label>标准价</label>
				<input id="node_rate" type="number" oninput=inputnum(this) class="mui-input-clear requiredInput" placeholder="输入标准价" >
			</div>
			<div class="mui-input-row">
				<label>开票价</label>
				<input id="node_price" type="number" oninput=inputnum(this) class="mui-input-clear requiredInput" placeholder="输入开票价" >
			</div>
			<div class="mui-input-row lastInput">
				<label>进店价格</label>
				<input id="node_nprice" type="number" oninput=inputnum(this) class="mui-input-clear requiredInput" placeholder="输入进店价格">
			</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;display: none;">
				<div class="mui-input-row lastInput" >
					<label>销售区域</label>
					<input id="bill_context" type="number" class="mui-input-clear " placeholder="">
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row">
					<label>开始时间</label>
					<input id="bill_bdate" data-field="date.bill_bdate" class="mui-input-clear requiredInput" type="date"  placeholder="">
				</div>
				<div class="mui-input-row lastInput">
					<label>截止时间</label>
					<input id="bill_edate" data-field="date.bill_edate" class="mui-input-clear requiredInput" type="date"  placeholder="">
				</div>
			</div>
			<div class="mui-input-group" style="padding:8px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row">
					<label class="blabel">投放标签</label>
					<input id="bill_label" type="text" class="mui-input-clear requiredInput" placeholder="请录入单个投放标签" >
				</div>
				<div class="mui-input-row lastInput">
					<label class="blabel">产品标签</label>
					<input id="bill_nlabel" type="text" class="mui-input-clear requiredInput" placeholder="请录入产品标签" >
				</div>
			</div>
			<!-- 点击退出时底部弹出-->
			<div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
				<!-- 可选择菜单 -->
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" id="sureDelBtn">
						<a>确认</a>
					</li>
				</ul>
				<!-- 取消菜单 -->
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#sheet1"><b>取消</b></a>
					</li>
				</ul>
			</div>
			</div>
	</body>
	<!--出库扫码-->
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/mui.imageViewer.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript">
		mui.init({});
		var $$ = jQuery.noConflict();
		var date = new Date();
		var bill_date = vlUtils.dateToString(date);
		var rqsData = null; //提交的数据
		var inputData = null; // 表单里的数据
		var teamBillCom = "";
		var teamBillComName = "";
		var userbillNo = "";
		var loginCom = "";
		var loginComName = "";
		var flagNew = "";
		var onlyCode = "";
		var fbill_no = "";
		var detailInfo = "";
		var hadSend = false; // 用于判断是否送审
		var flagsave = false; // 用于判断是否d_new
		var clen = 0; //多选的length长度，
		mui.plusReady(function() {
			// TODO 1. 页面上的字段========================
			var h = {
				bill_no 	:"",
				fbill_no 	:"",
				bill_com 	:"",
				bill_date 	:"",
				bill_user 	:"",
				bill_bflow 	:"",
				bill_bid 	:"",
			}
			var v = {
				bill_id 	:"",
				bill_name 	:"",
				bill_ndate 	:"",
				bill_context:"",
				bill_wflow	:"",
			}
			// TODO 2. 接收传过来的参数=============================
			var self = plus.webview.currentWebview();
			// 基本参数(必要)
			teamBillCom 	= self.teamBillCom; // 1.管理单位代码
			teamBillComName = self.teamBillComName; // 2.管理单位名称
			fbill_no 		= self.fbill_no; // 3.fbill_no是
			loginCom 		= self.loginCom; // 4.登录人的代码
			loginComName 	= self.loginComName; // 5.登录人的名称
			userbillNo 		= self.userbillNo; // 6.登录单位代码
			userName 		= self.userName; // 7.登录单位名称
			privileges 		= self.privileges; // 8.当前的权限是
			fromPage 		= self.fromPage; // 9.从哪个页面来
			// 其他
			flagNew = self.flagNew;
			detailInfo = self.detailInfo;
			
			// TODO 3. 基础设置/赋值 
			// 判断为新增还是修改
			if(flagNew == "N") { // 修改  
				document.getElementById("title").innerHTML = "编辑销售政策";
				document.getElementById("header").innerHTML = teamBillComName;
				document.getElementById("bill_no").innerHTML = detailInfo.bill_no;
				var detailInfo = self.detailInfo;
				var privileges = self.privileges;
				var bill_no = detailInfo.bill_no;

				onlyCode = detailInfo.bill_no; //bill_no字段  
				setInputvalue();

				var bill_task = "d_save";
				var bill_user = detailInfo.bill_user;

				flagsave = true;

				if(detailInfo.bill_task == "L") {
					hadSend = false;
				}
				if(detailInfo.bill_task != "L") {
					hadSend = true;
				}

				rqsData = detailInfo;
				setButton(detailInfo);
			}
			if(flagNew == "Y") { // 新增状态
				onlyCode = getDataCode("vdsa210"); //bill_no字段
				var bill_task = "d_new";
				document.getElementById("title").innerHTML = "新增销售政策";
				document.getElementById("billState").innerHTML = "录入中";
				document.getElementById("header").innerHTML = teamBillComName;
				document.getElementById("bill_no").innerHTML = onlyCode;
				document.getElementById("bill_user").innerHTML = userName;
				document.getElementById("bill_com").innerHTML = teamBillCom;
				document.getElementById("bill_date").innerHTML = bill_date;
				document.getElementById("bill_dept").innerHTML = loginComName;
				setButton(detailInfo);
			}
			if(fromPage == "vdsa210_plist.html") {
				dataInfo = self.dataInfo;
				
				if(dataInfo == undefined) {
					document.getElementById("flow").innerHTML = "";
					document.getElementById("linkvd_linkwflow").innerHTML = "";
					document.getElementById("linkvd_deptype").innerHTML = "";
					document.getElementById("bill_dept").innerHTML = "";
					document.getElementById("deptypeName").innerHTML = "";
					document.getElementById("bill_bflow").innerHTML = "";
					document.getElementById("bill_wflow").innerHTML = "";
				} else {
					if(dataInfo.length > 1){
						document.getElementById("changeFlow").style.display = "block";
					}
					// 流程
					document.getElementById("flow").innerHTML = dataInfo[0]["图片"].split(":")[1];
					document.getElementById("linkvd_linkwflow").innerHTML = (dataInfo[0]["图片"].split(":"))[0];
					// 内容
					document.getElementById("linkvd_deptype").innerHTML = (dataInfo[0]["内容"].split(";"))[0].split(":")[1];
					document.getElementById("bill_dept").innerHTML = (dataInfo[0]["标题"].split(":"))[0];
					document.getElementById("deptypeName").innerHTML = (dataInfo[0]["标题"].split(":"))[1];
					document.getElementById("bill_bflow").innerHTML = (dataInfo[0]["内容"].split(";"))[2].split(":")[1];
					document.getElementById("bill_wflow").innerHTML = (dataInfo[0]["内容"].split(";"))[3].split(":")[1];
				}
			} else if(fromPage == "vdsa210_node.html") {
				detailInfo = self.detailInfo;
				document.getElementById("flow").innerHTML = detailInfo.bill_text[0].flow;
				document.getElementById("linkvd_linkwflow").innerHTML = detailInfo.bill_text[0].linkvd_linkwflow;
				document.getElementById("linkvd_deptype").innerHTML = detailInfo.bill_text[0].linkvd_deptype;
				document.getElementById("bill_dept").innerHTML = detailInfo.bill_dept;
				document.getElementById("bill_bflow").innerHTML = detailInfo.bill_bflow;
				document.getElementById("bill_wflow").innerHTML = detailInfo.bill_wflow;
				document.getElementById("deptypeName").innerHTML = detailInfo.bill_text[0].linkvd_linkdeptname;
				var oldBack = mui.back;
				mui.back = function() {
					mui.fire(plus.webview.getWebviewById('vdsa210_node.html'),'refresh',{
						bno : document.getElementById('bill_no').innerHTML
					});
				  	mui.openWindow({
				    	id:'vdsa210_node.html',
				  	});
					oldBack();
				
				}
			}
			//由vdsa210VRfind界面触发的事件
			window.addEventListener('vdsa210VRfind', function(event) {
				linkName	     = event.detail.linkName;
				dataRow	         = event.detail.dataRow;
//				var _oContent = {
//									"箱条码": "",
//									"瓶条码": "",
//									"规格型号": "",
//									"物品类型":"",
//									"物品类别":""
//				};
//				var _c = dataRow[0]['内容'] =  dataRow[0]['内容'].indexOf('{') > -1 ? JSON.parse(dataRow[0]['内容']) : _oContent;
//				//给产品编码，产品条码(箱码)，产品条码(瓶码)，规格型号：，产品说明：，物品类型，物品类别赋值
				if(typeof(dataRow)=="string"){
					dataRow = JSON.parse(dataRow);
				}
				var newdataArr = {};
				for(var k in dataRow[0]) {
					newdataArr[k.slice(0, 2)] = dataRow[0][k];
				}
				newdataArr["内容"] = JSON.parse(newdataArr["内容"]);
				document.getElementById("bill_bid").innerHTML = newdataArr["参数"]; //名称
				document.getElementById("bill_name").value = newdataArr["标题"]; //名称
				document.getElementById("bill_coppo").innerHTML = newdataArr["内容"]['瓶条码']; 
				document.getElementById("bill_nameCode").value = newdataArr["指令"]; 
				document.getElementById("bill_title").innerHTML = newdataArr["标题"]+newdataArr["内容"]['规格型号']; 
				document.getElementById("bill_spec").innerHTML = newdataArr["内容"]['规格型号'];
				document.getElementById("bill_oppo").innerHTML = newdataArr["内容"]['箱条码'];
				document.getElementById("bill_nunit").innerHTML = newdataArr["内容"]['物品类型'];
				document.getElementById("bill_nspec").innerHTML = newdataArr["内容"]['物品类别'];
				return;
				
			})
			document.getElementById("selectCustomer").addEventListener("tap", selectCustomer);
			var billbflow = document.getElementById("bill_bflow").innerHTML;
			if ( billbflow == "客户政策"){
				var selectCustomer = document.getElementById("selectCustomer");
				selectCustomer.style.display = "block";
			}
			var queryparmas = {
				name: 'msvr',
				bill_task: "VR_select_corrtype", // 查询的指令
				bill_com: teamBillCom, // 当前单位
				bill_user: userbillNo, // 当前登陆人
				//fiscal_period: fiscalperiod,
				currentPage: 1,
				pageSize: 100,
				paramText: ""
			};
//			rqsDataAjax(queryparmas, '/Find/Ddata/activity', reportData, '../login.html');
			
			//
			// 切换流程
			window.addEventListener('changeflow', function(event) {
				flowObj = event.detail.flowObj;
				document.getElementById("flow").innerHTML = flowObj["图片"].split(":")[1];
				document.getElementById("linkvd_linkwflow").innerHTML = (flowObj["图片"].split(":"))[0];
				// 内容
				document.getElementById("linkvd_deptype").innerHTML = (flowObj["内容"].split(";"))[0].split(":")[1];
				document.getElementById("bill_dept").innerHTML = (flowObj["标题"].split(":"))[0];
				document.getElementById("deptypeName").innerHTML = (flowObj["标题"].split(":"))[1];
				document.getElementById("bill_bflow").innerHTML = (flowObj["内容"].split(";"))[2].split(":")[1];
				document.getElementById("bill_wflow").innerHTML = (flowObj["内容"].split(";"))[3].split(":")[1];
			})
			// 接收311find传送过来的客户
			window.addEventListener('311findselectedCustomer', function(event) {
				var linkName = event.detail.linkName;
				var linkCom = event.detail.linkCom;
				var dataRow = event.detail.dataRow;
				dataRow = JSON.parse(dataRow);
				document.getElementById("bill_doppo").innerHTML = linkCom;
				document.getElementById("linkvd_doppoName").innerHTML = linkName;
				return;
			});
			// 选择部门
			window.addEventListener('103findselectedDept', function(event) {
				deptName = event.detail.deptName;
				deptCode = event.detail.deptCode;
				document.getElementById("bill_dept").value = deptName;
				document.getElementById("bill_dept_code").value = deptCode;
				return;
			});
			window.addEventListener('511findSelectedGoods', function(event) {
				linkName = event.detail.linkName;
				dataRows = event.detail.dataRows;
				dataRows = JSON.parse(dataRows);
				var newdataArr = {};
				for(var k in dataRows) {
					newdataArr[k.slice(0, 2)] = dataRows[k];
				}
				document.getElementById("bill_bid").innerHTML = newdataArr["参数"]; //名称
				document.getElementById("bill_name").value = newdataArr["标题"]; //名称
				document.getElementById("bill_coppo").innerHTML = newdataArr["内容"].split(',')[1].split(':')[1]; 
				document.getElementById("bill_nameCode").value = newdataArr["内容"].split(',')[0].split(':')[1]; 
				document.getElementById("bill_title").innerHTML = newdataArr["标题"]+newdataArr["内容"].split(',')[2].split(':')[1]; 
				document.getElementById("bill_spec").innerHTML = newdataArr["内容"].split(',')[2].split(':')[1];
				document.getElementById("bill_oppo").innerHTML = newdataArr["内容"].split(',')[0].split(':')[1]; 
				return;
			});
			//TODO
			document.getElementById("bill_name").addEventListener("tap", function(e) {
				var tradeName = document.getElementById("bill_name").value;
				var tradeCode = document.getElementById("bill_nameCode").value;
				//				return
				mui.openWindow({
					id: 'vdsa210_VRfind.html',
					url: '../vlfind/vdsa210_VRfind.html',
					createNew: true,
					extras: {
						teamBillCom: teamBillCom,
						teamBillComName: teamBillComName,
						fbill_no: 'ROOT',
						userbillNo: userbillNo,
						userName : '',
						loginCom: loginCom,
						loginComName: loginComName,
						choice: "single",
						privileges 		: '',
						userRole		: '',
						fieldid 		: '',
						bill_task  : "VR_vdvc511_query_01",
						fromPage: "vdsa210_edit.html"
					}
				});
			})
			//保存
			document.getElementById("saveBtn").addEventListener("tap", saveBtn);
			function checkBDdate(){
				var _bd = jQuery('#bill_bdate').val();
				var _ed = jQuery('#bill_edate').val();
				var _btime = new Date(_bd);
				var _etime = new Date(_ed);
				if ( _btime > _etime){
					mui.toast('开始时间应该小于截止时间~')
					return false;
				}
				return true;
			}
			function saveBtn() {

				mui("#saveBtn").button('loading');
				var checkResults = validateRequired(); //验证是否为必填字段  

//				if(verfiedResults == false) {
//					mui("#saveBtn").button('reset');
//					return;
//				}
				var _checkBDdate  = checkBDdate();
				if(!checkResults || !_checkBDdate){
					mui("#saveBtn").button('reset');
					plus.nativeUI.closeWaiting();
					return false;
				}
				var _json = {
					"node_rate" : "标准价",
					"node_price" : "开票价",
					"node_nprice" : "进店价格"
				}
				for(var i in _json){
					if(_json.hasOwnProperty(i)){
						if(document.getElementById(i).value > 99999.99){
							mui("#saveBtn").button('reset');
							mui.toast(_json[i] + "\n最大只允许录入99999.99");
							return false;
						}
					}
				}
				rqsData = getInputValue(); //获取每一个输入框的的值的方法   

				if(flagNew == "N") {

					rqsData = vlUtils.isUpdateObj(detailInfo, rqsData);
					rqsData.bill_task = "d_save";
					rqsData.cc_user = JSON.stringify(rqsData.cc_user);
					var newbill_wflow = "";
					//	concole.log( rqsData.bill_wflow.length );
					for(var r = 0; r < rqsData.bill_wflow.length; r++) {
						newbill_wflow += rqsData.bill_wflow[r] + ",";
					}
					rqsData.bill_wflow = newbill_wflow.slice(0, newbill_wflow.length - 1);

				}
				if(flagNew == "Y") {}
				saveAjax(rqsData);
			}
			// 按下“删除”后弹出底部菜单
			document.getElementById("deleteBtn").addEventListener("tap", deleteBtn)

			function deleteBtn() {
				mui('#sheet1').popover('show', document.getElementById("deleteBtn"));

			}
			// 删除：弹出确认菜单之后点击确认
			document.getElementById("sureDelBtn").addEventListener("tap", sureDelBtn);

			function sureDelBtn() {
				var params = {
					bill_no: onlyCode,
					bill_task: "d_delete",
					bill_user: userbillNo, // 登陆人
					bill_com: loginCom, //登录人单位  // 0109把teamBillCom改了
				}
				deleteAjax(params); //删除方法 
			}
			// 送审
			document.getElementById("bSendBtn").addEventListener("tap", bSendBtn);

			function bSendBtn() {
				var billDept = document.getElementById("bill_dept").innerHTML;
				var linkwflow = document.getElementById("linkvd_linkwflow").innerHTML;
				//
				var sendbtext = [{
					flow				: document.getElementById("flow").innerHTML, //单据类型
					linkvd_deptype		: document.getElementById("linkvd_deptype").innerHTML,
					linkvd_linkusername	: userName,
					linkvd_linkdeptname	: document.getElementById("deptypeName").innerHTML,
					bflow				: document.getElementById("bill_bflow").innerHTML,
					wflow				: document.getElementById("bill_wflow").innerHTML,
					title				: "销售政策("+document.getElementById("bill_name").value+")",
					amount				: "",
				}];
				var params = {
					bill_com	: loginCom, //登录人单位  // 0109把teamBillCom改了
					bill_no		: onlyCode,
					bill_user	: userbillNo,
					bill_task	: "b_send",
					flag_urgent	: "",
					fbill_no	: "",
					bill_date	: vlUtils.dateToString(date),
					bill_context: linkwflow,
					bill_dept	: billDept,
					bill_text	: JSON.stringify(sendbtext)
				}
				if(flagsave) {
					auditing(params); //送审方法
				} else {
					var checkResults = validateRequired(); //验证是否为必填字段  

//					if(verfiedResults == false) {
//						mui("#saveBtn").button('reset');
//						return;
//					}
					var _checkBDdate  = checkBDdate();
					if(!checkResults || !_checkBDdate){
						mui("#saveBtn").button('reset');
						plus.nativeUI.closeWaiting();
						return false;
					}
					rqsData = getInputValue(); //获取每一个输入框的的值的方法   
					saveAjax(rqsData);
					auditing(params); //送审方法
				}
			}
			// 收回
			document.getElementById("bBackBtn").addEventListener("tap", bBackBtn);

			function bBackBtn() {
				var params = {
					bill_com: loginCom, //登录人单位  // 0109把teamBillCom改了
					bill_no: onlyCode,
					bill_user: userbillNo,
					bill_task: "b_back",
					flag_urgent: "Y"
				}
				if(hadSend) {
					takeback(params); // 收回方法
				}
			}
			
			//按钮设置
			function setButton(detailInfo) {
				var userbillNo = vlUtils.getStorage("userbillNo");
				var privileges = vlUtils.getStorage("newPrivileges");
				// 1.
				if(!flagsave) {

					document.getElementById("saveBtn").addEventListener("tap", saveBtn);
					document.getElementById("bSendBtn").addEventListener("tap", bSendBtn);
					document.getElementById("bBackBtn").removeEventListener("tap", bBackBtn);
					document.getElementById("deleteBtn").removeEventListener("tap", deleteBtn);
					// 
					document.getElementById("saveBtn").style.color = "#FFF";
					document.getElementById("bSendIcon").style.color = "#18B4ED";
					document.getElementById("bBackIcon").style.color = "#8f8f94";
					document.getElementById("deleteIcon").style.color = "#8f8f94";
				}
				// 2.
				if(flagsave && !hadSend) {

					document.getElementById("saveBtn").addEventListener("tap", saveBtn);
					document.getElementById("bSendBtn").addEventListener("tap", bSendBtn);
					document.getElementById("bBackBtn").removeEventListener("tap", bBackBtn);
					document.getElementById("deleteBtn").addEventListener("tap", deleteBtn);
					// 
					document.getElementById("saveBtn").style.color = "#FFF";
					document.getElementById("bSendIcon").style.color = "#18B4ED";
					document.getElementById("bBackIcon").style.color = "#8f8f94";
					document.getElementById("deleteIcon").style.color = "#18B4ED";
				}
				// 3.
				if(flagsave && hadSend && privileges != "ROOT") {

					document.getElementById("saveBtn").removeEventListener("tap", saveBtn);
					document.getElementById("bSendBtn").removeEventListener("tap", bSendBtn);
					document.getElementById("bBackBtn").addEventListener("tap", bBackBtn);
					document.getElementById("deleteBtn").removeEventListener("tap", deleteBtn);
					// 
					document.getElementById("saveBtn").style.color = "#8f8f94";
					document.getElementById("bSendIcon").style.color = "#8f8f94";
					document.getElementById("bBackIcon").style.color = "#18B4ED";
					document.getElementById("deleteIcon").style.color = "#8f8f94";
				}
				// 4.
				if(flagsave && hadSend && privileges == "ROOT") {

					document.getElementById("saveBtn").addEventListener("tap", saveBtn);
					document.getElementById("bSendBtn").removeEventListener("tap", bSendBtn);
					document.getElementById("bBackBtn").addEventListener("tap", bBackBtn);
					document.getElementById("deleteBtn").removeEventListener("tap", deleteBtn);
					// 
					document.getElementById("saveBtn").style.color = "#FFF";
					document.getElementById("bSendIcon").style.color = "#8f8f94";
					document.getElementById("bBackIcon").style.color = "#18B4ED";
					document.getElementById("deleteIcon").style.color = "#8f8f94";
				}
				// 
			}
			//验证必填
			function validateRequired() {
				var check = true;
				// 检测第一部分必填字段是否填写
				var blankInputLens = mui(".mui-input-clear.requiredInput").length;
				for(var i = 0; i < blankInputLens; i++) {

					if(!mui(".mui-input-clear.requiredInput")[i].value || mui(".mui-input-clear.requiredInput")[i].value.trim() == "") {
						var label = mui(".mui-input-clear.requiredInput")[i].previousElementSibling;
						mui.toast(label.innerText + "不允许为空");
						mui("#saveBtn").button('reset');
						check = false;
						return check;
					}
				}
				return check;
			}
			//修改输入框赋值
			function setInputvalue() {
				// 第一部分
				document.getElementById("bill_id").value = detailInfo.bill_id; // 
				document.getElementById("bill_nunit").value = detailInfo.bill_nunit; // 
				document.getElementById("bill_nspec").value = detailInfo.bill_nspec; // 
				document.getElementById("bill_bid").innerHTML = detailInfo.bill_bid; // 
				document.getElementById("bill_nameCode").value = detailInfo.bill_id; // 
				document.getElementById("bill_name").value = detailInfo.bill_name; // 
				document.getElementById("bill_spec").innerHTML = detailInfo.bill_spec; // 
				document.getElementById("bill_oppo").innerHTML = detailInfo.bill_oppo; // 
				document.getElementById("bill_coppo").innerHTML = detailInfo.bill_coppo; // 
				document.getElementById("node_rate").value = detailInfo.node_rate; //
				document.getElementById("node_price").value = detailInfo.node_price; //
				document.getElementById("node_nprice").value = detailInfo.node_nprice; //
				document.getElementById("bill_title").innerHTML = detailInfo.bill_title; //
				document.getElementById("bill_label").value = detailInfo.bill_label; //
				document.getElementById("bill_nlabel").value = detailInfo.bill_nlabel; //
				document.getElementById("bill_doppo").innerHTML = detailInfo.bill_doppo; //
				document.getElementById("linkvd_doppoName").innerHTML = detailInfo.bill_text[0].linkvd_doppoName;
				document.getElementById("bill_bdate").value = detailInfo.bill_bdate.slice(0,10);
				document.getElementById("bill_edate").value = detailInfo.bill_edate.slice(0,10);
				//	销售单位
				if(detailInfo.bill_unit == "件") {
					document.getElementById("jian").checked = true; //销售单位件
				} else if(detailInfo.bill_unit == "类") {
					document.getElementById("lei").checked = true; //销售单位类

				}
				//价格类型
				if(detailInfo.bill_bflow == "基本") {
					document.getElementById("jiben").checked = true;
				} else if(detailInfo.bill_bflow == "直销") {
					document.getElementById("zhixiao").checked = true;
				} else if(detailInfo.bill_bflow == "特批") {
					document.getElementById("tepi").checked = true;
				}
				//销售类型

				// 状态
				if(detailInfo.bill_task == "S") {
					document.getElementById("billState").innerHTML = "待审核";
				}
				if(detailInfo.bill_task == "Y") {
					document.getElementById("billState").innerHTML = "已审核";
				}
				if(detailInfo.bill_task == "L") {
					document.getElementById("billState").innerHTML = "待送审";
				}
				if(privileges != "ROOT" && (detailInfo.bill_task == "Y" || detailInfo.bill_task == "S")) {
					document.getElementById("bSendIcon").style.color = "#8f8f94";
					document.getElementById("deleteIcon").style.color = "#8f8f94";
				}

				// 删除按钮的状态
				document.getElementById("deleteBtn").style.display = "block";

			}
			//获取每个输入框的值
			function getInputValue() {
				// 获取每一个输入框的值
				var bill_id = $$("#bill_id").val(); //销售政策编码
				var bill_bid = $$("#bill_bid").html(); //销售政策编码
				var bill_nameCode = $$("#bill_nameCode").val(); // 产品代码
				var bill_name = $$("#bill_name").val(); // 产品名称
				var bill_spec = $$("#bill_spec").html(); //规格型号
				var Bill_oppo = $$("#bill_oppo").html(); //产品箱码
				var Bill_coppo = $$("#bill_coppo").html(); //产品瓶码
				var bill_nunit = $$("#bill_nunit").html(); //物品类型
				var bill_nspec = $$("#bill_nspec").html(); //物品类别
				var Bill_unit = $$("#Bill_unit").val(); 
				var node_price = $$("#node_price").val(); 
				var node_rate = $$("#node_rate").val(); 
				var node_nprice = $$("#node_nprice").val(); 
				var bill_title = $$("#bill_title").html(); 
				var bill_label = $$("#bill_label").val(); 
				var bill_nlabel = $$("#bill_nlabel").val(); 
				var bill_bflow = $$("#bill_bflow").html(); 
				var bill_wflow = $$("#bill_wflow").html(); 
				var bill_doppo = $$("#bill_doppo").html(); 
				var bill_bdate = $$("#bill_bdate").val() + ' 00:00:00'; 
				var bill_edate = $$("#bill_edate").val() + ' 23:59:59'; 
				//
				var linkvd_deptype = $$("#linkvd_deptype").html();
				var flow = $$("#flow").html();
				var linkvd_linkwflow = $$("#linkvd_linkwflow").html(); 
				var billDeptName = $$("#deptypeName").html();
				var linkvd_doppoName = $$("#linkvd_doppoName").html();
				//销售单位
				var len = mui(".deptSale").length;
				for(var i = 0; i < len; i++) { // 判断是否选择
					if(mui(".deptSale")[i].checked) {
						var bill_unit = mui(".deptSale")[i].value;
					}
				}
				// 检查销售类型
				var len1 = mui(".awardType").length;

				var Bill_wflow;
				var checkVal = "";
				for(var i = 0; i < len1; i++) { // 判断是否选择
					if(mui(".awardType")[i].checked) {
						checkVal += mui(".awardType")[i].value + ",";
					}

				}

				Bill_wflow = checkVal.slice(0, checkVal.length - 1);

				// 提交数据
				inputData = [{
					flow: flow, //单据类型
					linkvd_linkwflow: linkvd_linkwflow, //流程编码
					linkvd_deptype: linkvd_deptype,
					linkvd_linkusername: userName,
					linkvd_linkdeptname: billDeptName,
					linkvd_doppoName: linkvd_doppoName
				}]
				rqsData = {
					bill_id: bill_id,
					bill_bid: bill_bid,
					cc_user: "",
					bill_title: bill_title,
					bill_no: onlyCode,
					bill_task: bill_task,
					fbill_no: "ROOT",
					bill_user: userbillNo, // 登陆人
					bill_com: loginCom, // 登录人单位  // 0109把teamBillCom改了
					bill_dept: document.getElementById("bill_dept").innerHTML,
					bill_spec: bill_spec,
					bill_unit: bill_unit,
					node_nprice: node_nprice,
					node_price: node_price,
					node_rate: node_rate,
					bill_oppo: Bill_oppo,
					bill_coppo: Bill_coppo,
					bill_doppo: bill_doppo,
					bill_nunit: bill_nunit,
					bill_nspec: bill_nspec,
					bill_bflow: bill_bflow,
					bill_wflow: bill_wflow,
					bill_bdate: bill_bdate,
					bill_edate: bill_edate,
					bill_context: "",
					bill_name: bill_name,
					bill_date: vlUtils.dateToString(date),
					bill_text: JSON.stringify(inputData),
					bill_label: bill_label,
					bill_nlabel: bill_nlabel

				}
				rqsData.bill_label = rqsData.bill_label.replace(/，/g,',');
				rqsData.bill_nlabel = rqsData.bill_nlabel.replace(/，/g,',');
				return rqsData;
			}
			//送审
			function auditing(params) {
				mui.ajax(systemURL + 'Api/Task/sendTask', {
					data: params,
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					beforeSend: function() {
						checkNetState(); // 检查网络链接状态
					},
					timeout: 10000, //超时时间设置为10秒
					async: false,
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {

						if(data.code == 0) {
							mui.toast(data.message);

							document.getElementById("billState").innerHTML = "已审核";
							deleteSuccess("vdsa210_plist.html", "vdsa210_list.html");
//							mui.openWindow({
//								id: 'vdsa210_node.html',
//								url: 'vdsa210_node.html',
//								createNew: true,
//								extras: {
//									teamBillCom: teamBillCom, // 1.管理单位代码 	// 不变
//									teamBillComName: teamBillComName, // 2.管理单位名称	// 不变
//									fbill_no: fbill_no, // 3.fbill_no是		// 不变
//									loginCom: loginCom, // 4.登录人的代码
//									loginComName: loginComName, // 5.登录人的名称
//									userbillNo: userbillNo, // 6.登录单位代码
//									userName: userName, // 7.登录单位名称
//									privileges: privileges, // 8.当前的权限是
//									fromPage: "vdsa210_edit.html", // 9.从哪个页面来
//									rqsData: rqsData,
//								}
//							});
							hadSend = true;

							setButton(detailInfo);
							if(privileges != "ROOT") {
								document.getElementById("deleteIcon").style.color = "#8f8f94";
							}
						}
						if(data.code == 1) {
							ajaxCode1(data.error_code, data.error_description, '../login.html');
							mui("#saveBtn").button('reset');
						}
					},
					error: function(xhr, type, errorThrown) {
						mui("#saveBtn").button('reset');
						console.log(JSON.stringify(xhr));
						console.log(errorThrown);
						console.log(type);
						if(type == "timeout") {
							mui.toast("请求超时");
						}

					}
				});
			}
			// 收回
			function takeback(params) {

				mui.ajax(systemURL + 'Api/Task/sendTask', {
					data: params,
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					beforeSend: function() {
						checkNetState(); // 检查网络链接状态
					},
					timeout: 10000, //超时时间设置为10秒
					async: false,
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						if(data.code == 0) {
							console.log(JSON.stringify(data));
							mui.toast(data.message);
							document.getElementById("billState").innerHTML = "待送审";
							mui.openWindow({
								id: 'vdsa210_node.html',
								url: 'vdsa210_node.html',
								createNew: true,
								extras: {
									teamBillCom: teamBillCom, // 1.管理单位代码 	// 不变
									teamBillComName: teamBillComName, // 2.管理单位名称	// 不变
									fbill_no: fbill_no, // 3.fbill_no是		// 不变
									loginCom: loginCom, // 4.登录人的代码
									loginComName: loginComName, // 5.登录人的名称
									userbillNo: userbillNo, // 6.登录单位代码
									userName: userName, // 7.登录单位名称
									privileges: privileges, // 8.当前的权限是
									fromPage: "vdsa210edit", // 9.从哪个页面来
									rqsData: rqsData,
								}
							});
							hadSend = false;
							setButton(detailInfo);
						}
						if(data.code == 1) {
							ajaxCode1(data.error_code, data.error_description, '../login.html');
							mui("#saveBtn").button('reset');
						}
					},
					error: function(xhr, type, errorThrown) {
						mui("#saveBtn").button('reset');
						console.log(JSON.stringify(xhr));
						console.log(errorThrown);
						console.log(type);
						if(type == "timeout") {
							mui.toast("请求超时");
						}
					}
				});
			}
			//保存
			function saveAjax(params) {
				console.log(JSON.stringify(params))
				mui.ajax(systemURL + 'Api/Task/sendTask', {
					data: params,
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					beforeSend: function() {
						checkNetState(); // 检查网络链接状态
					},
					timeout: 10000, //超时时间设置为10秒
					async: false,
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {
						if(data.code == 0) {
							mui.toast(data.message);
							flagsave = true;
							setButton(detailInfo);
							var ds = new Date();
							var updateLabel = {
								name		:"msvr",
								bill_task	:"VE_vdsa210_01",
								bill_com	:teamBillCom,
								bill_user	:userbillNo,
								bill_no		:document.getElementById("bill_no").innerHTML,
								fbill_no	:"ROOT",
								bill_date	:vlUtils.dateToString(date)
							}
							console.log(JSON.stringify(updateLabel))
							// 提交
							CRUDajax(updateLabel,"../login.html",updateLabelSucs);
							mui("#saveBtn").button('reset');

						}
						if(data.code == 1) {
							ajaxCode1(data.error_code, data.error_description, '../login.html');
							mui("#saveBtn").button('reset');
						}
					},
					error: function(xhr, type, errorThrown) {
						console.log(xhr.responseText);
						mui("#saveBtn").button('reset');
						console.log(JSON.stringify(xhr));
						console.log(errorThrown);
						console.log(type);
						if(type == "timeout") {
							mui.toast("请求超时");
						}
					}
				});
			}
			function updateLabelSucs(){} // 不可删除
			// 删除
			function deleteAjax(params) {

				mui.ajax(systemURL + 'Api/Task/sendTask', {
					data: params,
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					beforeSend: function() {
						checkNetState(); // 检查网络链接状态
					},
					timeout: 10000, //超时时间设置为10秒
					headers: {
						'Content-Type': 'application/json'
					},
					success: function(data) {

						if(data.code == 0) {
							mui.toast(data.message);
							deleteSuccess("vdsa210_plist.html", "vdsa210_list.html");
						}
						if(data.code == 1) {
							ajaxCode1(data.error_code, data.error_description, '../login.html');
						}
					},
					error: function(xhr, type, errorThrown) {
						console.log(xhr.responseText)
						console.log(JSON.stringify(xhr));
						console.log(errorThrown);
						console.log(type);
					}
				});
			}

			function deleteSuccess(parentview, childview) {
				var listview = plus.webview.getWebviewById(childview);
				listview.reload();
				var plistview = plus.webview.getWebviewById(parentview);
				plistview.reload();
				var oldBack = mui.back;
				mui.back = function() {
					var webview = plus.webview.getWebviewById(parentview);
					webview.show();
				}
				mui.back();
			}
			// 切换流程
			document.getElementById("changeFlow").addEventListener("tap",function(){
				mui.openWindow({
					url: '../vlvdvc/vdvc204_find.html',
					id: "vdvc204_find.html",
					createNew: true,
					extras: {
						teamBillCom		: teamBillCom, // 1.管理单位代码	// 不变
						teamBillComName	: teamBillComName, // 2.管理单位名称	// 不变
						fbill_no		: fbill_no, // 3.fbill_no是		// 不变
						loginCom		: loginCom, // 4.登录人的代码
						loginComName	: loginComName, // 5.登录人的名称
						userbillNo		: userbillNo, // 6.登录单位代码
						userName		: userName, // 7.登录单位名称
						privileges		: privileges, // 8.当前的权限是
						fromPage		: "vdsa210_edit.html", // 9.从哪个页面来
						flagNew			: "Y", //进入新建
						dataInfo		: dataInfo,
						bill_task		: "VR_query_flow"
					}
				})
			});
			function reportData(data) {
				if(data.data.length != 0) {
					var text = '';
					for(var i = 0; i < data.data.length; i++) {
						var newdataArr = {};
						for(var k in data.data[i]) {
							newdataArr[k.slice(0, 2)] = data.data[i][k];
						}
						var text = '';
						var multipleChoice = document.getElementById("multipleChoice");
						newdataArr["内容"] = newdataArr["内容"].split(",");
						clen = newdataArr["内容"].length;

						for(var c = 0; c < newdataArr["内容"].length; c++) {
							text += '<div class=" mui-pull-left mui-checkbox mui-left mui-col-xs-6" id="" >';
							text += '<label>' + newdataArr["内容"][c] + '</label>';
							text += '<input name="awardType" type="checkbox" class="awardType" id="lingshou" value="' + newdataArr["内容"][c] + '">';
							text += '</div>';
							multipleChoice.innerHTML = text;

						}
						if(fromPage == "vdsa210_node.html"){
							var saleArr = [];
							detailInfo.bill_wflow = detailInfo.bill_wflow.split(",");
							for(var w in detailInfo.bill_wflow) {
								saleArr.push(detailInfo.bill_wflow[w]);
							}
							var len1 = mui(".awardType").length;
	
							for(var o = 0; o < saleArr.length; o++) {
								for(var p = 0; p < len1; p++) { // 判断是否选择
									if(mui(".awardType")[p].value == saleArr[o]) {
										mui(".awardType")[p].checked = true;
									}
								}
							}
						}
					}
				} else { // 如果没有长度说明没有数据，提示没有数据
					mui.toast("未查询到数据~")
					document.getElementById("contList").innerHTML = '';
					document.getElementById("showHint").style.display = "block";
					document.getElementById("searching").style.display = "none";

				}
			}
			function selectCustomer(){
				mui.openWindow({
					url: '../vlvdvc/vdvc311_VRfind.html',
					id: 'vdvc311_VRfind.html',
					createNew: true,
					extras: {
						teamBillCom: teamBillCom,
						teamBillComName: teamBillComName,
						userbillNo: userbillNo,
						loginCom: loginCom,
						loginComName: loginComName,
						choice: "single",
						toPage: "vdvc311_VRfind.html",
						fromPage: "vdsa210_edit.html",
					}
				});
			}
		}); // plusready
		function inputnum(obj,val){
//			var _v = obj.value.split('.');
//			if(typeof _v[1] !== 'undefined'){
//				_v[1] = _v[1].slice(0,2)
//			}
//			_v = _v.join('.')
//	        obj.value = _v;
//	        console.log(_v)
	        obj.value = obj.value.replace(/^(\d+)\.(\d\d).*$/,'$1.$2'); //只能输入两个小数
	    }
	</script>

</html>