<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>假期</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.css">
		<link rel="stylesheet" href="../../css/index.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.mui-bar-nav~.mui-content .mui-pull-top-pocket {
				top: 100px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerMain plistHeader" id="head">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="goBack"></a>
			<div class="mui-title plistTitle">
				<p id="TO">假期申请列表</p>
				<h1 id="header"></h1>	
			</div>
			<a class="mui-icon mui-icon-plusempty mui-pull-right" id="toEdit" ></a>
			<div class="mui-row navBar topNavRow" id="topNav">
				<p class="mui-col-xs-4 topNav active" data-type="001" >已审核</p>
				<p class="mui-col-xs-4 topNav" data-type="002">待审核</p>
				<p class="mui-col-xs-4 topNav" data-type="003">待送审</p>
			</div>
		</header>

		<div class="mui-content">

		</div>

	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js"></script>
	<script src="../../js/immersed.js"></script>
	<script type="text/javascript">

		var teamBillCom = "";
		var teamBillComName = "";
		var userbillNo = "";
		var userName = "";
		var loginCom = "";
		var loginComName = "";
		var privilege = "";
		var fromPage= "";
		var fbill_no = "";
		var fbill_noName = "";
		var BreadcrumbNav = [];
		var BreadcrumbNavName = [];
		var BreadcrumbNavArr = [];
		var ROOTfbillNo = "";
		var detailInfo = null ;
		var userRole;
		var deptname = ""; //显示单位的中文名
		// 103list左滑
		window.addEventListener('lowerDeptRefresh103plist', function(event) {

			teamBillCom 	= event.detail.teamBillCom;		// 管理单位代码
			fbill_no 		= event.detail.fbill_no;		// fbill_no是
			teamBillComName = event.detail.teamBillComName; // 管理单位名称
			loginCom 		= event.detail.loginCom;	 	// 登录单位代码
			loginComName 	= event.detail.loginComName;	// 登录单位名称
			userbillNo 		= event.detail.userbillNo;		// 登录人的代码
			userName 		= event.detail.userName,		// 登录人的姓名
			privileges 		= event.detail.privileges,		// 当前的权限是
			fromPage 		= event.detail.fromPage,		// 从哪个页面来
			
			detailInfo 		= event.detail.detailInfo;
			//
			deptname = detailInfo.bill_name;
			vlUtils.setStorage("deptNames",deptname);

			// 把当前fbill_no和部门名字传入数组中
			BreadcrumbNav.push(teamBillCom);			// 0109改，之前取fbill_no
			BreadcrumbNavName.push(teamBillComName);	// 0109改，之前取detailInfo.bill_name
			//
			var searchData = {};
			searchData.teamBillCom 	 	= teamBillCom;		
			searchData.teamBillComName	= teamBillComName; 	
			searchData.fbill_no		 	= fbill_no;		
			searchData.loginCom		 	= loginCom;		
			searchData.loginComName	 	= loginComName;		
			searchData.userbillNo		= userbillNo;		
			searchData.userName		 	= userName;		
			searchData.privileges		= privileges;		
			searchData.fromPage		 	= fromPage;	
			if(fromPage == "vdhr412node"){
//				searchData.fromPage = "vdvc311list";
				// 深拷贝一份数组中的最后一项
				var nodequery = JSON.parse(JSON.stringify(BreadcrumbNavArr[BreadcrumbNavArr.length-1]))
					nodequery.bill_no			= detailInfo.bill_no;	
				BreadcrumbNavArr.push(nodequery);
				// 
			}
			
			BreadcrumbNavArr.push(searchData);
			//
			document.getElementById("header").innerHTML = detailInfo.bill_name;
			jQuery(".topNav:first").addClass("active").siblings().removeClass("active");
			
		});
		//=================================
		//启用双击监听
		mui.init({
			gestureConfig: {
				doubletap: true
			},
			subpages: [{
				url: 'vdhr412_list.html',
				id: 'vdhr412_list.html',
				styles: {
					top: '110px',
					bottom: '20px',
				}
			}]
		});

		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap', function() {
			if(contentWebview == null) {
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#vdhr412_list').pullRefresh().scrollTo(0,0,100)");
		});
		// 进入页面插件加载完成拉去数据
		mui.plusReady(function() {
			// 接收传过来的参数
			var self = plus.webview.currentWebview();
			// 基本参数(必要)
			teamBillCom 	= self.teamBillCom; 	// 1.管理单位代码
			teamBillComName = self.teamBillComName;	// 2.管理单位名称
			fbill_no 		= self.fbill_no;		// 3.fbill_no是
			loginCom 		= self.loginCom;		// 4.登录单位代码
			loginComName 	= self.loginComName;	// 5.登录单位名称
			userbillNo 		= self.userbillNo;		// 6.登录人的代码
			userName 		= self.userName;		// 7.登录人的姓名
			privileges 		= self.privileges;		// 8.当前的权限是
			fromPage 		= self.fromPage;		// 9.从哪个页面来
			userRole		= self.userRole;
			// 其他
			ROOTfbillNo 	= self.fbill_no;
			// 
			var searchData = {};
			searchData.teamBillCom 	 	= teamBillCom;		
			searchData.teamBillComName	= teamBillComName; 	
			searchData.fbill_no		 	= fbill_no;		
			searchData.loginCom		 	= loginCom;		
			searchData.loginComName	 	= loginComName;		
			searchData.userbillNo		= userbillNo;		
			searchData.userName		 	= userName;		
			searchData.privileges		= privileges;		
			searchData.fromPage		 	= fromPage;		
			
			BreadcrumbNavArr.push(searchData);
			//
			BreadcrumbNav.push(teamBillCom);		// 0109增加
			BreadcrumbNavName.push(teamBillComName);
			// 重写mui.back, 手机上的返回键默认跟随mui.back
			//备份mui.back，mui.back已将窗口关闭逻辑封装的比较完善（预加载及父子窗口），因此最好复用mui.back
			var oldBack = mui.back;
			mui.back = function(){
			  	// 重写
				if(BreadcrumbNav.length>1){
					// 读数组，删掉最后一项，用倒数第二项刷新当前页面
					// 删除数组最后一项
					BreadcrumbNav.splice(BreadcrumbNav.length-1,1);
					BreadcrumbNavName.splice(BreadcrumbNavName.length-1,1);
					BreadcrumbNavArr.splice(BreadcrumbNavArr.length-1,1);
					// 当前的最后一项赋值给fbill_no,刷新当前页、刷新子页
//					fbill_no = BreadcrumbNav[BreadcrumbNav.length-1];				// 0109注释
//					deptname = BreadcrumbNavName[BreadcrumbNavName.length-1]; 		// 0109注释
					teamBillCom = BreadcrumbNav[BreadcrumbNav.length-1];			// 0109增加
					teamBillComName = BreadcrumbNavName[BreadcrumbNavName.length-1];// 0109增加
					
					fbill_no = BreadcrumbNav[BreadcrumbNav.length-1];	// 0109增加
					if(fbill_no == loginCom){							// 0109增加
						fbill_no = "ROOT";
					}
					if(BreadcrumbNavArr[BreadcrumbNavArr.length-1].bill_no){
						mui.fire(plus.webview.getWebviewById('vdhr412_node.html'),"backAndRefreshList",{
							teamBillCom 	: BreadcrumbNavArr[BreadcrumbNavArr.length-1].teamBillCom, 		// 1.管理单位代码	// 每点一次就变为数组中的上一项
							teamBillComName : BreadcrumbNavArr[BreadcrumbNavArr.length-1].teamBillComName,	// 2.管理单位名称	// 每点一次就变为数组中的上一项
							fbill_no 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].fbill_no,			// 3.fbill_no是		// 每点一次就变为数组中的上一项
							loginCom 		: loginCom,			// 4.登录单位代码
							loginComName 	: loginComName,		// 5.登录单位名称
							userbillNo 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].userbillNo,		// 6.登录人的代码
							userName 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].userName,			// 7.登录人的姓名
							privileges 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].privileges,		// 8.当前的权限是
							userRole		: userRole,
							fromPage 		: "vdhr412_plist.html",	// 9.从哪个页面来
							bill_no 		: BreadcrumbNavArr[BreadcrumbNavArr.length-1].bill_no
						})
						mui.openWindow({
							id:"vdhr412_node.html"
						})
						BreadcrumbNavArr.splice(BreadcrumbNavArr.length-1,1);
					}
					
					
					document.getElementById("header").innerHTML = teamBillComName;	// 0109之前为 deptname
					jQuery(".topNav:first").addClass("active").siblings().removeClass("active");
					// plus.webview.getWebviewById("vdhr412_list.html").close();
					var childList = plus.webview.getWebviewById('vdhr412_list.html');
					mui.fire(plus.webview.getWebviewById('vdhr412_list.html'),"backAndRefreshList",{
						teamBillCom 	: teamBillCom, 		// 1.管理单位代码	// 每点一次就变为数组中的上一项
						teamBillComName : teamBillComName,	// 2.管理单位名称	// 每点一次就变为数组中的上一项
						fbill_no 		: fbill_no,			// 3.fbill_no是		// 每点一次就变为数组中的上一项
						loginCom 		: loginCom,			// 4.登录单位代码
						loginComName 	: loginComName,		// 5.登录单位名称
						userbillNo 		: userbillNo,		// 6.登录人的代码
						userName 		: userName,			// 7.登录人的姓名
						privileges 		: privileges,		// 8.当前的权限是
						userRole		: userRole,
						fromPage 		: "vdhr412_plist.html",		// 9.从哪个页面来
					})
					mui.openWindow({
						id:"vdhr412_list.html"
					})
				}
				if(BreadcrumbNav.length == 1){
					oldBack();
					return;
				}

			
			}
			// 返回
			// 更改header的显示信息
			document.getElementById("header").innerHTML = teamBillComName; //头部显示发货单位名

			// 右上角点击进入103_edit.html
			document.getElementById("toEdit").addEventListener("tap", function() {
				plus.nativeUI.showWaiting("正在打开页面..."); 
				var privileges = vlUtils.getStorage("newPrivileges");
				var queryflow = {
					name: 'msvr',
					bill_task: "VR_find_vdvc204_00", // 查询的指令
					bill_com: teamBillCom, // 当前单位
					bill_user: userbillNo, // 当前登陆人
					bill_oppo:"vdhr412",
					currentPage: 1,
					pageSize: 10,
					paramText: ""
				};
//				name: 'msvr',
//					bill_task: "VR_query_flow", // 查询的指令
//					bill_com: teamBillCom, // 当前单位
//					bill_user: userbillNo, // 当前登陆人
//					bill_oppo:"vdsa331",
//					currentPage: 1,
//					pageSize: 100,
//					paramText: ""
				rqsDataAjax(queryflow, '/Find/Ddata/activity', findflow, '../login.html');
			})

			// nav
			mui("#topNav").on("tap", "p", function() {

				var self = this;
				jQuery(this).addClass("active").siblings().removeClass("active");
				//触发详情页面的newsId事件
				mui.fire(plus.webview.getWebviewById('vdhr412_list.html'), 'differentStatesRefresh103list', {
					active: self.getAttribute("data-type")
				});
			})
			//
			function findflow(data,type){
				plus.nativeUI.closeWaiting(); 
				var flowInfo = [];
				if(data.data.length != 0) {
					var text = '';
					for(var i = 0; i < data.data.length; i++) {
						var newdataArr = {};
						for(var k in data.data[i]) {
							newdataArr[k.slice(0, 2)] = data.data[i][k];
						}
						flowInfo.push(newdataArr);
					}
					var ws = plus.webview.getWebviewById("vdhr412_edit.html");
					if(!vlUtils.isnull(ws)){
						plus.webview.close(ws);
					}
					mui.openWindow({
						url: 'vdhr412_edit.html',
						id: "vdhr412_edit.html",
						createNew: true,
						extras: {
							teamBillCom 	: teamBillCom, 		// 1.管理单位代码	// 不变
							teamBillComName : teamBillComName,	// 2.管理单位名称	// 不变
							fbill_no 		: fbill_no,			// 3.fbill_no是		// 不变
							loginCom 		: loginCom,			// 4.登录人的代码
							loginComName 	: loginComName,		// 5.登录人的名称
							userbillNo 		: userbillNo,		// 6.登录单位代码
							userName 		: userName,			// 7.登录单位名称
							privileges 		: privileges,		// 8.当前的权限是
							userRole		: userRole,
							fromPage 		: "vdhr412_plist.html",			// 9.从哪个页面来
							flowInfo		: flowInfo,
							hadSave			: false,
							flow			: "假期"
						},
					    waiting:{
							autoShow:true,//自动显示等待框，默认为true
							title:'正在打开页面...',//等待对话框上显示的提示内容
						}
					})
//					// 流程
//					document.getElementById("flow").innerHTML = dataInfo[0]["图片"].split(":")[1];
//					document.getElementById("linkvd_linkwflow").innerHTML = (dataInfo[0]["图片"].split(":"))[0];
//					// 内容
//					document.getElementById("linkvd_deptype").innerHTML = (dataInfo[0]["内容"].split(";"))[0].split(":")[1];
//					document.getElementById("bill_dept").innerHTML = (dataInfo[0]["标题"].split(":"))[0];
//					document.getElementById("deptypeName").innerHTML = (dataInfo[0]["标题"].split(":"))[1];
//					document.getElementById("bill_bflow").innerHTML = (dataInfo[0]["内容"].split(";"))[2].split(":")[1];
//					document.getElementById("bill_wflow").innerHTML = (dataInfo[0]["内容"].split(";"))[3].split(":")[1];
				}else{
					var ws = plus.webview.getWebviewById("vdhr412_edit.html");
					if(!vlUtils.isnull(ws)){
						plus.webview.close(ws);
					}
					mui.openWindow({
						url: 'vdhr412_edit.html',
						id: "vdhr412_edit.html",
						createNew: true,
						extras: {
							teamBillCom 	: teamBillCom, 		// 1.管理单位代码	// 不变
							teamBillComName : teamBillComName,	// 2.管理单位名称	// 不变
							fbill_no 		: fbill_no,			// 3.fbill_no是		// 不变
							loginCom 		: loginCom,			// 4.登录人的代码
							loginComName 	: loginComName,		// 5.登录人的名称
							userbillNo 		: userbillNo,		// 6.登录单位代码
							userName 		: userName,			// 7.登录单位名称
							privileges 		: privileges,		// 8.当前的权限是
							userRole		: userRole,
							fromPage 		: "vdhr412_plist.html",			// 9.从哪个页面来
							flowInfo		: flowInfo,
							hadSave			: false,
							flow			: "假期"
						},
					    waiting:{
							autoShow:true,//自动显示等待框，默认为true
							title:'正在打开页面...',//等待对话框上显示的提示内容
						}
					})
				}
			}
		}); //plusReady
	</script>

</html>