<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/icons-extra.css" />
		<link rel="stylesheet" type="text/css" href="../../css/fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			body {
				font-size: 12px;
			}
			
			form {
				margin: 5px 0;
			}
			
			.mui-row {
				padding: 8px;
			}
			/*三级联动样式*/
			.mui-btn {
				font-size: 16px;
				padding: 8px;
				margin: 3px;
			}
			
			h5.mui-content-padded {
				margin-left: 3px;
				margin-top: 20px !important;
			}
			
			h5.mui-content-padded:first-child {
				margin-top: 12px !important;
			}
			
			.ui-push {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
				display: none;
			}
			/* 灰色*/
			
			.gray {
				color: gray;
			}
			
			.spn {
				color: gray;
			}
			/*关联状态*/
			
			.list_sts {
				font-size: 12px;
				line-height: 14px;
				color: #f0ad4e;
				border: 1px solid #f0ad4e;
				border-radius: 2px;
				text-align: center;
			}
			header a.mui-pull-right{
				font-weight: bold;
			}
			.vlel-hide{
				display: none ;
			}
			
			.mui-preview-image.mui-fullscreen {
							position: fixed;
							z-index: 20;
							background-color: #000;
						}
			 
						.mui-preview-header .mui-preview-indicator {
							display: block;
							line-height: 25px;
							color: #fff;
							text-align: center;
							margin: 15px auto 4;
							width: 70px;
							background-color: rgba(0, 0, 0, 0.4);
							border-radius: 12px;
							font-size: 16px;
						}
						.mui-preview-image {
							display: none;
							-webkit-animation-duration: 0.5s;
							animation-duration: 0.5s;
							-webkit-animation-fill-mode: both;
							animation-fill-mode: both;
						}
						.mui-preview-image.mui-preview-in {
							-webkit-animation-name: fadeIn;
							animation-name: fadeIn;
						}
						.mui-preview-image.mui-preview-out {
							background: none;
							-webkit-animation-name: fadeOut;
							animation-name: fadeOut;
						}
						.mui-zoom-scroller {
							position: absolute;
							display: -webkit-box;
							display: -webkit-flex;
							display: flex;
							-webkit-box-align: center;
							-webkit-align-items: center;
							align-items: center;
							-webkit-box-pack: center;
							-webkit-justify-content: center;
							justify-content: center;
							left: 0;
							right: 0;
							bottom: 0;
							top: 0;
							width: 100%;
							height: 100%;
							margin: 0;
							-webkit-backface-visibility: hidden;
						}
			 
						.mui-slider .mui-slider-group .mui-slider-item img {
							width: auto;
							height: auto;
							max-width: 100%;
							max-height: 100%;
						}
									@-webkit-keyframes fadeIn {
										0% {
											opacity: 0;
										}
										100% {
											opacity: 1;
										}
									}
									@-webkit-keyframes fadeOut {
										0% {
											opacity: 1;
										}
										100% {
											opacity: 0;
										}
						     }
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerMain nodeHeader" id="head">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left " id="goBack"></a>
			<h1 class="mui-title headText" id="header"></h1>
			<a class="mui-icon mui-icon-compose mui-pull-right" style="display: none;" id="toEdit"></a>
			<a class="mui-icon mui-icon-paperclip mui-pull-right" style="display: none;" id="J_btn_back"></a>
			<div class="mui-row navBar nodeTopNav">
				<p class="mui-col-xs-3" id="userManagement">
					<a class="icon iconfont icon-yonghu"></a>
					<span>我的用户</span>
				</p>
				<p class="mui-col-xs-3" id="CRM">
					<a class="icon iconfont icon-kehu"></a>
					<span>我的客户</span>
				</p>
				<p class="mui-col-xs-3">
					<a class="icon iconfont icon-zizhitubiao unclickable"></a>
					<span>我的资质</span>
				</p>
				<p class="mui-col-xs-3">
					<a class="mui-icon mui-icon-location unclickable" id="Gps"></a>
					<span>我的位置</span>
				</p>
			</div>
		</header>
		<div class="mui-content" style="padding-top:100px;margin-top:30px">
			<div class="mui-input-group" id="linkvdUsercom" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-row">
					<span class="mui-col-xs-4 ">组织类别：</span><span class="mui-col-xs-8 " id="bill_unit"></span>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="" style="padding:0px;height:72px;">
					<div class="mui-row" style="background:;padding:0px;border-bottom:1px solid #efeff4;">
						<div class="mui-col-xs-2 mui-row" style="background:;padding:5px;margin-right:10px;">
							<img class="vdvc311 mui-col-xs-12" id="userImg" src="../../images/icon/default.png" data-preview-src=""  style="padding:0px;width:60px;border:1px solid #ccc;border-radius:10px;" />
						</div>
						<div class="mui-col-xs-9 mui-row mui-pull-right" style="background:;padding-right:0;padding-left:0px;margin-left:15px;">
							<div class="list_h5 mui-col-xs-12" style="color:#242424;border-bottom:1px solid #efeff4;padding:5px 0;height:28px;">
								<span class="mui-col-xs-4 spn">客户代码：</span>
								<span class="mui-col-xs-5 spn" id="bill_id"></span>
								<span class="list_sts mui-col-xs-3 mui-pull-right" id="bill_task" style="float:right;margin-top:3px;height: 16px;width:60px;"></span>
							</div>
							<div class="list_font mui-col-xs-12" style="padding:5px 0;height:28px;">
								<span class="mui-col-xs-3 spn">客户名称：</span>
								<span class="mui-col-xs-9 spn" id="bill_name"></span>
							</div>
						</div>
					</div>
				</div>
		 
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">纳税人识别号：</span><span class="mui-col-xs-8 spn" id="linkbd_linktaxid"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">负责人：</span><span class="mui-col-xs-8 spn" id="linkvd_linkuser"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">负责人手机：</span><span class="mui-col-xs-8 spn" id="linkbd_linktel"></span>
				</div> 
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">所属部门：</span><span class="mui-col-xs-8 spn" id="bill_nspec"></span>
				</div> 
				<div class="mui-row" style="">
					<span class="mui-col-xs-4 spn">客户标签</span>
					<span class="mui-col-xs-8 spn" id="bill_label"></span>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">所在地区：</span><span class="mui-col-xs-8 spn" id="linkbd_linkprov"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">所在街道：</span><span class="mui-col-xs-8 spn" id="linkbd_linkstreet"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">客户地址：</span><span class="mui-col-xs-8 spn" id="linkvd_corraddr"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">地区位置：</span>
					<span class="mui-col-xs-3 spn" id="linkbd_lngposition"></span> 
				</div>
				<div class="mui-row"  >
 					<a class="mui-icon mui-icon-location" id="reLocate" style="font-size:24px; float:right;"></a>
					<span class="mui-col-xs-3 spn">客户位置：</span>
					<span class="mui-col-xs-4 spn" id="linkbd_lngposition_map"></span>
				</div>
			</div>
			<div class="mui-input-group j-show-forterminal vlel-hide" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">经营类型：</span><span class="mui-col-xs-8 spn" id="col_manage_type"></span>
				</div>
				<div class="mui-row">
					<span class="mui-col-xs-4 spn">合同类型：</span><span class="mui-col-xs-8 spn" id="col_contract_type"></span>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">营业面积：</span><span class="mui-col-xs-8 spn" id="linkbd_busiarea"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">员工人数：</span><span class="mui-col-xs-8 spn" id="linkbd_emplsum"></span>
				</div>
				<div class="mui-row" style="">
					<span class="mui-col-xs-4 spn">餐台数量：</span><span class="mui-col-xs-8 spn" id="linkbd_tablsum"></span>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">制单人：</span><span class="mui-col-xs-8 spn" id="bill_userName"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4;display: none;">
					<span class="mui-col-xs-4 spn">制单人代码：</span><span class="mui-col-xs-8 spn" id="bill_user"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4;">
					<span class="mui-col-xs-4 spn">抄送：</span><span class="mui-col-xs-8 spn" id="cc_user"></span>
				</div>
				<div class="mui-row" style="border-bottom:1px solid #efeff4; display: none;">
					<span class="mui-col-xs-4 spn">抄送：</span><span class="mui-col-xs-8 spn" id="cc_user_code"></span>
				</div>
				<div class="mui-row">
					<span class="mui-col-xs-4 spn">制单时间：</span><span class="mui-col-xs-8 spn" id="bill_date"></span>
				</div>
			</div>
			<div class="">
				<!--<p id="" class="mui-h5" style="padding-left:18px; padding-top:10px;">关联状态：<span class='state' id="linkbd_linksts"></span></p>-->
				<div class="fold" id="fold">
					<p id="" class="mui-h5" style="padding-left:25px;font-size: 12px;">关联编码：<span class='state' id="linkvd_linkcom"></span><span></span></p>
					<p id="" class="mui-h5" style="padding-left:25px;font-size: 12px;">关联客户：<span class='state' id="linkvd_linkcomName"></span></p>
					<p id="" class="mui-h5" style="padding-left:25px;padding-right:25px;font-size: 12px;">
						关联时间：
						<span class='state mui-col-xs-4' id="linkvd_linkdate"></span>
						<span class="list_sts mui-col-xs-3 mui" id="linkbd_linksts" style="float:right;margin-top:3px;height: 16px;width:60px;">已关联</span>
						<!--<span class="mui-col-xs-1" id="linkbd_linksts" style="float:right;margin-top:3px;">已关联</span>-->
					</p>
				</div>
			</div>

			<form class="mui-input-group" style="padding:15px 18px 15px 18px;display: none;">
				<div>
					位置信息
				</div>
				<div class="mui-row">
					<span class="mui-col-xs-4 spn">位置经度：</span><span class="mui-col-xs-8" id="linkbd_lngposition_map"></span>
				</div>
				<div class="mui-row">
					<span class="mui-col-xs-4 spn">位置纬度：</span><span class="mui-col-xs-8" id="linkbd_latposition_map"></span>
				</div>
				<div class="mui-row">
					<span class="mui-col-xs-4 spn">位置信息：</span><span class="mui-col-xs-8" id=""></span>
				</div>
			</form>

		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	
	<script src="../../js/mui.zoom.js"></script>
	<script src="../../js/mui.previewimage.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/vlindex.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js" type="text/javascript" charset="utf-8"></script>
	<!--三级联动-->
	<script src="../../js/mui.picker.js"></script>
	<script src="../../js/mui.poppicker.js"></script>
	<script src="../../js/areas(2).js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		mui.init({});
		var $$ = jQuery.noConflict(),
			detailInfo = null,
			teamBillCom,	// 1.管理单位代码
			teamBillComName,// 2.管理单位名称
			fbill_no,		// 3.fbill_no是
			loginCom,		// 4.登录单位代码
			loginComName,	// 5.登录单位名称
			userbillNo,	// 6.登录人的代码
			userName,		// 7.登录人的姓名
			privileges,		// 8.当前的权限是
			fromPage,		// 9.从哪个页面来
			bill_no ,
			getElem = function(el){return document.getElementById(el);},
			oBtnEdit = getElem('toEdit'),
			oBtnBack = getElem('J_btn_back'),
			oStatus = {"L":"待送审","S":'待审核',"Y":"已审核"},
			pageInit = {},
			backPlistPage = "vdvc311_plist.html";
		//
		var normalData ={
			h : {
				bill_no		: "",
				fbill_no	: "",
				bill_user	: "", // 登陆人
				bill_userName	: "", // 登陆人
				bill_com	: "", //登录人单位  
				bill_date	: "",
				bill_oppo	: "",//linkvd_linkcom
				bill_coppo	: "",//loginCom
				bill_spec	: "",//loginComName
				bill_ipaddr : "",	
				bill_gpsaddr: "",	
				bill_context: "",
				bill_qtask	: "",
			 	bill_id 	:"",
			 	bill_name 	:"",
				bill_bflow	: "",
				bill_label	: "",
				bill_unit	: "",//linknext
				bill_nspec  : "",
			},
			v : {},
			c : {}
		}
		var oText ={
			h : {
				linkbd_linkstreet	: "",
				linkbd_lngposition	: "", 
				prod_no				: "",
				linkbd_linktaxid	: "", 
				linkbd_linktel		: "", 
				linkvd_linkuser		: "",
				//
				linkbd_linkprov		: "",
				linkbd_linkcity		: "",
				linkbd_linkdist		: "",
				
				
				linkvd_corraddr		: "",
				
				linkbd_busiarea		: "",
				linkbd_emplsum		: "",
				linkbd_tablsum		: "", 
				col_manage_type 	: "", // 经营类型
				col_contract_type	: "", // 合同类型
				linkbd_linksts		: "", // 关联状态
				linkvd_linkdate		: "", // 关联时间
				linkvd_linkcomName	: "", // 关联客户
				linkvd_linkcom		: "", 
				linkvd_linkfcom		: "",//loginCom
				linkbd_lngposition_map : ""
			},
			v : {},
			c : {}
		}
		var terminal = {
			"经销商" : {
				"btn" : false,
				"backPage" : "vdvc311_plist01.html"
			},
			"企业" : {
				"btn" : true,
				"backPage" : "vdvc311_plist.html"
			}
		}
		
		mui.plusReady(function() {
			mui.back = newBack;
			var old_back = mui.back;
			mui.back = function() {
				var wobj = plus.webview.getWebviewById("vdvc311_list.html");//注意 HBuilder 是   1.html 的 ID  你如果1.html 有ID   要替换掉HBuilder，
				wobj.reload(true);
			    old_back()
			}	
			
			var self = plus.webview.currentWebview();
			// 基本参数(必要)
			teamBillCom 	= self.teamBillCom; 	// 1.管理单位代码
			teamBillComName = self.teamBillComName;	// 2.管理单位名称
			fbill_no 		= self.fbill_no;		// 3.fbill_no是
			loginCom 		= self.loginCom;		// 4.登录单位代码
			loginComName 	= self.loginComName;	// 5.登录单位名称
			userbillNo 		= self.userbillNo;		// 6.登录人的代码
			userName 		= self.userName;		// 7.登录人的姓名
			privileges 		= self.privileges;		// 8.当前的权限是
			fromPage 		= self.fromPage;		// 9.从哪个页面来
			// 其他
			var userinfo = JSON.parse(VlStore.pGet('user'));;
			pageInit = terminal[userinfo.com_linkvd_userCom];
			backPlistPage = pageInit['backPage'];
			if(fromPage=="vdvc311list") {
				detailInfo = self.detailInfo;
				bill_no = detailInfo.bill_no 
			}
			if(fromPage=="vdvc311_edit.html") {
				detailInfo = self.rqsData;
				detailInfo.bill_task = "S";
				if((typeof detailInfo.bill_text) == "string"){
					detailInfo.bill_text = JSON.parse(detailInfo.bill_text);
				}
				bill_no = detailInfo.bill_no 
			}
			 
			var date 		= new Date();
			var commit 		= document.getElementById("commit");
			var bill_date 	= VlDate.get(date, "_ymdhms");
			var rqsData 	= null; //提交的数据
			var inputData 	= null; // 表单里的数据 
			// 查询该条数据
			var queryparmas={
				name:'vdvc311',    
				bill_com:detailInfo.bill_com, 
				bill_task:"L,S,Y,YF",
				currentPage:1, 
				pageSize:1, 
				paramText:"",
				bill_no:detailInfo.bill_no  
			}
			VlAjax.post({"port" : "find","headers" : "json",}, queryparmas, sCBfind);
			
			window.addEventListener('backAndRefreshList', ecBackAndRefresh);
			window.addEventListener('GPSto311node', ecReLocate);
			// 
			document.getElementById('userManagement').addEventListener("tap", eUserM, false)
			oBtnBack.addEventListener("tap", eBtnBack, false);
			document.getElementById("toEdit").addEventListener("tap", eToEdit, false);
			document.getElementById("CRM").addEventListener("tap", eCRM, false); 
			document.getElementById("reLocate").addEventListener("tap", eReLocate, false)
			
		}); // plusReady
		function newBack() {
			var prevPage = plus.webview.getWebviewById(backPlistPage);
			prevPage.show();
		}
		function setCCUser(data){
			var _name = "", 
				_code = "",
				oUser = data.cc_user;
			for(var k in  oUser){
				_code += "," + k;
				_name += "," + oUser[k];
			}
			// console.log(JSON.stringify(oUser))
			document.getElementById("cc_user").innerHTML = _name.slice(1);
			document.getElementById("cc_user_code").innerHTML = _code.slice(1);
			
			if(data.bill_oppo){
				document.getElementById("linkbd_linksts").innerHTML = "已关联"; // 关联状态
			}else{
				if(data.bill_text[0].linkvd_linkcom) {
					document.getElementById("linkbd_linksts").innerHTML = "已关联"; // 关联状态
				} else {
					document.getElementById("linkbd_linksts").innerHTML = "未关联"; // 关联状态
				}
			}
			var len = mui(".input").length;
			for(var i = 0; i < len; i++) {
				if(mui(".input")[i].value == "undefined") {
					mui(".input")[i].value = ' ';
				}
			}
			// 去掉关联状态的undefined
			var len1 = mui(".state").length;
			for(var i = 0; i < len1; i++) {
				if(mui(".state")[i].innerHTML == "undefined") {
					mui(".state")[i].innerHTML = ' ';
				}
			}
			document.getElementById("toEdit").setAttribute("billUser", data.bill_user);
			
		}
		function sCBfind(data,type){
			if(data.data.length != 0) {
				if(data.data[0].bill_text == ""){
					data.data[0].bill_text = [testa.h];
				}
				detailInfo = data.data[0];
//				console.log(JSON.stringify(detailInfo))
				VlEdit.setValue(detailInfo, normalData, oText);
				VlAjax.dlIcon(detailInfo.bill_oppo, 'userImg', VlTools.setImg);
				document.getElementById("linkvd_linkcomName").innerHTML = detailInfo.bill_name; // 关联客户
				document.getElementById("header").innerHTML = detailInfo.bill_name;
				setBtnStatus(detailInfo.bill_task);
				setCCUser(detailInfo);
				terminalShow(detailInfo.bill_unit);
			} else { // 如果没有长度说明没有数据，提示没有数据
				mui.toast("未查询到数据~")
			}
			plus.nativeUI.closeWaiting();
		}
		function setBtnStatus(status){
			if(pageInit["btn"]){
				// 状态
				if(status === "L") {
					oBtnEdit.style.display = 'block';
					oBtnBack.style.display = 'none';
				} else {
					oBtnEdit.style.display = 'none';
					oBtnBack.style.display = 'block';
				}
			}
			getElem("bill_task").innerHTML = oStatus[status];
		}
		function eBtnBack(){
			mui.confirm("确认要收回此单据吗？", "收回确认", ["收回", "取消"], function(e) {
				if(e.index == 0) { // 是
					suerBback();
				} 
			});
		}
		function suerBback(){
			var _param = {
				bill_task :	"b_back",
				bill_no   : bill_no,
				bill_com  : teamBillCom,
				bill_user : userbillNo,
				bill_date : VlDate.get(new Date(), "_ymdhms"),
			}
			VlAjax.post({"port" : "sendTask","headers" : "json",}, _param, sCB);
			function sCB() {
				setBtnStatus("L");
				mui.toast("收回成功~")
			}
		}
		//
		function ecReLocate(event){
			var lng = event.detail.lng;
			var lat = event.detail.lat;
			var address = event.detail.address;
			var aa = lng + "," + lat; 
			var oridetailInfo=event.detail.oridetailInfo;
			VlEdit.setValue(oridetailInfo, normalData, oText);
			document.getElementById("linkbd_lngposition_map").innerText=aa;
			document.getElementById("linkvd_linkcomName").innerHTML = oridetailInfo.bill_name; // 关联客户
			document.getElementById("header").innerHTML = oridetailInfo.bill_name;
			getElem("bill_task").innerHTML = oStatus[oridetailInfo.bill_task];
			setCCUser(oridetailInfo);
			terminalShow(oridetailInfo.bill_unit);
			return;
		}
		function ecBackAndRefresh(event) {
			teamBillCom 	= event.detail.teamBillCom;		// 管理单位代码
			fbill_no 		= event.detail.fbill_no;		// fbill_no是
			teamBillComName = event.detail.teamBillComName; // 管理单位名称
			loginCom 		= event.detail.loginCom;	 	// 登录单位代码
			loginComName 	= event.detail.loginComName;	// 登录单位名称
			userbillNo 		= event.detail.userbillNo;		// 登录人的代码
			userName 		= event.detail.userName,		// 登录人的姓名
			privileges 		= event.detail.privileges,		// 当前的权限是
			fromPage 		= event.detail.fromPage,		// 从哪个页面来
			bill_no 		= event.detail.bill_no,		// 从哪个页面来
			queryparmas={
				name:'vdvc311',    
				bill_com:teamBillCom, 
				bill_task:"L,S,Y,YF",
				currentPage:1, 
				pageSize:1, 
				paramText:"",
				bill_no:bill_no  
			}
			VlAjax.post({"port" : "find","headers" : "json",}, queryparmas, sCBfind);
		}
		function eCRM(event) {
			// 判断权限："linkbd_linksts": "关联失败"
			if(detailInfo.bill_oppo==""){
				mui.toast("客户未关联，不允许建立下级客户！");
				return;
			}
			var extra = {
				teamBillCom 	: detailInfo.bill_text[0].linkvd_linkcom, 		
				teamBillComName : detailInfo.bill_name,	
				fbill_no 		: detailInfo.bill_text[0].linkvd_linkcom,			
				loginCom 		: loginCom,			
				loginComName 	: loginComName,		
				userbillNo 		: userbillNo,		
				userName 		: userName,			
				privileges 		: privileges,		
				fromPage 		: "vdvc311node",	
				detailInfo		: detailInfo
			}
			mui.fire(plus.webview.getWebviewById(backPlistPage), 'lowerDeptRefresh311plist', extra);
			mui.fire(plus.webview.getWebviewById('vdvc311_list.html'), 'lowerDeptRefresh311list', extra);
			 
			mui.openWindow({
				id: backPlistPage,
			});  
		}
		function eReLocate(e){
			var billUser = document.getElementById("toEdit").getAttribute("billUser");
		
			if(billUser == userbillNo || privileges == "ROOT") {
				mui.openWindow({
					url: '../../Gps.html',
					id: "Gps.html",
					createNew:true,
					extras: {
						detailInfo		: detailInfo,
						oridetailInfo	: detailInfo,
						fromPage		: "vdvc311_node.html"
					}
				})
			} else {
				mui.toast("仅制单人或管理员有此权限！");
			}
		}
		function eToEdit(e){
			var billUser = document.getElementById("toEdit").getAttribute("billUser");
			if(billUser == userbillNo || privileges == "ROOT") {
				mui.openWindow({
					url: 'vdvc311_edit.html',
					id: "vdvc311_edit.html",
					createNew: true,
					extras: {
						teamBillCom 	: teamBillCom, 		// 1.管理单位代码	// 不变
						teamBillComName : teamBillComName,	// 2.管理单位名称	// 不变
						fbill_no 		: fbill_no,			// 3.fbill_no是		// 不变
						loginCom 		: loginCom,			// 4.登录单位代码
						loginComName 	: loginComName,		// 5.登录单位名称
						userbillNo 		: userbillNo,		// 6.登录人的代码
						userName 		: userName,			// 7.登录人的姓名
						privileges 		: privileges,		// 8.当前的权限是
						fromPage 		: "vdvc311plist",	// 9.从哪个页面来
						flagNew			: "N",
						detailInfo      : detailInfo,
					}
				})
			} else {
				mui.toast("仅制单人或管理员有此权限！");
			}
		}
		function eUserM(e){
			// 判断权限：
			if(detailInfo.bill_oppo==""){
				mui.toast("客户未关联，不允许建立下级用户！");
				return;
			}
			var _json = {"vdvc20100_20170801_0101v101": "经销商","vdvc20100_20170801_0101v102":"终端"}
			business = detailInfo.bill_unit || _json[detailInfo.bill_text[0].prod_no] || "311";
			// 
			teamBillCom = detailInfo.bill_text[0].linkvd_linkcom;
			teamBillComName = detailInfo.bill_name;
			mui.openWindow({
				url: 'vdvc105_plist.html',
				id: "vdvc105_plist.html",
				createNew: true,
				extras: {
					teamBillCom 	: teamBillCom, 		// 1.管理单位代码	// 取当前li的linkvd_linkcom
					teamBillComName : teamBillComName,	// 2.管理单位名称	// 取当前li的bill_name
					fbill_no 		: "",				// 3.fbill_no是		// 取""查出成员+管理员
					loginCom 		: loginCom,			// 4.登录单位代码
					loginComName 	: loginComName,		// 5.登录单位名称
					userbillNo 		: userbillNo,		// 6.登录人的代码
					userName 		: userName,			// 7.登录人的姓名
					privileges 		: privileges,		// 8.当前的权限是
					fromPage 		: "vdvc311node",	// 9.从哪个页面来
					business		: business
				}
			})
			
		}
		function terminalShow(type){
			var oType = mui(".j-show-forterminal")[0];
			if(type == "终端"){
				oType.style.display = "block";
			}else{
				oType.style.display = "none";
			}
		}
		mui.previewImage();
	</script>

</html>