<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/app.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			.mui-row {
				padding: 8px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav headerMain editHeader" id="head">
			<a class="mui-action-back mui-pull-left" id="goBack">返回</a>
			<div class="mui-title plistTitle">
				<p id="title"></p>
				<h1 id="header"></h1>	
			</div>
			<a class=" mui-pull-right rightIcon" id="J_btn_save" data-loading-text="保存中">保存</a>
			<div class="mui-row navBar buttonBars">
				<button type="button" id="deleteBtn" class="mui-col-xs-3">
					<span class="mui-icon mui-icon-trash" id="deleteIcon"></span>
					<span>删除</span>
				</button>
				<button  type="button" id="bSendBtn" class="mui-col-xs-3 " >
					<span class="mui-icon mui-icon-upload" id="bSendIcon" ></span>
					<span>送审</span>
				</button>
				 <button  type="button" id="bBackBtn" class="mui-col-xs-3 hide-el">
					<span class="mui-icon mui-icon-paperclip" id="bBackIcon"></span>
					<span>收回</span>
				</button>
				<span class="mui-col-xs-2 state" id="billState"></span>
			</div>
		</header>
		<div class="mui-content" style="padding-top:90px;margin-top:20px;margin-bottom:30px;">
			<div class="mui-input-group vlel-hide vlbasic-txtbox">
				<div class="vlbasic-txt">
					<p class="vlbasic-txt-item">单据号(bill_no):	<span class="vlbasic-txt-value" id="bill_no"></span></p>
					<p class="vlbasic-txt-item">父单据号(fbill_no):	<span class="vlbasic-txt-value" id="fbill_no">ROOT</span></p>
					<p class="vlbasic-txt-item">父单据号(bill_date):	<span class="vlbasic-txt-value" id="bill_date">ROOT</span></p>
					<p class="vlbasic-txt-item">登陆人(bill_user):	<span class="vlbasic-txt-value" id="bill_user"></span></p>
					<p class="vlbasic-txt-item">登陆单位(bill_com):	<span class="vlbasic-txt-value" id="bill_com"></span></p>
					<p class="vlbasic-txt-item">供应商(bill_coppo):	<span class="vlbasic-txt-value" id="bill_coppo"></span></p>
					<p class="vlbasic-txt-item">供应商(bill_spec):	<span class="vlbasic-txt-value" id="bill_spec"></span></p>
					<p class="vlbasic-txt-item">燕京(linkvd_linkfcom):	<span class="vlbasic-txt-value" id="linkvd_linkfcom"></span></p>
					<p class="vlbasic-txt-item">经度(bill_ipaddr):	<span class="vlbasic-txt-value" id="bill_ipaddr"></span></p>
					<p class="vlbasic-txt-item">纬度(bill_gpsaddr):	<span class="vlbasic-txt-value" id="bill_gpsaddr"></span></p>
					<p class="vlbasic-txt-item">定位地址(bill_context):	<span class="vlbasic-txt-value" id="bill_context"></span></p>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row">
					<label class="vlinput-required">客户代码</label>
					<input id="bill_id" type="text" class="mui-input-clear red-border requiredInput" placeholder="录入客户代码" required="required">
				</div>
				<div class="mui-input-row">
					<label class="vlinput-required">客户名称</label>
					<input id="bill_name" type="text" class="mui-input-clear red-border requiredInput" placeholder="录入客户名称" required="required" >
				</div>
				<div class="mui-input-row">
					<label class="vlinput-required">负责人</label>
					<input id="linkvd_linkuser" type="text" class="mui-input-clear requiredInput" placeholder="录入负责人姓名">
				</div>
				<div class="mui-input-row">
					<label class="vlinput-required">负责人手机号</label>
 					<input id="linkbd_linktel" type="number" class="mui-input-clear requiredInput" placeholder="录入负责人手机号" required="required">
				</div>
				<div class="mui-input-row">
					<label class="vlinput-required">所属部门</label>
					<input id="bill_nspec" type="text" class="mui-input-clear requiredInput" placeholder="选择部门" required="required" readonly="readonly">
				</div>
				<div class="mui-input-row vlel-hide">
					<label class="vlinput-required">部门代码</label>
					<input id="bill_dept" type="text" class="mui-input-clear requiredInput" required="required" readonly="readonly">
				</div>
				<div class="mui-input-row lastInput">
					<label style="width:35%;">纳税人识别号</label>
					<input id="linkbd_linktaxid" type="text" class="mui-input-clear " placeholder="录入纳税人识别号" style="width:65%;">
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row ">
					<label class="vlinput-required">客户类型</label>
					<input 	type="text" 						
							class="mui-input-clear requiredInput j-pick-data" 						
							id="bill_bflow" 						
							readonly="readonly" 						
							placeholder="选择客户类型" 						
							required="required"						
							data-title = "客户类型"						
					/>
					<!-- <input id="bill_bflow" type="text" class="mui-input-clear requiredInput j-pick-data" readonly="readonly" placeholder="选择客户类型" required="required"> -->
				</div>
				<div class="mui-input-row lastInput">
					<div class="mui-col-xs-3 mui-pull-left vlinput-required" style="padding:11px 0 11px 18px;">客户类别</div>
					<div class=" mui-pull-left mui-radio mui-left mui-col-xs-5">
						<label>经销商</label>
						<input name="bill_unit" type="radio" class="userType" value="经销商">
					</div>
					<div class=" mui-pull-left mui-radio mui-left mui-col-xs-4">
						<label>终端</label>
						<input name="bill_unit" type="radio" class="userType" value="终端">
					</div>
				</div>
			</div>
			<div class="" style="display: none;">
				<p class="mui-h5" style="padding-left:18px; padding-top:10px;">关联状态：<span class='state' id="linkbd_linksts"></span></p>
				<div class="fold" id="fold">
					<p id="" class="mui-h5" style="padding-left:18px;">关联时间：<span class='state' id="linkvd_linkdate"></span></p>
					<p id="" class="mui-h5" style="padding-left:18px;">关联客户名称：<span class='state' id="linkvd_linkcomName"></span></p>
					<p id="" class="mui-h5" style="padding-left:18px;">关联客户编码：<span class='state' id="linkvd_linkcom"></span></p>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div id="J_threeLevelAddr" class="threelevel-addr">
					<div id="mui-row threelevel-pickbox">
						<div class="mui-input-row mui-col-xs-12" >
							<label class="vlinput-required">所在地区</label>
							<input id="linkbd_linkprov" type="text" class="mui-input-clear requiredInput threelevel-prov" placeholder="点击选择所在地区" readonly="true" value="">
						</div>
						<a class="mui-icon mui-icon-arrowright threelevel-icon"></a>
					</div>
					<div class="mui-row threelevel-item">
						<span class=" mui-col-xs-4">所在街道：</span>
						<span class=" mui-col-xs-8 threelevel-street" id="linkbd_linkstreet"></span>
					</div>
					<div class="mui-row threelevel-item">
						<span class=" mui-col-xs-4">地区位置：</span>
						<span class=" mui-col-xs-8 threelevel-lal" id="linkbd_lngposition"></span>
					</div>
				</div>
			</div>
			<div class="mui-input-group" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row lastInput">
					<label>客户地址</label>
					<input id="linkvd_corraddr" type="text" class="mui-input-clear" placeholder="录入客户地址">
				</div>
			</div>
			<div class="mui-input-group j-show-forterminal vlel-hide"  style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row ">
					<label>经营类型</label>
					<input 
						type="text" 
						class="mui-input-clear j-pick-data" 
						id="col_manage_type" 
						readonly="readonly" 
						placeholder="选择经营类型" 
						data-title = "经营类型"
						/>
				</div>
				<div class="mui-input-row lastInput">
					<label>合同类型</label>
					<input
						type="text" 
						class="mui-input-clear j-pick-data" 
						id="col_contract_type" 
						readonly="readonly" 
						placeholder="选择合同类型" 
						data-title = "合同类型"
						/>
				</div>
			</div>
			<div class="mui-input-group info" style="padding:5px 18px 5px 18px;margin-bottom:5px;">
				<div class="mui-input-row">
					<label>营业面积</label>
					<input id="linkbd_busiarea" type="number" class="mui-input-clear" placeholder="营业面积（平方米）">
				</div>
				<div class="mui-input-row">
					<label>员工人数</label>
					<input id="linkbd_emplsum" type="number" class="mui-input-clear" placeholder="输入员工人数">
				</div>
				<div class="mui-input-row lastInput">
					<label>餐台数量</label>
					<input id="linkbd_tablsum" type="number" class="mui-input-clear" placeholder="输入餐台数量">
				</div>
			</div>
			<div class="mui-input-group" id="cc" style="padding:5px 18px 5px 25px;margin-bottom:5px;">
				<div class="mui-row" style="">
					<span class="mui-col-xs-4 spn">抄送：</span>
					<span class="mui-icon mui-icon-plusempty" id="" style="float:right;padding"></span>
 					<span class="mui-col-xs-6 spn" id="cc_user_cn"></span>
				</div>
				<div class="mui-row" style="display: none;">
					<span class="mui-col-xs-4 spn">抄送id：</span>
					<span class="mui-icon mui-icon-plusempty" id="" style="float:right;padding"></span>
					<span class="mui-col-xs-6 spn" id="cc_user_code" style="display: ; overflow: hidden;"></span>
					 
				</div>
			</div>
		 	<div class="mui-input-group" style="padding:8px 18px 5px 32px;margin-bottom:5px;">
				<label class="vlfield-highlight">客户标签<span class="vltip">&nbsp;&nbsp;&nbsp;* 多个标签请用<span style="color:crimson;">英文</span>逗号隔开</span></label>
				<textarea name="" rows="2" cols="2" placeholder="客户标签" id="bill_label" class="mui-input-clear requiredInput" style="border:1px solid #eee;width:100%;margin-top:5px;font-size:12px;line-height: 16px;"></textarea>
			</div>
		</div>
		<!-- 点击退出时底部弹出-->
		<div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
			<!-- 可选择菜单 -->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" id="sureDelBtn">
					<a>确认</a>
				</li>
			</ul>
			<!-- 取消菜单 -->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#sheet1"><b>取消</b></a>
				</li>
			</ul>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=FQCQkNvWb9g4FnFXN3IGieSwQgLOR2PU&services=&t=20171004185957"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/vlindex.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/immersed.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.picker.js"></script>
	<script src="../../js/mui.poppicker.js"></script>
	<script src="../../js/vldata/data-city-3.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vledit/pick-addr.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var date = new Date(); 
		var bill_date = VlDate.get(date, "_ymdhms");
		var rqsData = null; //提交的数据
		var inputData = null; // 表单里的数据  
		var teamBillCom = "";
		var teamBillComName = "";
		var userbillNo = "";
		var loginCom = "";
		var loginComName = "";
		var flagNew = "";
		var onlyCode = "";
		var detailInfo = "";
		var hadSend = false; // 用于判断是否送审
		var flagsave=false;  //
		var oldUserCode = ""; // 存放抄送的用户的代码
		var oldUserName = ""; // 存放抄送的用户的名称
		var hasSave = false;
		var userinfo,
			pickSheet = {};
		mui.init({});
		var $$ = jQuery.noConflict();
		var vc311Init = {
			bstatus : {	"L" : "待送审","S" : "待审核","Y" : "已审核","YF": "已失效","new":"录入中"},
			isNew : {
				"Y" : {
					"btask":"d_new",
					"bno" : VlTools.getBno('vdvc311'),
					"bstatus" : "new",
					"setValue" : false,
					"title" : "客户注册"
				},
				"N" : {
					"btask":"d_save",
					"bno" 		: "",
					"bstatus" 	: "",
					"setValue" : true,
					"title" : "信息编辑",
					
				}
			},
			terminal: {
				"经销商" : "vdvc20100_20170801_0101v101",
				"终端" : "vdvc20100_20170801_0101v102",
			}
		}
		var MDInfo = {
			"values":{
				"main":{},
				"detail":[]
			}
		}
		var normalData ={
			h : {
				bill_no		: "",
				fbill_no	: "",
				bill_user	: "",
				bill_com	: "",
				bill_date	: "",
				bill_oppo	: "",
				bill_coppo	: "",
				bill_spec	: "",
				bill_ipaddr : "",	
				bill_gpsaddr: "",	
				bill_context: "",
				bill_qtask	: "",
			},
			 v : {				
			 	bill_id 	: "",
			 	bill_name 	: "",
				bill_bflow	: "",
				bill_label	: "",
				bill_nspec  : "",   //部门名称
				bill_dept   : "",   //部门代码
			},
			c : {
				bill_unit	: "",//linknext
			}
		}
		var oText ={
			h : {
				linkbd_linkstreet	: "",
				linkbd_lngposition	: "", 
				linkvd_linkfcom		: "", // loginCom
				linkbd_linksts		: "", // 关联状态
				linkvd_linkdate		: "", // 关联时间
				linkvd_linkcomName	: "", // 关联客户
				linkvd_linkcom		: "", 
			},
			v : {
				prod_no				: "",
				linkbd_linktaxid	: "", 
				linkbd_linktel		: "", 
				linkvd_linkuser		: "",
				linkbd_linkprov		: "",
				linkbd_linkcity		: "",
				linkbd_linkdist		: "",
				linkvd_corraddr		: "",
				linkbd_busiarea		: "",
				linkbd_emplsum		: "",
				linkbd_tablsum		: "", 
				col_manage_type 	: "", // 经营类型
				col_contract_type	: "", // 合同类型

			},
			c : {}
		}
		mui.plusReady(function() {
			// 抄送接收105传送过来的名字		
			window.addEventListener('105findselectedUser', function(event) {
				var userNameStr = event.detail.userNameStr;
				var userCodeStr = event.detail.userCodeStr;
				document.getElementById("cc_user_code").innerHTML = userCodeStr;
				document.getElementById("cc_user_cn").innerHTML = userNameStr;
				return;
			});
			
			// 抄送，清空名字
			window.addEventListener('105findEmptySelected', function(event) {
		 		var close = event.detail.close;
 		 		if(close){
 		 			document.getElementById("cc_user_code").innerHTML = "";
					document.getElementById("cc_user_cn").innerHTML = "";
					oldUserName   = "";
					oldUserCode = "";
		 		}
				return;
			}); 
				
		
			// 获取上个页面传过来的参数
			var self = plus.webview.currentWebview();
			// 基本参数(必要)
			teamBillCom 	= self.teamBillCom; 	// 1.管理单位代码
			teamBillComName = self.teamBillComName;	// 2.管理单位名称
			fbill_no 		= self.fbill_no;		// 3.fbill_no是
			loginCom 		= self.loginCom;		// 4.登录单位代码
			loginComName 	= self.loginComName;	// 5.登录单位名称
			userbillNo 		= self.userbillNo;		// 6.登录人的代码
			userName 		= self.userName;		// 7.登录人的姓名
			privileges 		= self.privileges;		// 8.当前的权限是
			fromPage 		= self.fromPage;		// 9.从哪个页面来
			bill_context    = self.bill_context;
			// 其他
			flagNew 		= self.flagNew; 
			userinfo 		= JSON.parse(VlStore.pGet('user'));
			hasSave = vc311Init["isNew"][flagNew]["setValue"]
			if(hasSave) {
				detailInfo = self.detailInfo;
				VlEdit.setValue(detailInfo,normalData,oText);
				setCCuser(detailInfo);
				terminalShow(detailInfo.bill_unit);
				vc311Init["isNew"][flagNew]["bstatus"] = detailInfo.bill_task;
			}else{
				document.getElementById("bill_label").innerHTML = teamBillComName+',' ;
				document.getElementById("bill_no").innerHTML = VlTools.getBno('vdvc311');
				document.getElementById("bill_coppo").innerHTML = loginCom;
				document.getElementById("bill_spec").innerHTML = loginComName;
				document.getElementById("linkvd_linkfcom").innerHTML = loginCom;
			}
			setButton(vc311Init["isNew"][flagNew]["bstatus"]);
			VlTools.getLocate(sCBgetLocate, eCBgetLocate);
			findBflow();
			document.getElementById("title").innerHTML = vc311Init["isNew"][flagNew]["title"];
			document.getElementById("billState").innerHTML = vc311Init["bstatus"][vc311Init["isNew"][flagNew]["bstatus"]];
			document.getElementById("header").innerHTML = teamBillComName ;
			document.getElementById("bill_date").innerHTML = VlDate.get(new Date(), "_ymdhms");
			document.getElementById("bill_user").innerHTML = userbillNo;
			document.getElementById("bill_com").innerHTML = teamBillCom;
			
			document.getElementById("J_btn_save").addEventListener("tap",eBtnSave); 
			document.getElementById("bSendBtn").addEventListener("tap",bSendBtn);
			document.getElementById("bBackBtn").addEventListener("tap",bBackBtn);
			document.getElementById("sureDelBtn").addEventListener("tap", sureDelBtn);
			document.getElementById("deleteBtn").addEventListener("tap",deleteBtn);
			document.getElementById("bill_nspec").addEventListener("tap",Dept)
			mui(".mui-input-group").on("tap", ".j-pick-data", function (e){ eaPickData(e, this); });
			jQuery("input[name=bill_unit]").change("change", function (e){ eaChangeType(e, this); });
			// 抄送 （打开105） 
			document.getElementById("cc").addEventListener("tap", function() {
				//触发详情页面的newsId事件
				var oldUserName = document.getElementById("cc_user_cn").innerHTML;
				var oldUserCode = document.getElementById("cc_user_code").innerHTML;
				mui.openWindow({
					url: 'vdvc105_find.html',
					id: 'vdvc105_find.html',
					createNew: true,
					extras: {
						teamBillCom: teamBillCom,
						teamBillComName: teamBillComName,
						userbillNo: userbillNo,
						loginCom: loginCom,
						loginComName: loginComName,
						oldUserName:oldUserName,
						oldUserCode:oldUserCode,
//						choice: "single", // 单选
					 	choice:"multiple", // 多选
					 	fromPage: "311edit",
					}
				})
			}) 

	}); 
	window.addEventListener("vdvc311VRdept01",depts)
	function depts(event){
	    bill_name=event.detail.linkName	
		bill_dept=event.detail.dataRow
//		console.log(JSON.stringify(bill_dept))
		document.getElementById("bill_nspec").value = bill_name
		document.getElementById("bill_dept").value = bill_dept
	}
	
	 function Dept(){
		 mui.openWindow({
			 id :"vdvc311_VRdept.html",
			 url:"../vlfind/vdvc311_VRdept.html",
			 createNew: true,
			 extras: {
				teamBillCom: teamBillCom,
				teamBillComName: teamBillComName,
				userbillNo: userbillNo,
				loginCom: loginCom,
				loginComName: loginComName,
				fromPage: "vdvc311_edit.html",
				billtask: "VR_find_vdvc103",
			 }
		 })
	 }
	 function eBtnSave(){
	 	mui("#J_btn_save").button('loading'); 
		plus.nativeUI.showWaiting();
	 	var checkResults = VlEdit.checkRequired();//验证是否为必填字段
	 	var isMobileOk = VlValid.checkMobile(document.getElementById('linkbd_linktel').value);//?
	 	var verfiedResults = validateRequired();//验证是否为必填字段  
	 	if(!checkResults || !isMobileOk || !verfiedResults){
			plus.nativeUI.closeWaiting();
	 		mui("#J_btn_save").button('reset');
	 		return false;
	 	}
	 	rqsData = VlEdit.getValue(normalData,oText); //获取每一个输入框的值的方法
	 	rqsData = rqsDataProcess(rqsData, hasSave);
		
//	 	console.log("提交保存："+JSON.stringify(rqsData));
	 	sendTask(rqsData, sCBsave, false);
	 	mui("#J_btn_save").button('reset');
	 	return true;
	 }
	 function bSendBtn(){ 
	 	var _p = getParam('b_send');
	 	var canSend = eBtnSave();
		
	 	if(canSend){sendTask(_p,sCBsend)};
		
	 }
	 // 收回
	 function bBackBtn(){ 
	 	if(detailInfo.bill_task == "YF"){
	 		return;
	 	}
	 	var _p = getParam('b_back');
	 	if(hadSend){
	 		sendTask(_p,sCBback);
	 	}
	 } 
	 // 按下“删除”后弹出底部菜单
	 function deleteBtn(){ 
	 	mui('#sheet1').popover('show', document.getElementById("delete"));
	 }
	 // 删除：弹出确认菜单之后点击确认
	 function sureDelBtn(){ 
	 	var _p = getParam('d_delete');
	 	sendTask(_p,sCBdel);
	 }
	 //按钮设置
	 function setButton(task){
	 	var _status = {
	 		"new" : {
	 			"show" : ['J_btn_save','bSendBtn'],
	 			"hide" : ['bBackBtn','deleteBtn']
	 		},
	 		"L" : {
	 			"show" : ['J_btn_save','bSendBtn','deleteBtn'],
	 			"hide" : ['bBackBtn']
	 		},
	 		"S" :  {
	 			"show" : ['bBackBtn'],
	 			"hide" : ['J_btn_save','bSendBtn','deleteBtn']
	 		},
	 		"Y" :  {
	 			"show" : ['bBackBtn'],
	 			"hide" : ['J_btn_save','bSendBtn','deleteBtn']
	 		},
	 	}
	 	var _show = _status[task]['show'];
	 	for(var i = 0 ; i < _show.length; i ++){
	 		document.getElementById(_show[i]).style.display = "block";
	 	}
	 	var _hide = _status[task]['hide'];
	 	for(var i = 0 ; i < _hide.length; i ++){
	 		document.getElementById(_hide[i]).style.display = "block";
	 	}
		document.getElementById("bBackBtn").style.display = "none"  //隐藏收回
		// Y 状态管理员可以删除
	 }
	 // 提交前数据处理
	 function rqsDataProcess(data, hasSave) {
		
	 	data.bill_text = JSON.parse(data.bill_text);
		data.link_next = data.bill_unit;
		data.bill_bid = data.bill_text[0].linkbd_linktel;
		data.bill_title = data.bill_text[0].linkvd_linkuser;
		data.bill_oppo = data.bill_text[0].linkvd_linkcom;
		data.bill_text[0]['prod_no'] = vc311Init["terminal"][data.bill_unit];
		data.bill_text = JSON.stringify(data.bill_text);
		
		data.cc_user = getCCuser();
		
		data.bill_label = data.bill_label.replace(/，/g,',');
		if(!hasSave){
			data.bill_label = data.bill_label + ',' + data.bill_name;
			if(userinfo.bill_coppo !== teamBillCom){
				data.bill_label = userinfo.com_bill_comName + "," + data.bill_label;
			}
		}else{
	
			var _before = VlUtils.deepCopy(detailInfo,{});
			var _after = VlUtils.deepCopy(data,{});
			// console.log(JSON.stringify(_before))
			// console.log(JSON.stringify(_after))
			// data = VlEdit.compareData(mainInfo, data, false);
			_before.bill_context=bill_context
			data = VlEdit.compareData(_before, _after);
			if(mui.type(data.cc_user) === 'object') {
				data.cc_user = JSON.stringify(data.cc_user)
			}
		}
		
	 	data.bill_task = vc311Init["isNew"][flagNew]["btask"];
		data.bill_date = VlDate.get(new Date(), '_ymdhms');
	 	return data;
	 }
	 function getCCuser() {
	 	// 抄送
	 	var _code = document.getElementById("cc_user_code").innerHTML; //
	 	var _name   = document.getElementById("cc_user_cn").innerHTML; // 
	 	
	 	var aCode = _code.split(",");
	 	var aName = _name.split(",");
	 	var oCCUser = {}; 
	 	if(!VlUtils.isnull(aCode)){
	 		for(var i = 0; i < aCode.length; i++) {
	 			oCCUser[aCode[i]] = aName[i];
	 		} 
	 		oCCUser= JSON.stringify(oCCUser)
	 	}else{
	 		oCCUser="";
	 	}
	 	
	 	return oCCUser;
	 }
	 //修改输入框赋值
	 function setCCuser(data){ 
		var _name = "",
			_code = "",
			oUser = data.cc_user;
	 	if(oUser){
	 		for(var k in  oUser){
	 			_code += "," + k;
	 			_name += "," + oUser[k];
	 		}
			_name = _name.slice(1);
			_code = _code.slice(1);
	 	}
		document.getElementById("cc_user_code").innerHTML = _code;
		document.getElementById("cc_user_cn").innerHTML = _name;
	 	
	 	// 抄送赋值结束
	 	var len = mui(".input").length;
	 	for(var i = 0; i < len; i++) {
	 		if(mui(".input")[i].value == "undefined") {
	 			mui(".input")[i].value = ' ';
	 		}
	 	}
	 	// 去掉关联状态的undefined
	 	var len1 = mui(".state").length;
	 	for(var i = 0; i < len1; i++) {
	 		if(mui(".state")[i].innerHTML == "undefined") {
	 			mui(".state")[i].innerHTML = ' ';
	 		}
	 	} 
	 }
	 function getParam(task){
	 	var date = new Date();
	 	var params = {
	 		bill_com  : teamBillCom,
	 		bill_no   : document.getElementById('bill_no').innerHTML,
	 		bill_user : userbillNo,
	 		bill_task : task,
	 		bill_date : VlDate.get(date, '_ymdhms')
	 	};
	 	return params
	 }
	 function sendTask(p, sCB, type){
	 	VlAjax.post({
	 		"port" : "sendTask",
	 		"headers" : "json",
	 		"async" : (typeof arguments[2] === "undefined" ? true : arguments[2] )
	 	},p,sCB);
	 }
	 //
	 function sCBsave(data){
		plus.nativeUI.closeWaiting();
	 	mui.toast(data.message);
	 	vc311Init['isNew'][flagNew]['bstatus'] = "L";
	 	setButton("L");
	 	detailInfo = VlUtils.deepCopy(rqsData,{})
	 	flagNew = "N";
	 	bill_task = vc311Init['isNew'][flagNew]["btask"];
	 	mui("#J_btn_save").button('reset');
	 }
	 function sCBsend(data){
	 	mui.toast(data.message);
	 	document.getElementById("billState").innerHTML = "已审核";
	 	mui.openWindow({
	 		id: 'vdvc311_node.html',
	 		url: 'vdvc311_node.html',
	 		createNew: true,
	 		extras: {
	 			teamBillCom: teamBillCom,
	 			teamBillComName: teamBillComName,
	 			userbillNo: userbillNo,
	 			loginCom: loginCom,
	 			loginComName: loginComName,
	 			rqsData: rqsData,
	 			fromPage: "vdvc311_edit.html",
	 			rqsData	: rqsData
	 		}
	 	}); 
	 	vc311Init['isNew'][flagNew]['bstatus'] = "S";
	 	setButton("S");
		plus.webview.currentWebview().close();
	 }
	 function sCBback(data){
	 	mui.toast(data.message);
	 	document.getElementById("billState").innerHTML = "待送审";
	 	mui.openWindow({
	 		id: 'vdvc311_node.html',
	 		url: 'vdvc311_node.html',
	 		createNew: true,
	 		extras: {
	 			teamBillCom 	: teamBillCom, 		
	 			teamBillComName : teamBillComName,	
	 			fbill_no 		: fbill_no,			
	 			loginCom 		: loginCom,			
	 			loginComName 	: loginComName,		
	 			userbillNo 		: userbillNo,		
	 			userName 		: userName,			
	 			privileges 		: privileges,		
	 			fromPage 		: "vdvc311edit",	
	 			rqsData			: rqsData,
	 		}
	 	}); 
	 	vc311Init['isNew'][flagNew]['bstatus'] = "L";
	 	setButton("L");
	 }
	 function sCBdel(data){
	 	mui.toast(data.message);
	 	deleteSuccess("vdvc311_plist.html","vdvc311_list.html");
	 } 
	 function deleteSuccess(parentview,childview){
	 	var plistview = plus.webview.getWebviewById(parentview);
	 	plistview.reload();
		if(arguments[1]){
			var listview = plus.webview.getWebviewById(childview);
			listview.reload();
		}
	 	var oldBack = mui.back;
	     mui.back = function(){
	     	var webview = plus.webview.getWebviewById(parentview);
	     	webview.show();
	     }
	     mui.back();
	 } 
	 function findBflow(){
	 	var p ={
	 		bill_task : "VR_mapp101_query_01",
	 		bill_com : userinfo.bill_coppo,
	 		bill_user: userbillNo,
	 		bill_bflow : "客户关系",
	 		bill_oppo : "vdvc311",
	 		currentPage: 1,
	 		pageSize: 30,
	 		paramText: "",
	 	}
	 	VlAjax.post({
	 		"port": "active",
	 		"headers": "json",
	 	}, p ,sCBfindBflow)
	 }
	 function sCBfindBflow(data) {
	 	if(data.data.length !== 0){
	 		pickSheet =  JSON.parse(data.data[0]['内容选项'])
	 	}
	 }
	 function eaPickData(e, self){
		var _title = self.getAttribute("data-title"),
			_data = pickSheet[_title];
		if(_data){
			plus.nativeUI.actionSheet({
				title: ("选择" + _title),
				cancel: "取消",
				buttons: _data
			}, function(e) {
				if(e.index != -1){
					self.value = _data[(e.index - 1)].title;
				}
			});
		}else{
			alert("请联系管理员相应增加类型。")
		}
	 }
	 function eaChangeType(e, self){
		terminalShow(self.value);
		if(self.value !== "终端"){
			document.getElementById("col_contract_type").value = "";
		}
	 }
	 function terminalShow(type){
	 	var oType = mui(".j-show-forterminal")[0];
	 	if(type == "终端"){
	 		oType.style.display = "block";
	 	}else{
	 		oType.style.display = "none";
	 	}
	 }
	 function sCBgetLocate(p){
             if(plus.os.name ==="Android"){
				  bill_ipaddr = p.coords.longitude;
				  bill_gpsaddr = p.coords.latitude;
				  // 
				  document.getElementById("bill_ipaddr").innerHTML = bill_ipaddr;
				  document.getElementById("bill_gpsaddr").innerHTML = bill_gpsaddr;
				  document.getElementById("bill_context").innerHTML = p.addresses;
			  }else{
				  var provinces=p.address.province
				  var citys=p.address.city
				  var districts=p.address.district
				  var streets=p.address.street
				  var titles=provinces+citys+districts+streets
				  document.getElementById("bill_title").innerHTML = titles;
				  document.getElementById("bill_ipaddr").innerHTML = p.longitude;
				  document.getElementById("bill_context").innerHTML = p.latitude;
			  }	
	 }
	 function eCBgetLocate(e){
	 	alert(JSON.stringify(e))
	 }
	 //验证必填
	 function validateRequired(){  
	 	var check = true;
	 	// 检查用户类别是否选择
	 	var len = mui(".userType").length;
		// console.log(len)
	 	var count = 0;
	 	for(var i = 0; i < len; i++) { // 判断是否选择
	 		if(!mui(".userType")[i].checked) {
	 			count++;
	 			if(count == 2) {
	 				mui.toast("请选择客户类别！");
	 				check = false;
	 				mui("#saveBtn").button('reset');
	 				return check;
	 			}
	 		}
	 	}
	 	return check;
	 }
	</script>

</html>