<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/common/mui.css" />
		<link rel="stylesheet" href="../../css/fonts/iconfont.css" />
		<style>
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			/*.list_font {
				font-size: 10px;
				line-height: 12px;
				height: 16px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}*/
			.list_font {
				font-size: 10px;
				line-height: 12px;
				height: 16px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.list_fonts {
				font-size: 12px;
				line-height: 14px;
			}
			
			.list_h5 {
				font-size: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.list_sts {
				font-size: 12px;
				line-height: 14px;
				color: #f0ad4e;
				border: 1px solid #f0ad4e;
				border-radius: 2px;
				text-align: center;
				/*background-color: pink;*/
			}
			
			.mui-table-view:after {
				height: 0 !important;
			}
			
			.mui-table-view:before {
				height: 0 !important;
			}
			
			.mui-scroll-wrapper {
				z-index: 1;
			}
			
			#contList {
				position: relative;
				z-index: 2;
			}
			.mui-table-view-cell:after{
				height: 0;
			}
		</style>
	</head>

	<body>
		<div id="vdhr105_list" class="mui-content mui-scroll-wrapper">
			<div id="showHint" class="mui-h5" style="padding:100px;height:300px;display:;text-align: center;background: ;display:none;border: transparent;background: ;">
				<span class="icon iconfont icon-wushuju" style="color:;font-size:100px;"></span>
				<p style="color:#000000;margin-top:10px;margin-bottom:0;border-bottom: transparent;padding-bottom:0;">未查询到相关的数据</p>
				<p style="font-size:10px;border-bottom: transparent;">可以尝试其他查询</p>
			</div>
			<div id="searching" class="mui-h5" style="padding:100px;height:300px;text-align: center;display:block;">
				<p class="mui-icon mui-icon-search" id="" style=";color:#0062cc;height:100px;line-height: 100px;font-size: 100px;"></p>
				<p style="font-size:12px;">正在搜索中......</p>
			</div>
			<div class="mui-scroll" style="border: transparent;">
				<ul id="contList" class="mui-table-view mui-table-view-striped mui-table-view-condensed" style="margin-bottom:50px;background:none;">
				</ul>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/jquery-2.1.0.js"></script>
	<script src="../../js/md5.js"></script>
	<script src="../../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		mui.init({
			pullRefresh: {
				container: '#vdhr105_list',
				down: {
					callback: pulldownRefresh
				},
				up: {
					height: 200,
					contentnomore: '没有更多数据了',
					offset: '10px',
					contentrefresh: '正在加载...',
					callback: pullupRefresh
				}
			}
		});

		var startIndex = 1; // 
		var pageSize = 10;
		var search = '';
		var detailInfo = {}; // 用于存储查询到的信息
		var openlock = false; // 用于区分是首次进入页面还是搜索页面
		var fbill_no = "ROOT";
		var queryparmas = {}; //查询参数
		var pager = {};
		var bill_task = " ";
		var teamBillCom = "";
		var teamBillComName = "";
		var userbillNo = "";
		var loginCom = "";
		var loginComName = "";
		var fromPage = "";
		var queryport = "";
		mui.plusReady(function() {
			document.addEventListener('a', function(event) {
				var search = event.detail.search;
				var guid = event.detail.active;
				document.getElementById("contList").innerHTML = "";
				document.getElementById("showHint").style.display = "none";
				document.getElementById("searching").style.display = "block";
				queryport = 'Find/Ddata/fuzzy';
				queryparmas = {
					name		: 'vdhr105',
					bill_com	: loginCom,
					fbill_no	: fbill_no,
					bill_task	: "Y",
					currentPage	: startIndex,
					pageSize	: pageSize,
					bill_name	: search
				}
//				if(guid == "001") { // 默认001全部
//					queryparmas = {
//						name		: 'vdhr105',
//						bill_com	: loginCom,
//						fbill_no	: fbill_no,
//						bill_task	: "Y",
//						currentPage	: startIndex,
//						pageSize	: pageSize,
//						bill_name	: search
//					}
//				}
//				if(guid == "002") { //待处理L002
//					queryparmas = {
//						name		: 'vdhr105',
//						bill_com	: loginCom,
//						bill_user	: userbillNo, //员工id登录人
//						fbill_no	: fbill_no,
//						bill_task	: "L",
//						currentPage	: startIndex,
//						pageSize	: pageSize,
//						bill_name	: search
//					}
//				}
//				if(guid == "003") { //待审核S
//					queryparmas = {
//						name		: 'vdhr105',
//						bill_com	: loginCom,
//						bill_user	: userbillNo, //员工id登录人
//						fbill_no	: fbill_no,
//						bill_task	: "S",
//						currentPage	: startIndex,
//						pageSize	: pageSize,
//						bill_name	: search
//					}
//				}
//				if(guid == "004") { // 已失效YF
//					queryparmas = {
//						name		: 'vdhr105',
//						bill_com	: loginCom,
//						bill_user	: userbillNo, //员工id登录人
//						fbill_no	: fbill_no,
//						bill_task	: "YF",
//						currentPage	: startIndex,
//						pageSize	: pageSize,
//						bill_name	: search
//					}
//				} // 全部结束
				plus.nativeUI.showWaiting("正在查询数据..."); 
				rqsDataAjax(queryparmas, queryport , reportData, '../login.html',true);

			}); // 切换结束
			//监听plist页面点击导航拉取不同状态的数据
			document.addEventListener('differentStatesRefresh103list', function(event) {
				var guid = event.detail.active;
				document.getElementById("contList").innerHTML = "";
				document.getElementById("showHint").style.display = "none";
				document.getElementById("searching").style.display = "block";
				queryport = 'Business/allocated';
				if(guid == "001") { // 默认001全部
					queryparmas = {
						name: 'vdhr105',
						bill_com: loginCom, // 0109把teamBillCom改了
						bill_task: "Y",
						currentPage: startIndex,
						pageSize: pageSize,
						paramText: search,
						fbill_no: fbill_no
					}
				}
				if(guid == "002") { //待处理L002
					queryparmas = {
						name: 'vdhr105',
						bill_com: loginCom, // 0109把teamBillCom改了
						bill_user: userbillNo, //员工id登录人
						bill_task: "L",
						currentPage: startIndex,
						pageSize: pageSize,
						paramText: search,
						fbill_no: fbill_no
					}
				}
				if(guid == "003") { //待审核S
					queryparmas = {
						name: 'vdhr105',
						bill_com: loginCom, // 0109把teamBillCom改了
						bill_user: userbillNo, //员工id登录人
						bill_task: "S",
						currentPage: startIndex,
						pageSize: pageSize,
						paramText: search,
						fbill_no: fbill_no
					}
				}
				if(guid == "004") { // 已失效YF
					queryparmas = {
						name: 'vdhr105',
						bill_com: loginCom, // 0109把teamBillCom改了
						bill_user: userbillNo, //员工id登录人
						bill_task: "YF",
						currentPage: startIndex,
						pageSize: pageSize,
						paramText: search,
						fbill_no: fbill_no
					}
				} // 全部结束
				plus.nativeUI.showWaiting("正在查询数据..."); 
				rqsDataAjax(queryparmas, queryport , reportData, '../login.html',true);

			}); // 切换结束

			// 接收传过来的参数
			var self = plus.webview.currentWebview().parent();
			// 基本参数(必要)
			teamBillCom = self.teamBillCom; // 1.管理单位代码
			teamBillComName = self.teamBillComName; // 2.管理单位名称
			fbill_no = self.fbill_no; // 3.fbill_no是
			loginCom = self.loginCom; // 4.登录单位代码
			loginComName = self.loginComName; // 5.登录单位名称
			userbillNo = self.userbillNo; // 6.登录人的代码
			userName = self.userName; // 7.登录人的姓名
			privileges = self.privileges; // 8.当前的权限是
			fromPage = self.fromPage; // 9.从哪个页面来
			// 其他
			queryport = 'Business/allocated';
			queryparmas = {
				name: 'vdhr105',
				bill_com: loginCom, // 0109把teamBillCom改了
//				bill_user: userbillNo, //员工id登录人
				bill_task: "Y",
				currentPage: startIndex,
				pageSize: pageSize,
				paramText: search,
				fbill_no: fbill_no
			}
			plus.nativeUI.showWaiting("正在查询数据..."); 
			rqsDataAjax(queryparmas, queryport , reportData, '../login.html',true);

			//点击查看详情/修改信息
			mui("#contList").on('tap', 'li', function(e) {
				var e = this;
				var li = e;
				var dataRow = li.getAttribute("data-row");
				var rowObj = JSON.parse(dataRow);
				mui.openWindow({
					id: 'vdhr105_node.html',
					url: 'vdhr105_node.html',
					createNew: true,
					extras: {
						teamBillCom: teamBillCom, // 1.管理单位代码	// 不变
						teamBillComName: teamBillComName, // 2.管理单位名称	// 不变
						fbill_no: fbill_no, // 3.fbill_no是		// 不变
						loginCom: loginCom, // 4.登录单位代码
						loginComName: loginComName, // 5.登录单位名称
						userbillNo: userbillNo, // 6.登录人的代码
						userName: userName, // 7.登录人的姓名
						privileges: privileges, // 8.当前的权限是
						fromPage: "vdhr105_list.html", // 9.从哪个页面来
						detailInfo: rowObj,
						deptname: rowObj.bill_name
					},
				    waiting:{
						autoShow:true,//自动显示等待框，默认为true
						title:'正在打开页面...',//等待对话框上显示的提示内容
					}
				});
			});
		});

		//下拉刷新
		function pulldownRefresh() {
			queryparmas.currentPage = 1;
			queryparmas.pageSize = pageSize;
			mui('#vdhr105_list').pullRefresh().refresh(true);
			document.getElementById("showHint").style.display = "none";
			// 发送请求
			rqsDataAjax(queryparmas, queryport, reportData, '../login.html',true);
			mui('#vdhr105_list').pullRefresh().endPulldownToRefresh(); //下拉完成后可以再次执行下拉刷新
		}

		// 上拉加载具体业务实现
		function pullupRefresh() {

			if(queryparmas.currentPage < pager.totalPage) {
				queryparmas.currentPage = queryparmas.currentPage + 1;
				queryparmas.pageSize = pageSize;
			} else {
				plus.nativeUI.toast("~没有更多啦~", {
					'verticalAlign': "middle"
				});
				mui('#vdhr105_list').pullRefresh().endPullupToRefresh();
				return;
			}
			// 发送请求
			plus.nativeUI.showWaiting("正在查询数据..."); 
			rqsDataAjax(queryparmas, queryport, reportData, '../login.html',false);
			mui('#vdhr105_list').pullRefresh().endPullupToRefresh();
		}
		//
		function reportData(data,type) {
			if(data.code == 0) {
				var datas = data.data;
				pager = data.page[0];
				if(datas.length != 0) {
					var contList = document.getElementById("contList");
					for(var i = 0; i < datas.length; i++) {
						if(datas[i].bill_task == "S") {
							var bill_task = "待审核";
						}
						if(datas[i].bill_task == "Y") {
							var bill_task = "已审核";
						}
						if(datas[i].bill_task == "L") {
							var bill_task = "待送审";
						}
						if(type&&i==0){
							contList.innerHTML = "";
						}
						var li = document.createElement("li");
						li.setAttribute("data-row",JSON.stringify(data.data[i]));
						li.setAttribute("class", "mui-table-view-cell");
						li.style.padding = "10px";
						li.style.height = "70px";
						li.style.background = "#fff";
						li.style.marginBottom = "3px";
						var text = "";
						text += '<div class="mui-slider-cell  mui-slider-handle">';
						text += '<div class="mui-row">';
						text += '<div class="mui-col-xs-2 mui-row" style="background:;padding:5px;width:55px;">';
						text += '<img class="vdhr105 mui-col-xs-12" src="../../images/loading.gif"  id="' + datas[i]["bill_no"] + '" />';
						text += '</div>';
						text += '<div class="mui-col-xs-7 mui-row" style="background:;height:50px;">';
						text += '<h5 class="list_h5 mui-col-xs-12" style="color:#242424;padding-top:1px">' + datas[i]["bill_name"] +'('+datas[i]["bill_nunit"]+ ')</h5>';
						text += '<p class="list_font mui-col-xs-12">'+datas[i]["bill_nuser"]+'</p>';
						text += '<p class="list_font mui-col-xs-12">'+datas[i]["bill_qtask"]+'</p>';
						text += '</div>';
						text += '<div class="mui-col-xs-3 mui-row list_three" style="background:;text-align: right;">';
						text += '<p class="list_fonts mui-col-xs-12" style="float:right;">' + datas[i]["bill_id"] + '</p>';
						text += '<p class="list_fonts mui-col-xs-12" style="float:right;margin-top:3px;">' + (datas[i]["bill_date"]).slice(2, 10) + '</p>';
						text += '<p class="list_sts mui-col-xs-8" style="float:right;margin-top:3px;height: 16px;width:60px;">' + bill_task + '</p>';
						text += '</div>';
						text += '</div>';
						text += '</div>';
						text += '</div>';
						if(type&&i==0){
							document.getElementById("searching").style.display = "none";
						}
						li.innerHTML = text;
						contList.appendChild(li);
						vlUtils.downloadicon(datas[i].bill_no, datas[i].bill_no);
					}
				} else {
					document.getElementById("contList").innerHTML = "";
					document.getElementById("searching").style.display = "none";
					document.getElementById("showHint").style.display = "block";
				}
			}
			plus.nativeUI.closeWaiting();
		}
	</script>

</html>